<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      Patient Appointment &nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-4">
                <p-fieldset legend="Information" class="with-caption">
                  <div class="control-separator-bottom"></div>

                  <app-date-box
                    [(ngModel)]="CurrentObject.DateStart"
                    name="DateStart"
                    caption="Date Start"
                    [required]="true"
                    labelPosition="top"
                    [show-time]="true"
                  >
                  </app-date-box>

                  <div class="control-separator-bottom"></div>

                  <app-date-box
                    [(ngModel)]="CurrentObject.DateEnd"
                    name="DateEnd"
                    caption="Date End"
                    [required]="true"
                    labelPosition="top"
                    [show-time]="true"
                  >
                  </app-date-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Name_FilingStatus"
                    [readOnly]="true"
                    name="Name_FilingStatus"
                    caption="Status"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
              <div class="col-lg-4">
                <p-fieldset legend="Patient Information" class="with-caption">
                  <div class="control-separator-bottom"></div>

                  <app-select-box
                    #ID_SOAPType_SelectBox
                    [(ngModel)]="CurrentObject.ID_SOAPType"
                    name="ID_SOAPType"
                    caption="Type"
                    [required]="true"
                    [option]="ID_SOAPType_SelectBoxOption"
                    labelPosition="top"
                    (onValueChanged)="
                      ID_SOAPType_SelectBox_ValueChanged($event)
                    "
                  >
                  </app-select-box>

                  <div class="control-separator-bottom"></div>

                  <app-lookup-box
                    #ID_Client_LookUpBox
                    [(ngModel)]="CurrentObject.ID_Client"
                    name="ID_Client"
                    caption="Client"
                    [required]="true"
                    [option]="ID_Client_LookupBoxOption"
                    (onSelectedItem)="
                      ID_Client_LookUpBox_onSelectedItem($event)
                    "
                    labelPosition="top"
                  >
                  </app-lookup-box>

                  <div class="control-separator-bottom"></div>

                  <app-lookup-box
                    #ID_Patient_LookUpBox
                    [(ngModel)]="CurrentObject.ID_Patient"
                    name="ID_Patient"
                    caption="Patient"
                    [required]="true"
                    [option]="ID_Patient_LookupBoxOption"
                    (onSelectedItem)="
                      ID_Patient_LookUpBox_onSelectedItem($event)
                    "
                    labelPosition="top"
                  >
                  </app-lookup-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>

              <div class="col-lg-12">
                <div class="control-separator-bottom"></div>

                <app-text-area
                  [(ngModel)]="CurrentObject.Comment"
                  name="Comment"
                  caption="Comment"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-area>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>
