<custom-dialog-box
  #CustomDialogBox
  size="md"
  [title]="title"
  [closeOnPositiveButton]="false"
  (onPositiveButtonClick)="onPositiveButtonClick($event)"
  [childTemplate]="addItemChildTemplate"
>
</custom-dialog-box>

<ng-template #addItemChildTemplate>
  <app-form
    #appForm
    [CurrentObject]="CurrentObject"
    [style.margin-bottom.px]="50"
  >
    <p-tabView>
      <p-tabPanel header="Information" class="oid-control tab-panel-custom">
        <app-date-box
          [(ngModel)]="CurrentObject.Date"
          name="Date"
          caption="Date Paid"
          labelPosition="top"
          [show-time]="false"
        ></app-date-box>

        <div class="control-separator-bottom"></div>

        <app-number-box
          [(ngModel)]="CurrentObject.RemaningAmount"
          name="RemaningAmount"
          caption="Remaining Amount"
          labelPosition="top"
          [readOnly]="true"
        >
        </app-number-box>
        <div class="control-separator-bottom"></div>

        <app-number-box
          [(ngModel)]="CurrentObject.CashAmount"
          name="Amount"
          caption="Amount"
          labelPosition="top"
          [required]="true"
          [max]="CurrentObject.RemaningAmount"
        >
        </app-number-box>

        <div class="control-separator-bottom"></div
      ></p-tabPanel>
    </p-tabView>
  </app-form>
</ng-template>
