.filter-buttons {
    button {
        margin-left: 3px;
    }
}

.hide-filter {
    .main-box {
        width: 100%!important;
        height: 100%!important;
    }
    .filter-box {
        display: none;
    }
}