<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <a href="./">
          <img
            src="https://villa-silvio.com/images/joomlart/404-page.jpg"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</div>
