<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h5>{{ title }}</h5>
  </div>

  <div class="modal-body">
    <ng-container [ngTemplateOutlet]="childTemplate"></ng-container>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      *ngIf="IsShowBtnPositive"
      class="btn btn-primary"
      (click)="btnPositive_OnClick(modal)"
    >
      {{ captionPositiveButton }}
    </button>
    <button
      type="button"
      *ngIf="IsShowBtnNegative"
      class="btn btn-danger"
      (click)="btnNegative_OnClick(modal)"
    >
      {{ captionNegativeButton }}
    </button>
  </div>
</ng-template>
