<report-viewer
  #reportviewer
  [filterContentTemplate]="filterContentTemplate"
  (onbtnSaveClick)="onbtnSaveClick()"
  (onbtnClearClick)="onbtnClearClick()"
></report-viewer>

<ng-template #filterContentTemplate>
  <!--  <admin-lte-texbox
    name="Name_Item"
    caption="Resident Name"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox> -->

  <admin-lte-checkbox
    name="IsPermanent"
    caption="Permanente"
    [initialValue]="CurrentObject.IsPermanent"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-checkbox>

  <admin-lte-checkbox
    name="IsMigrante"
    caption="Migrante"
    [initialValue]="CurrentObject.IsMigrante"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-checkbox>

  <admin-lte-checkbox
    name="IsTransient"
    caption="Transient"
    [initialValue]="CurrentObject.IsTransient"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-checkbox>

  <admin-lte-data-lookupbox
    name="ID_Gender"
    displayName="Name_Gender"
    caption="Kasarian"
    [initialValue]="CurrentObject.ID_Gender"
    [initialDisplayValue]="CurrentObject.Name_PaymentMethod"
    [option]="ID_Gender_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-checkbox
    name="IsPregnant"
    caption="Pregnant"
    [initialValue]="CurrentObject.IsPregnant"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-checkbox>

  <admin-lte-data-lookupbox
    name="ID_IsVaccinated"
    displayName="Name_IsVaccinated"
    caption="Vaccinated"
    [initialValue]="CurrentObject.ID_IsVaccinated"
    [initialDisplayValue]="CurrentObject.Name_IsVaccinated"
    [option]="ID_IsVaccinated_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="AssignedBHW_ID_Employee"
    displayName="AssignedBHW_Name_Employee"
    caption="Assigned BHW"
    [initialValue]="CurrentObject.AssignedBHW_ID_Employee"
    [initialDisplayValue]="CurrentObject.AssignedBHW_Name_Employee"
    [option]="AssignedBHW_ID_Employee_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-texbox
    name="AgeStart"
    caption="Starting Age"
    [initialValue]="CurrentObject.AgeStart"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
    name="AgeEnd"
    caption="Ending Age"
    [initialValue]="CurrentObject.AgeEnd"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>

  <div class="custom-slider">
    <ngx-slider
      [(value)]="CurrentObject.AgeStart"
      [(highValue)]="CurrentObject.AgeEnd"
      [options]="options"
    ></ngx-slider>
  </div>
</ng-template>
