<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">Confinement &nbsp;</div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-9" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: hidden"
            >
              <div class="p-col-12">
                <ng-template [ngTemplateOutlet]="ListTable"></ng-template>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <ng-template [ngTemplateOutlet]="filter"></ng-template>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ListTable>
  <p-table
    class="flexcolumn"
    [value]="dataSource"
    selectionMode="single"
    [(selection)]="selectedRecord"
    dataKey="ID"
    [scrollable]="true"
    [responsive]="false"
    sortMode="multiple"
    [(scrollHeight)]="mainboxHeight"
  >
    <ng-template pTemplate="header">
      <tr>
        <th (click)="tableHeader_onClick('Date')" style="width: 150px">
          Date Confinement
        </th>
        <th (click)="tableHeader_onClick('Code')" style="width: 120px">Code</th>
        <th (click)="tableHeader_onClick('Name_Client')" style="width: 200px">
          Owner's Name
        </th>
        <th (click)="tableHeader_onClick('Name_Patient')" style="width: 200px">
          Pet's Name
        </th>
        <th
          (click)="tableHeader_onClick('ConfinementDays')"
          style="width: 140px"
        >
          Confinement Days
        </th>
        <th
          (click)="tableHeader_onClick('Name_FilingStatus')"
          style="width: 100px"
        >
          Status
        </th>
        <th
          (click)="tableHeader_onClick('BillingInvoice_Name_FilingStatus')"
          style="width: 100px"
        >
          Bill Status
        </th>
        <th style="width: 80px">Open Tab</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
      <tr
        [pSelectableRow]="record"
        class="row-detail"
        (dblclick)="tableRowDetail_onClick(record)"
      >
        <td style="width: 150px; text-align: center">
          {{ record.Date | date: "MM/dd/yyyy" }}
        </td>
        <td style="width: 120px; text-align: center">{{ record.Code }}</td>
        <td style="width: 200px">{{ record.Name_Client }}</td>
        <td style="width: 200px">{{ record.Name_Patient }}</td>
        <td style="width: 140px; text-align: center">
          {{ record.ConfinementDays }}
        </td>
        <td
          style="width: 100px; text-align: center"
          class="ConfineStatus ConfineStatus_{{
            record.Name_FilingStatus == null
              ? ''
              : record.Name_FilingStatus.replace(' ', '')
          }}"
        >
          {{ record.Name_FilingStatus }}
        </td>
        <td
          style="width: 100px; text-align: center"
          class="BillStatus BillStatus_{{
            record.BillingInvoice_Name_FilingStatus == null
              ? ''
              : record.BillingInvoice_Name_FilingStatus.replace(' ', '')
          }}"
        >
          {{ record.BillingInvoice_Name_FilingStatus }}
        </td>
        <td
          style="width: 80px; text-align: center"
          (click)="btnNewTab_OnClick(record)"
        >
          <button type="button" class="btn btn-sm btn-light">
            <span class="pi pi-sign-in"></span>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #filter>
  <h5 style="font-weight: bold; margin-bottom: 8px">
    <span class="mdi mdi-filter"></span> Filters
  </h5>

  <app-form
    #appForm
    [CurrentObject]="CurrentObject"
    [style.margin-bottom.px]="50"
  >
    <p-accordion #filterAccordioView [multiple]="true">
      <p-accordionTab id="Code" [transitionOptions]="'0ms'" header="Code">
        <div style="margin-bottom: 5px" class="oid-control">
          <app-text-box
            [(ngModel)]="CurrentObject.Code"
            name="Code"
            caption="Code"
            labelPosition="top"
            [filterMode]="true"
            (keyup)="filterOnKeyUp($event)"
          ></app-text-box>
        </div>
      </p-accordionTab>
      <p-accordionTab
        id="Name_Client"
        [transitionOptions]="'0ms'"
        header="Owner Name"
      >
        <div style="margin-bottom: 5px" class="oid-control">
          <app-text-box
            [(ngModel)]="CurrentObject.Name_Client"
            name="Name_Client"
            caption=""
            labelPosition="top"
            [filterMode]="true"
            (keyup)="filterOnKeyUp($event)"
          ></app-text-box>
        </div>
      </p-accordionTab>
      <p-accordionTab
        id="Name_Patient"
        [transitionOptions]="'0ms'"
        header="Pet's Name"
      >
        <div style="margin-bottom: 5px" class="oid-control">
          <app-text-box
            [(ngModel)]="CurrentObject.Name_Patient"
            name="Name_Patient"
            caption=""
            labelPosition="top"
            [filterMode]="true"
            (keyup)="filterOnKeyUp($event)"
          ></app-text-box>
        </div>
      </p-accordionTab>
      <p-accordionTab
        id="ID_FilingStatus"
        [transitionOptions]="'0ms'"
        header="Status"
      >
        <div style="margin-bottom: 5px" class="oid-control">
          <app-select-box
            #ID_Position_SelectBox
            [(ngModel)]="CurrentObject.ID_FilingStatus"
            name="ID_FilingStatus"
            caption="Status"
            [option]="ID_FilingStatus_SelectBoxOption"
            labelPosition="top"
            [filterMode]="true"
            (onValueChanged)="filterOnChange($event)"
          >
          </app-select-box>
        </div>
      </p-accordionTab>
    </p-accordion>
  </app-form>
</ng-template>

<loading-screen [isLoading]="isLoading"></loading-screen>

