<custom-dialog-box
  #CustomDialogBox
  size="md"
  title="Change Status"
  [closeOnPositiveButton]="false"
  [childTemplate]="addItemChildTemplate"
  (onPositiveButtonClick)="onPositiveButtonClick($event)"
>
</custom-dialog-box>

<ng-template #addItemChildTemplate>
  <app-select-box
    #Appointment_ID_FilingStatus_SelectBox
    [(ngModel)]="CurrentObject.Appointment_ID_FilingStatus"
    name="Appointment_ID_FilingStatus"
    caption="Appointment Status"
    [required]="true"
    [option]="Appointment_ID_FilingStatus_SelectBoxOption"
    labelPosition="top"
    (onValueChanged)="
      Appointment_ID_FilingStatus_SelectBox_ValueChanged($event)
    "
  >
  </app-select-box>

  <div class="control-separator-bottom"></div>

  <app-text-area
    [(ngModel)]="CurrentObject.Appointment_CancellationRemarks"
    name="Appointment_CancellationRemarks"
    caption="Reason"
    [readOnly]="CurrentObject.Appointment_ID_FilingStatus != 4"
    labelPosition="top"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
  >
  </app-text-area>
</ng-template>
