<app-control #appContainer (cssClass)="getCssClass()">
  <textarea #textArea [(ngModel)]="value"  
  (ngModelChange)="onTextArea_ValueChange($event)" pInputTextarea  
  (keydown)="onKeyDown($event)"
  [readOnly]="readOnly"
  autoResize="autoResize" [style.height.px]="height"></textarea>
</app-control>