<div
  style="
    position: absolute;
    display: block;
    z-index: 1000;
    flex: 1;
    width: 100%;
  "
  (keydown)="onKeyDown($event)"
>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="Main">
      <img src="assets/logo1.jpg" style="height: 42px" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li
          *ngFor="let menuItem of menuItems"
          class="nav-item dropdown d-block d-sm-block d-md-block d-lg-none"
        >
          <a
            *ngIf="menuItem.items != undefined"
            class="nav-link dropdown-toggle"
            href="javascript:void(0);"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ menuItem.label }}
          </a>

          <div
            *ngIf="menuItem.items != undefined"
            class="dropdown-menu"
            style="padding-left: 23px"
            aria-labelledby="navbarDropdown"
          >
            <a
              *ngFor="let menuSubItem of menuItem.items"
              style="font-size: 14px"
              [routerLink]="menuSubItem.routerLink"
              class="dropdown-item"
              href="javascript:void(0);"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
            >
              {{ menuSubItem.label }}
            </a>
          </div>

          <a
            [routerLink]="menuItem.routerLink"
            *ngIf="menuItem.items == undefined"
            class="nav-link"
            href="#"
          >
            {{ menuItem.label }}
          </a>
        </li>

        <!-- <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['SendMessage']"
            href="javascript:void(0);"
            style="font-size: 13px; font-weight: bold"
          >
            <i class="pi pi-mobile"></i> Send Text Message
          </a>
        </li> -->

        <li class="nav-item">
          <div
            class="nav-link nav-item"
            href="javascript:void(0);"
            style="font-size: 13px"
          >
            {{ CompanyName }}
          </div>
        </li>

        <li class="nav-item dropdown d-block d-sm-block d-md-block d-lg-none">
          <a
            class="nav-link dropdown-toggle"
            href="javascript:void(0);"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Logged as {{ currentUserSession?.Name_Employee }}
          </a>

          <div
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
            style="padding-left: 23px"
          >
            <a
              style="font-size: 14px"
              class="dropdown-item"
              (click)="LogOutUser()"
              href="javascript:void(0);"
            >
              Logout
            </a>
          </div>
        </li>
      </ul>

      <ul
        class="navbar-nav navbar-right d-none d-lg-block d-xl-block d-xl-block"
      >
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="javascript:void(0);"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ currentUserSession?.Name_Employee }} ({{ Name_Position }})
          </a>

          <div
            class="dropdown-content"
            style="padding: 6px; right: 0px"
            aria-labelledby="navbarDropdown"
          >
            <a
              style="font-size: 14px"
              class="dropdown-item"
              (click)="LogOutUser()"
              href="javascript:void(0);"
            >
              Logout
            </a>
          </div>
        </li>
      </ul>

      <div
        *ngIf="IsShowPaymentWarningLabel"
        class="d-none d-lg-block d-xl-block d-xl-block"
        style="
          font-size: 13px;
          font-weight: bold;
          color: #ff6c6c;
          position: absolute;
          left: 37%;
          top: 13px;
          width: 339px;
          text-align: center;
        "
      >
        Your subscription will expire in 24 hours. Please contact our billing team to avoid service interruption
      </div>
    </div>
  </nav>

  <button
    *ngIf="false"
    style="position: absolute; bottom: -31px; right: 0"
    class="btn btn-secondary btn-sm d-block d-sm-block d-md-block d-lg-none"
    (click)="btnQRCode_onClick()"
  >
    <i class="fas fa-qrcode"></i>
  </button>
</div>

<div class="row" style="padding-top: 80px; flex: 1; height: 100%">
  <div
    class="col-lg-2 d-none d-lg-block d-xl-block d-xl-none"
    style="padding: 0px; margin-top: 0px"
  >
    <div
      class="d-flex flex-column expand container"
      style="padding: 0px 0px 0px 16px; margin-top: 0px; background-color: #fff"
    >
      <div class="module-header" style="height: auto">
        <input
          type="text"
          class="form-control"
          placeholder="Search..."
          (keydown)="onSearchBox_KeyDown($event)"
          [(ngModel)]="searchValue"
        />
        <div *ngIf="false" class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search..."
            (keydown)="onSearchBox_KeyDown($event)"
            [(ngModel)]="searchValue"
          />
          <div class="input-group-append">
            <button
              class="btn btn-secondary btn-sm"
              (click)="btnQRCode_onClick()"
            >
              <i class="fas fa-qrcode"></i>
            </button>
          </div>
        </div>
      </div>

      <div
        class="d-flex flex-fill module-content"
        style="height: 1px; background-color: #fff"
      >
        <perfect-scrollbar
          style="max-width: 100%; max-height: 100%; background-color: #fff"
        >
          <p-panelMenu
            #panelMenu
            (contextmenu)="onRight_Click($event)"
            [model]="menuItems"
            [multiple]="false"
          >
          </p-panelMenu>

          <p-contextMenu
            #contextMenu
            *ngIf="isShowAdminContextMenu"
            [model]="contextMenus"
            (onShow)="onContextMenu_Show()"
            appendTo="body"
            [baseZIndex]="11000"
          >
          </p-contextMenu>
        </perfect-scrollbar>
      </div>
    </div>
  </div>

  <div
    class="col-xs-12 col-lg-10"
    style="padding-left: 16px; padding-right: 16px"
  >
    <router-outlet></router-outlet>
  </div>

  <qrcode-scan-redirect-record-dialog
    #qrcodescanredirectrecorddialog
  ></qrcode-scan-redirect-record-dialog>
</div>
