.container-full {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .box-2 {
      flex: 1;
    }
  
    .box-3 {
      background-color: red;
      height: 60px;
    }
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  
  .dropdown-toggle {
    font-size: 14px;
    font-weight: bold;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    cursor: pointer;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #02028014;
  }

  .bg-dark{

    background-color: black !important;
  }

  .navbar-dark .navbar-nav .nav-link{

    color: white;
    font-weight: 100;
  }

  body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a {

    background-color: black !important;
  }