<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">Schedule &nbsp;</div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-9" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: hidden"
            >
              <div class="p-col-12">
                <p-table
                  class="flexcolumn"
                  [value]="dataSource"
                  selectionMode="single"
                  [(selection)]="selectedRecord"
                  dataKey="UniqueID"
                  [scrollable]="true"
                  [responsive]="false"
                  sortMode="multiple"
                  [(scrollHeight)]="mainboxHeight"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        class="col-id"
                        pSortableColumn="ID"
                        style="display: none"
                      >
                        <span>ID</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Date')"
                        style="width: 140px"
                      >
                        <span>Date & Time</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('ReferenceCode')"
                        style="width: 100px"
                      >
                        <span>Ref Code</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Name_Client')"
                        style="width: 120px"
                      >
                        Owner's Name
                      </th>
                      <th
                        (click)="tableHeader_onClick('Name_Patient')"
                        style="width: 120px"
                      >
                        Pet's Name
                      </th>
                      <th
                        (click)="tableHeader_onClick('Description')"
                        style="width: 170px"
                      >
                        <span>Description</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('ContactNumber')"
                        style="width: 170px"
                      >
                        <span>Contact Number</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Name_FilingStatus')"
                        style="width: 100px; text-align: center"
                      >
                        <span>Status</span>
                      </th>
                      <th style="width: 80px">Open Tab</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record>
                    <tr
                      [pSelectableRow]="record"
                      class="row-detail record-{{ record.Name_Model }}{{
                        record.ID_FilingStatus == 13
                          ? '-' + record.Name_FilingStatus
                          : ''
                      }}"
                    >
                      <td class="col-id" style="display: none">
                        {{ record.ID }}
                      </td>
                      <td
                        (dblclick)="tableRowDetail_onClick(record)"
                        style="text-align: center; width: 140px"
                      >
                        {{ record.DateStart | date: "MM/dd/yyyy" }} {{ record.TimeCoverage }}
                      </td>
                      <td
                        (dblclick)="tableRowDetail_onClick(record)"
                        style="text-align: center; width: 100px"
                      >
                        {{ record.ReferenceCode }}
                      </td>
                      <td
                        (dblclick)="tableRowDetail_onClick(record)"
                        style="width: 120px"
                      >
                        {{ record.Name_Client }}
                      </td>
                      <td
                        (dblclick)="tableRowDetail_onClick(record)"
                        style="width: 120px"
                        class="text-center"
                      >
                        {{ record.Name_Patient }}
                      </td>
                      <td style="width: 170px">
                        {{ record.Description }}
                      </td>
                      <td
                        (click)="tableHeader_onClick('ContactNumber')"
                        style="width: 170px"
                      >
                        <span>{{ record.ContactNumber }}</span>
                      </td>
                      <td
                        style="width: 100px; text-align: center"
                        class="AppointmentStatus AS_{{
                          record.Appointment_Name_FilingStatus == null
                            ? ''
                            : record.Appointment_Name_FilingStatus.replace(
                                ' ',
                                ''
                              )
                        }}"
                        (click)="
                          Col_Appointment_Name_FilingStatus_onClick(record)
                        "
                      >
                        {{ record.Appointment_Name_FilingStatus }}
                      </td>
                      <td
                        style="width: 80px; text-align: center"
                        (click)="btnNewTab_OnClick(record)"
                      >
                        <button type="button" class="btn btn-sm btn-light">
                          <span class="pi pi-sign-in"></span>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <app-form
                  #appForm
                  [CurrentObject]="CurrentObject"
                  [style.margin-bottom.px]="50"
                >
                  <p-accordion #filterAccordioView [multiple]="true">
                    <p-accordionTab
                      id="DateStart"
                      [transitionOptions]="'0ms'"
                      header="Date"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-date-box
                          [(ngModel)]="CurrentObject.DateStart"
                          name="DateStart"
                          caption="Date"
                          labelPosition="top"
                          [show-time]="false"
                          [filterMode]="true"
                        ></app-date-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="ReferenceCode"
                      [transitionOptions]="'0ms'"
                      header="Ref. Code"
                      (click)="accordionfilterClick($event)"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.ReferenceCode"
                          name="ReferenceCode"
                          caption="Ref. Code"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Name_Client"
                      [transitionOptions]="'0ms'"
                      header="Owner's Name"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Name_Client"
                          name="Name_Client"
                          caption="Owner's Name"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Name_Patient"
                      [transitionOptions]="'0ms'"
                      header="Pet's Name"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Name_Patient"
                          name="Name_Patient"
                          caption="Pet's Name"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Appointment_ID_FilingStatus"
                      [transitionOptions]="'0ms'"
                      header="Status"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-select-box
                          #ID_Position_SelectBox
                          [(ngModel)]="
                            CurrentObject.Appointment_ID_FilingStatus
                          "
                          name="Appointment_ID_FilingStatus"
                          caption="Status"
                          [option]="Appointment_ID_FilingStatus_SelectBoxOption"
                          labelPosition="top"
                          [filterMode]="true"
                          (onValueChanged)="filterOnChange($event)"
                        >
                        </app-select-box>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </app-form>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>


<appointment-schedule-status
  #appointmentschedulestatus
></appointment-schedule-status>
