<p-menubar [model]="menuItems" *ngIf="menuItems.length > 0"> </p-menubar>

<p-table
  [value]="dataSource"
  selectionMode="single"
  styleClass="p-datatable-sm"
  [(selection)]="selectedRecord"
  (onRowSelect)="List_onRowSelect($event)"
  (onRowUnselect)="List_onRowUnselect($event)"
  dataKey="ID"
  [scrollable]="true"
  rowHover="true"
  scrollHeight="300px"
  [style]="{
    height: '300px',
    'background-color': 'gray'
  }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 110px">Date</th>
      <th style="width: 110px">Ref #</th>
      <th>Comment</th>
      <th style="width: 110px">Amount</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-record>
    <tr [pSelectableRow]="record">
      <td style="width: 110px" class="text-center">
        {{ record.Date | date: "MM/dd/yyyy" }}
      </td>
      <td style="width: 110px" class="text-center">{{ record.Code }}</td>
      <td>{{ record.Comment }}</td>
      <td style="width: 110px" class="text-right">
        {{ record.CreditAmount | number: "1.2" }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td class="text-right">Current Credit Amount</td>
      <td style="width: 110px" class="text-right">
        {{ CurrentCreditAmount | number: "1.2" }}
      </td>
    </tr>
  </ng-template>
</p-table>

<client-credit-adjustment-dialogbox
  #clientcreditadjustmentdialogbox (onSavedCreditAmount)="clientcreditadjustmentdialogbox_onSavedCreditAmount($event)"
></client-credit-adjustment-dialogbox>

<div class="control-separator-bottom"></div>
