<div class="expand parent" style="position: relative;">
  <section>
      <h1><span class="pi pi-lock" [class.mdi-home-circle]="true"></span></h1>
      <div class="module-title">
        Access to Module not allowed.   
      </div>
      Contact your system administrator
  </section>
</div>
