<style>
  html,
  body {
    background-color: black;
  }
  .container {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: #222;
    background-image: url("./assets/bg.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login-wrap {
    background-color: #f2f2f2;
    padding: 2em;
    width: 420px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .btn-login {
    border: 1px solid #2f4f4f;
  }

  .btn-login:hover {
    background-color: #2f4f4f;
    color: #f2f2f2;
  }

  .login-wrap img {
    width: 100%;
    margin-bottom: 1.5em;
    border-radius: 5px;
  }
</style>

<div style="display: block; width: 100%; height: 100%; background-color: black">
  <div class="container">
    <div class="login-wrap">
      <img src="/assets/logo.jpg" />
      <form action="" method="post" autocomplete="off">
        <div class="form-group has-feedback">
          <label><i class="fa fa-envelope"></i> Username</label>
          <input
            type="text"
            name="Username"
            [(ngModel)]="Username"
            class="form-control"
            placeholder="Please enter Username"
            (keydown)="onKeyDown($event)"
          />
        </div>
        <div class="form-group has-feedback">
          <label><i class="fa fa-lock"></i> Password</label>
          <input
            type="password"
            name="Password"
            [(ngModel)]="Password"
            class="form-control"
            placeholder="Please enter password"
            (keydown)="onKeyDown($event)"
          />
          <a href="" id="show-hide_password"
            ><span
              id="pass_icon"
              class="glyphicon glyphicon-eye-close"
              style="
                position: absolute;
                top: 25px;
                right: 0;
                z-index: 2;
                display: block;
                width: 34px;
                height: 34px;
                line-height: 34px;
                text-align: center;
                color: #2f4f4f;
              "
            ></span
          ></a>
        </div>
        <div class="form-group has-feedback">
          <div style="display: block; height: 33px; color: red">
            {{ this.ErrorMessage }}
          </div>
          <button
            type="button"
            class="btn btn-login btn-block btn-flat"
            (click)="LogIn()"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
