@import "../../../palette.less";

.caption {
  display: table;
  height: 100%;
  width: 100%;

  .label {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    //font-weight: bold;
    font-size: 12px;
  }
}

/deep/ .ng-select>.ng-select-container,
/deep/ .form-control,
/deep/ .ui-inputtext,
/deep/ .ui-dropdown,
/deep/ .ui-calendar {
  width: 100%;
  min-width: 50%;
}

.jf-required {

  /deep/ .ng-select>.ng-select-container,
  /deep/ .form-control,
  /deep/ .ui-inputtext,
  /deep/ .ui-dropdown,
  /deep/ .ui-calendar {
    background-color: @required-bg;
    border-color: @required-border;
  }

  /deep/ .ui-dropdown-trigger {
    background-color: @required-bg;
    border-color: @required-border;
  }

  /deep/ .form-control:focus,
  /deep/ .ng-select.ng-select-focused>.ng-select-container {
    border-color: @required-border  !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25) !important;
  }
}

/deep/ .form-control {
  border-radius: 0;
}

/deep/ .ng-select.ng-select-focused>.ng-select-container,
/deep/ .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}
nav
/deep/ input {
  width: 100%;
}

/deep/ .parent {
  position: relative;
}

.info {
  position: absolute;
  top: 1px;
  right: 10px;

  .addon {
    font-size: 19px;
    display: inline;

    &.invalid-icon {
      display: none;
      color: @required-border;
    }

    &.clear-button {
      color: lightgray;

      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
}

.jf-validated {
  .invalid-icon {
    display: inline !important;
  }

  &.jf-focused {
    .validation-message {
      display: block !important;
    }
  }
}

.validation-message {
  position: absolute;
  display: none;
  top: 100%;
  font-size: 13px;
  width: 100%;
  z-index: 1;
  background-color: @required-border;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: #fff;
}

.jf-no-label {
  .label-container {
    display: none;
  }

  .control {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  
}

.row {
  margin-bottom: 0px;
}

:host:not(.jf-no-label) {
  .label-top {

    .control,
    .label-container {
      flex: 0 0 100%;
      max-width: 100%;

      .label {
        text-align: left;
        padding-bottom: 5px;
      }
    }
  }
}

.required-msg {
  display: none;
  background-color: #ca0606;
  color:#fff;
  font-weight: bold;
  padding: 3px 5px 3px 5px;
  font-size: 11px!important;
  margin-top: 2px;
}

.jf-invalid {
  .required-msg {
    display: inline-block;
  }
}

.filterCriteriaValue {
  //background-color: darkgrey;
  //color:#fff;
  font-weight: bold;
  margin-top:13px;
}
:host {
  /deep/ .ui-button-text {
    padding-left: 0px!important;
    padding-right: 0px!important;
    font-size: 12px;
    font-weight: bold;
  }
  /deep/  .ui-splitbutton.ui-buttonset .ui-button {
    background-color:transparent!important;
    border-color: transparent!important;
  }
  /deep/ .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:focus {
    box-shadow: none!important;
  }
}
