<div class="d-flex flex-column expand" style="margin-top:0px;background-color: #fff;">

    <div class="module-header" style="height: auto;">

        <div class="module-title">
            <span class="inventory-link" (click)="gotoInventory()"> {{ item.Name }} </span> /
             Inventory Trail
        </div>

        <p-menubar
            [model]="menuItems"
            [hidden]="!(menuItems?.length > 0)">
        </p-menubar>
    </div>

    <div class="d-flex flex-fill module-content" style="height:1px;background-color: #fff;">

        <perfect-scrollbar style="max-width: 100%; max-height: 100%;padding-right: 12px;background-color: #fff;">

            <p-table 
                #dt
                [value]="inventoryTrails" 
                [paginator]="true" 
                [rows]="10" 
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]"
                [filterDelay]="0" 
                [globalFilterFields]="['Code','Name_FilingStatus']"
                [style]="{
                    'height': '400px',
                    'background-color': 'gray'
                }">

                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search here" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th>Document No.</th>
                        <th>Date</th>
                        <th>Quantity</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-inventory>
                    <tr>
                        <td>{{inventory.Code}}</td>
                        <td>{{inventory.DateString}}</td>
                        <td>{{inventory.Quantity}}</td>
                        <td>{{inventory.Name_FilingStatus}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>


        </perfect-scrollbar>

    </div>

</div>