<div #holder class="expand data-table-holder" [style.padding.px]="0" (keydown)="onKeyDown($event)"
    [tabindex]="tabIndex" style="border: solid 1px #ddd;background-color: darkgray;outline: none;"
    [ngClass]="{'grid-detail': isRemoteData !== true}">
    <div class="expand" [style.padding-right.px]="horizontalScrollWidth" [style.padding-bottom.px]="verticalScrollHeight" style="position: relative;">
        <div #container class="main-table d-flex flex-column expand" (contextmenu)="onRight_Click($event)">
            <div #colResizer class="resize-column-indicator" style="display:none"></div>

            <!-- [style.height.px]="tableHeader.offsetHeight" -->
            <div #gridHeader class="table-header" [style.height.px]="tableHeaderHeight">

                <div #baseHeaderTable style="position:absolute;z-index: 900;height: 100%;width: 100%;overflow: hidden;">
                    <table #tableHeader class="table base-table" style="margin-bottom: 0;max-width: 5000px;" [style.width.px]="tableWidth + 5 + ( this.multiSelect == true && baseColumns?.length > 0 ? 60 : 0 ) + ( this.groupColumns.length > 0 ? groupHeaderTdWidth : 0 )  + ( this.actionRowItems.length > 0 && gridItems.length > 0 ? actionRowItemColWidth * actionRowItems.length : 0 )"
                        (resized)="onTableHeader_Resized(tableHeader.offsetHeight)">
                        <thead>
                            <tr>
                                <th class="header-column group-header-th" *ngIf="groupColumns.length > 0" [style.width.px]="groupHeaderTdWidth"></th>
                                <th *ngIf="multiSelect == true && baseColumns?.length > 0" class="select-box header-column" [style.width.px]="60"></th>
                                <th class="header-column" *ngFor="let col of fixedLeftColumns" [style.width.px]="col.width" [ngClass]="'uid-' + col.uid">
                                    <div>
                                        {{col.caption}}
                                    </div>
                                </th>
                                <th #th class="header-column data-field" [attr.id]="'col-' + col.uid" *ngFor="let col of baseColumns;let colIndex = index" [style.width.px]="col.width + (colIndex == baseColumns.length - 1 ? 1 : 0)" [ngClass]="'uid-' + col.uid" (click)="onHeaderClick(col)"
                                    mwlDraggable [ghostDragEnabled]="true" [ghostElementAppendTo]="documentBody" dragActiveClass="dragging" (dragStart)="onColumnHeader_DragStart()" (dragging)="onColumnHeader_Dragging()" (dragEnd)="onColumnHeader_DragEnd($event,col, th)"
                                    (ghostElementCreated)="onColumnHeader_onGhostElementCreated($event)" [showOriginalElementWhileDragging]="true">
                                    <div>
                                        <ng-container *ngTemplateOutlet="
                                            headerColumn;
                                            context: {
                                                item: {
                                                col: col,
                                                isFixed: false
                                                }
                                            }"></ng-container>
                                    </div>
                                </th>
                                <th class="header-column" *ngFor="let col of fixedRightColumns" [style.width.px]="col.width" [ngClass]="'uid-' + col.uid">
                                    <div>
                                        {{col.caption}}
                                    </div>
                                </th>
                                <th #th class="header-column" [style.width.px]="actionRowItemColWidth * actionRowItems.length" *ngIf="actionRowItems.length > 0 && gridItems.length > 0">

                                </th>
                            </tr>

                            <tr class="filter-row" *ngIf="showFilterRow == true">
                                <th class="group-header-th" *ngIf="groupColumns.length > 0" [style.width.px]="groupHeaderTdWidth"></th>
                                <th *ngIf="multiSelect == true && baseColumns?.length > 0" class="select-box" [style.width.px]="60"></th>
                                <th *ngFor="let col of fixedLeftColumns" [style.width.px]="col.width" [ngClass]="'uid-' + col.uid">
                                    <!-- <div>
                    {{col.caption}}
                  </div> -->
                                </th>
                                <th *ngFor="let col of baseColumns" [style.width.px]="col.width" [ngClass]="'uid-' + col.uid">
                                    <ng-container *ngTemplateOutlet="filterCell;context: {
                        item: {
                          col: col,
                          isFixed: false
                        }
                    }"></ng-container>
                                </th>
                                <th *ngFor="let col of fixedRightColumns" [style.width.px]="col.width" [ngClass]="'uid-' + col.uid">
                                    <!-- <div>
                    {{col.caption}}
                  </div> -->
                                </th>
                                <th [style.width.px]="actionRowItemColWidth * actionRowItems.length" *ngIf="actionRowItems.length > 0 && gridItems.length > 0">

                                </th>
                            </tr>

                        </thead>
                    </table>
                </div>

                <table #leftFixedHeader class="table fixed-column fixed-column-left" style="margin-bottom: 0;background-color: transparent;" (resized)="onLeftFixedHeader_Resized(leftFixedHeader.offsetWidth)">
                    <thead>
                        <tr>
                            <th class="header-column group-header-th" *ngIf="groupColumns.length > 0" [style.width.px]="groupHeaderTdWidth"></th>
                            <th *ngIf="multiSelect == true && baseColumns?.length > 0" class="header-column select-box" [style.width.px]="60">
                                <!-- # -->
                            </th>
                            <th #th class="header-column" [attr.id]="'col-' + col.uid" *ngFor="let col of fixedLeftColumns" [style.width.px]="col.width" [ngClass]="'uid-' + col.uid" (click)="onHeaderClick(col)" mwlDraggable [ghostDragEnabled]="true" dragActiveClass="dragging"
                                [ghostElementAppendTo]="documentBody" (dragStart)="onColumnHeader_DragStart()" (dragging)="onColumnHeader_Dragging()" [showOriginalElementWhileDragging]="true" (ghostElementCreated)="onColumnHeader_onGhostElementCreated($event)"
                                (dragEnd)="onColumnHeader_DragEnd($event,col, th)">
                                <div>
                                    <ng-container *ngTemplateOutlet="
                                        headerColumn;
                                        context: {
                                            item: {
                                            col: col,
                                            isFixed: false
                                            }
                                        }"></ng-container>
                                </div>
                            </th>
                        </tr>

                        <tr class="filter-row" *ngIf="showFilterRow == true">
                            <th class="group-header-th" *ngIf="groupColumns.length > 0" [style.width.px]="groupHeaderTdWidth"></th>
                            <th *ngIf="multiSelect == true && baseColumns?.length > 0" class="select-box" [style.width.px]="60">
                            </th>
                            <th id="{{'col-' + col.uid}}" *ngFor="let col of fixedLeftColumns" [style.width.px]="col.width" [ngClass]="'uid-' + col.uid">
                                <ng-container *ngTemplateOutlet="filterCell;context: {
                    item: {
                      col: col,
                      isFixed: false
                    }
                  }"></ng-container>
                            </th>
                        </tr>

                    </thead>
                </table>

                <table #rightFixedHeader class="table fixed-column fixed-column-right" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th #th class="header-column" [attr.id]="'col-' + col.uid" *ngFor="let col of fixedRightColumns" [style.width.px]="col.width" [ngClass]="'uid-' + col.uid" (click)="onHeaderClick(col)" mwlDraggable [ghostDragEnabled]="true" [ghostElementAppendTo]="documentBody"
                                dragActiveClass="dragging" (dragStart)="onColumnHeader_DragStart()" [showOriginalElementWhileDragging]="true" (dragging)="onColumnHeader_Dragging()" (ghostElementCreated)="onColumnHeader_onGhostElementCreated($event)" (dragEnd)="onColumnHeader_DragEnd($event,col, th)">
                                <div>
                                    <ng-container *ngTemplateOutlet="
                                        headerColumn;
                                        context: {
                                        item: {
                                            col: col,
                                            isFixed: false
                                        }
                                        }"></ng-container>
                                </div>
                            </th>
                            <th #th class="header-column" [style.width.px]="actionRowItemColWidth * actionRowItems.length" *ngIf="actionRowItems.length > 0 && gridItems.length > 0">

                            </th>
                        </tr>

                        <tr class="filter-row" *ngIf="showFilterRow == true">
                            <th id="{{'col-' + col.uid}}" *ngFor="let col of fixedRightColumns" [style.width.px]="col.width" [ngClass]="'uid-' + col.uid">
                                <div>
                                    <ng-container *ngTemplateOutlet="filterCell;context: {
                      item: {
                        col: col,
                        isFixed: false
                      }
                    }"></ng-container>
                                </div>
                            </th>
                            <th #th class="header-column" [style.width.px]="actionRowItemColWidth * actionRowItems.length" *ngIf="actionRowItems.length > 0 && gridItems.length > 0"></th>
                        </tr>

                    </thead>
                </table>

            </div>
            <div #gridBody class="d-flex flex-fill">

                <div class="table-body expand" style="overflow: hidden;">

                    <div #baseBodyTable style="position:absolute;z-index: 900;height: 100%;width: 100%;overflow: hidden;">

                        <table #mainTable class="table base-table table-striped" style="margin-bottom: 0;max-width: 5000px;" [style.width.px]="tableWidth + 1 + (multiSelect == true && baseColumns?.length > 0 ? 60 : 0) + ( this.groupColumns.length > 0 ? groupHeaderTdWidth : 0 ) 
                        + ( this.actionRowItems.length > 0 ? actionRowItemColWidth * actionRowItems.length : 0 )">

                            <tbody>
                                <tr #tr *ngFor="let item of gridItems;let rowIndex = index" [ngClass]="getRowClass(item,rowIndex,false)">
                                    <td class="group-header" *ngIf="groupColumns.length > 0" [style.width.px]="groupHeaderTdWidth">
                                        <div *ngIf="item.groupIndex > 0" [style.padding-left.px]="item.groupIndex * (item.groupIndex > 1 ? 15 : 10)">
                                            {{item.value.caption}} : {{item.value.value}} {{item.groupIndex > 1 ? '(' + item.value.totalCount + ')' : '' }}
                                        </div>
                                    </td>
                                    <td *ngIf="multiSelect == true && baseColumns?.length > 0" class="select-box" [style.width.px]="60">
                                    </td>
                                    <td *ngFor="let col of fixedLeftColumns" [style.width.px]="col.width">
                                        <div>
                                            <!-- {{item[col.dataField]}} -->
                                        </div>
                                    </td>
                                    <td *ngFor="let col of baseColumns;let cellIndex = index" [style.width.px]="col.width">
                                        <ng-container *ngTemplateOutlet="cell; 
                                            context: {
                                                item: {
                                                value: item.value[col.dataField],
                                                col: col,
                                                key: item.value,
                                                rowIndex: rowIndex,
                                                cellIndex: cellIndex,
                                                isFixed : false,
                                                isGroupRow : item.groupIndex > 0
                                                }
                                            } "></ng-container>
                                    </td>
                                    <td *ngFor="let col of fixedRightColumns" [style.width.px]="col.width">
                                        <div>
                                            <!-- {{item[col.dataField]}} -->
                                        </div>
                                    </td>
                                    <td *ngIf="actionRowItems.length > 0" [style.width.px]="actionRowItemColWidth * actionRowItems.length"></td>
                                </tr>
                                <tr class="new-row-edit" *ngIf="newRowEditing == true">
                                    <td *ngIf="multiSelect == true && baseColumns?.length > 0" class="select-box" [style.width.px]="60"></td>
                                    <td *ngFor="let col of fixedLeftColumns" [style.width.px]="col.width">
                                        <div>
                                            <!-- {{item[col.dataField]}} -->
                                        </div>
                                    </td>
                                    <td *ngFor="let col of baseColumns;let cellIndex = index" [style.width.px]="col.width">
                                        <ng-container *ngTemplateOutlet="cell;
                                                context: {
                                                    item: {
                                                    value: null,
                                                    col: col,
                                                    key: null,
                                                    rowIndex: gridItems.length,
                                                    cellIndex: cellIndex,
                                                    isFixed : false,
                                                    isNewRowEdit: true
                                                    }
                                            } "></ng-container>
                                    </td>
                                    <td *ngFor="let col of fixedRightColumns" [style.width.px]="col.width">
                                        <div class="fixed sample">
                                            <!-- {{item[col.dataField]}} -->
                                        </div>
                                    </td>
                                    <!-- <td *ngFor="let actRowItem of actionRowItems" [style.width.px]="actionRowItemColWidth * actionRowItems.length"></td> -->
                                </tr>
                                <tr class="last-row" [style.height.px]="lastRowHeight" *ngIf="gridItems.length > 0 || newRowEditing == true">
                                    <td class="group-header" *ngIf="groupColumns.length > 0" [style.width.px]="groupHeaderTdWidth"></td>
                                    <td *ngIf="multiSelect == true && baseColumns?.length > 0" class="select-box" [style.width.px]="60" [style.height.px]="lastRowHeight"></td>
                                    <td *ngFor="let col of baseColumns" [style.width.px]="col.width" [style.height.px]="lastRowHeight">
                                        <div>
                                            <!-- - -->
                                        </div>
                                    </td>
                                    <td *ngIf="actionRowItems.length > 0" [style.width.px]="actionRowItemColWidth * actionRowItems.length"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div #leftBodyTable style="position:absolute;z-index: 1;height: 100%;overflow: hidden;" [style.width.px]="LeftFixedHeaderWidth + 1">
                        <table #table class="table fixed-column fixed-column-left table-striped" style="margin-bottom: 0;">
                            <tbody>
                                <tr #tr *ngFor="let item of gridItems;let rowIndex = index" [ngClass]="getRowClass(item,rowIndex,true)">
                                    <td class="group-header" *ngIf="groupColumns.length > 0" [style.width.px]="groupHeaderTdWidth">
                                        <div *ngIf="item.groupIndex > 0" [style.padding-left.px]="item.groupIndex * (item.groupIndex > 1 ? 15 : 10)" [style.width.px]="1000">
                                            {{item.value.caption}} : {{item.value.value}} {{item.groupIndex > 1 ? '(' + item.value.totalCount + ')' : '' }}
                                        </div>
                                    </td>
                                    <td *ngIf="multiSelect == true && baseColumns?.length > 0" class="select-box" [style.width.px]="60">
                                        <div class="cell" style="text-align: center;display: table;" *ngIf="!(item.groupIndex > 0)">
                                            <!-- [(ngModel)]="itemSelectedIndicator[rowIndex].value" -->
                                            <p-checkbox binary="true" [(ngModel)]="item.isSelected" (click)="onCheckBoxReadOnly_Click($event)"></p-checkbox>
                                        </div>
                                    </td>
                                    <td *ngFor="let col of fixedLeftColumns;let cellIndex = index" [style.width.px]="col.width">
                                        <ng-container *ngTemplateOutlet="cell;
                                            context: {
                                                item: {
                                                value: item.value[col.dataField],
                                                col: col,
                                                key: item.value,
                                                rowIndex: rowIndex,
                                                cellIndex: cellIndex,
                                                isFixed : true,
                                                isGroupRow : item.groupIndex > 0
                                                }
                                            } "></ng-container>
                                    </td>
                                </tr>
                                <tr class="new-row-edit" *ngIf="newRowEditing == true">
                                    <td class="group-header" *ngIf="groupColumns.length > 0" [style.width.px]="groupHeaderTdWidth"></td>
                                    <td *ngIf="multiSelect == true && baseColumns?.length > 0" class="select-box" [style.width.px]="60"></td>
                                    <td *ngFor="let col of fixedLeftColumns;let cellIndex = index" [style.width.px]="col.width">
                                        <ng-container *ngTemplateOutlet="cell;
                        context: {
                            item: {
                              value: null,
                              col: col,
                              key: null,
                              rowIndex: gridItems.length,
                              cellIndex: cellIndex,
                              isFixed : true,
                              isNewRowEdit: true
                            }
                    } "></ng-container>
                                    </td>
                                </tr>
                                <tr class="last-row" [style.height.px]="lastRowHeight" *ngIf="gridItems.length > 0 || newRowEditing == true">
                                    <td class="group-header" *ngIf="groupIndex > 0 && groupColumns.length > 0" [style.width.px]="groupHeaderTdWidth"></td>
                                    <td *ngIf="multiSelect == true && baseColumns?.length > 0" style="background-color: transparent;" class="select-box" [style.width.px]="60" [style.height.px]="lastRowHeight"></td>
                                    <td *ngFor="let col of fixedLeftColumns" [style.width.px]="col.width" [style.height.px]="lastRowHeight">
                                        <div>
                                            <!-- - -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div #rightBodyTable style="position:absolute;z-index: 2;height: 100%;overflow: hidden;right:0" [style.width.px]="rightFixedHeader.offsetWidth + 2">
                        <table #table class="table fixed-column fixed-column-right table-striped" style="margin-bottom: 0;">
                            <tbody>
                                <tr #tr *ngFor="let item of gridItems;let rowIndex = index" [ngClass]="getRowClass(item,rowIndex,false)">
                                    <td *ngFor="let col of fixedRightColumns;let cellIndex = index" [style.width.px]="col.width">
                                        <ng-container *ngTemplateOutlet="cell;
                        context: {
                            item: {
                              value: item.value[col.dataField],
                              col: col,
                              key: item.value,
                              cellIndex: cellIndex,
                              rowIndex: rowIndex,
                              isFixed: true
                            }
                        } "></ng-container>
                                    </td>
                                    <td class="action-item-td" *ngIf="actionRowItems.length > 0" [style.width.px]="actionRowItemColWidth * actionRowItems.length">
                                        <div class="cell" *ngIf="!(item.groupIndex > 0)">
                                            <div class="cn">
                                                <div *ngFor="let but of actionRowItems" style="display: inline;">

                                                    <a class="action-item btn {{but.class}} btn-sm" (click)="but.command($event,item.value)" *ngIf="but.url == undefined || but.url === null">
                                                        <span class="{{but.icon}}"></span>
                                                    </a>

                                                    <a class="action-item btn {{but.class}} btn-sm"  [routerLink]="but.url(item.value)" routerLinkActive="router-link-active"   *ngIf="but.url !== undefined && but.url !== null">
                                                        <span class="{{but.icon}}"></span>
                                                    </a>

                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="new-row-edit" *ngIf="newRowEditing == true">
                                    <td *ngFor="let col of fixedRightColumns;let cellIndex = index" [style.width.px]="col.width">
                                        <ng-container *ngTemplateOutlet="cell;
                        context: {
                            item: {
                              value: null,
                              col: col,
                              key: null,
                              cellIndex: cellIndex,
                              rowIndex: gridItems.length,
                              isFixed: true,
                              isNewRowEdit: true
                            }
                    } "></ng-container>
                                    </td>
                                    <td *ngIf="actionRowItems.length > 0" [style.width.px]="actionRowItemColWidth * actionRowItems.length">

                                        <!-- *ngFor="let actRowItem of actionRowItems" -->

                                    </td>
                                </tr>
                                <tr class="last-row" [style.height.px]="lastRowHeight" *ngIf="gridItems.length > 0 || newRowEditing == true">
                                    <td *ngFor="let col of fixedRightColumns" [style.width.px]="col.width" [style.height.px]="lastRowHeight">
                                        <div>
                                            <!-- - -->
                                        </div>
                                    </td>
                                    <td [style.width.px]="actionRowItemColWidth * actionRowItems.length" *ngIf="actionRowItems.length > 0"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div #gridFooter class="table-footer" [style.height.px]="showFooter == true ? 55 : 0">
                <div #baseFooterTable style="position:absolute;z-index: 900;height: 100%;width: 100%;overflow: hidden;">
                    <table class="table base-table" style="margin-bottom: 0;max-width: 5000px;" [style.width.px]="tableWidth + 2 + ( this.multiSelect == true && baseColumns?.length > 0 ? 60 : 0 ) + ( this.groupColumns.length > 0 ? groupHeaderTdWidth : 0 ) 
                          + ( this.actionRowItems.length > 0 ? actionRowItemColWidth * actionRowItems.length : 0 )">
                        <thead>
                            <tr>
                                <td class="group-header" *ngIf="groupColumns.length > 0" [style.width.px]="groupHeaderTdWidth"></td>
                                <th *ngIf="multiSelect == true && baseColumns?.length > 0" class="select-box" [style.width.px]="60"></th>
                                <th *ngFor="let col of fixedLeftColumns" [style.width.px]="col.width"></th>
                                <th *ngFor="let col of baseColumns" [style.width.px]="col.width">
                                    <div>
                                        <ng-container *ngTemplateOutlet="footerCell;
                        context: {
                            item: {
                              col: col
                            }
                        } "></ng-container>
                                    </div>
                                </th>
                                <th *ngFor="let col of fixedRightColumns" [style.width.px]="col.width"></th>
                                <th [style.width.px]="actionRowItemColWidth * actionRowItems.length" *ngIf="actionRowItems.length > 0"></th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <table class="table fixed-column fixed-column-left" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <td class="group-header" *ngIf="groupColumns.length > 0" [style.width.px]="groupHeaderTdWidth"></td>
                            <th *ngIf="multiSelect == true && baseColumns?.length > 0" class="select-box" [style.width.px]="60">
                                <!-- # -->
                            </th>
                            <th *ngFor="let col of fixedLeftColumns" [style.width.px]="col.width">
                                <div>
                                    <ng-container *ngTemplateOutlet="footerCell;
                      context: {
                          item: {
                            col: col
                          }
                      } "></ng-container>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>

                <table class="table fixed-column fixed-column-right" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th *ngFor="let col of fixedRightColumns" [style.width.px]="col.width">
                                <div>
                                    <ng-container *ngTemplateOutlet="footerCell;
                      context: {
                          item: {
                            col: col
                          }
                      } "></ng-container>
                                </div>
                            </th>
                            <th [style.width.px]="actionRowItemColWidth * actionRowItems.length" *ngIf="actionRowItems.length > 0"></th>
                        </tr>
                    </thead>
                </table>

            </div>

            <p-paginator #paginator [hidden]="TotalRecordCount <= TotalNumberRecordsPerPage" [rows]="TotalNumberRecordsPerPage" [totalRecords]="TotalRecordCount" (onPageChange)="paginate($event)" [templateLeft]="paginatorTemplateLeft" [rowsPerPageOptions]="rowsPerPageOptions">
            </p-paginator>

            <div [hidden]="!((TotalRecordCount <= TotalNumberRecordsPerPage) && TotalRecordCount > 0)">
                <div style="line-height: 34px;padding-left: 5px;background-color: #f4f4f4;border:1px solid #c8c8c8;font-size: 14px;">
                    Total Record Count : <b>{{TotalRecordCount}}</b>
                </div>
            </div>

        </div>

        <ng-template #paginatorTemplateLeft>
            <div style="line-height: 34px;margin-left: 5px;">
                Total Record Count : <b>{{TotalRecordCount}}</b>
            </div>
        </ng-template>

        <div #verticalScroll class="scroll sc-verital" style="position: absolute;overflow-y:auto;overflow-x: hidden;height: 100%;top:0px;right: 0px;" (scroll)="onScroll($event,0)">
            <div [style.height.px]="mainTable.offsetHeight + ( gridFooter != undefined ? gridFooter.offsetHeight : 0 ) + lastRowHeight" [style.width.px]="1" (resized)="onScroll_Resized($event, 'vertical')"></div>
        </div>

        <div #horizontalScroll class="scroll sc-horizontal" style="position: absolute;overflow-y:hidden;overflow-x: auto;bottom:0px;left:0px" [ngStyle]="{'width': verticalScroll.offsetWidth > 10 ? '98.5%' : '100%' }" (scroll)="onScroll($event,1)">
            <div [style.height.px]="1" [style.width.px]="mainTable.offsetWidth" (resized)="onScroll_Resized($event,'horizontal')"></div>
        </div>
    </div>
</div>

<p-contextMenu #contextMenu [target]="container" [model]="contextMenus" (onShow)="onContextMenu_Show()" appendTo="body" [baseZIndex]="10000"></p-contextMenu>

<ng-template #filterCell let-item="item">
    <div [ngSwitch]="item.col.filterType">
        <div *ngSwitchCase="'TextBox'">
            <!--TextBox-->
            <app-text-box [name]="item.col.dataField" [showLabel]="false" [required]="false" [validateOnSubmit]="true" [(ngModel)]="filterObject[item.col.displayDataField ? item.col.displayDataField : item.col.dataField]" (onEnterKey)="onFilterRow_EnterKey(item.col,$event)">
            </app-text-box>
        </div>
        <div *ngSwitchCase="'BooleanSelectBox'">
            <p-multiSelect [options]="booleanFilterItems" [(ngModel)]="filterObject[item.col.dataField]" appendTo="body" (onChange)="onFilterMultiSelect_Change($event)" defaultLabel="Select...">
            </p-multiSelect>
        </div>
        <div *ngSwitchCase="'NumberBox'">
            <app-number-box [name]="item.col.dataField" [showLabel]="false" [required]="false" [validateOnSubmit]="true" placeholder="Search here..." [(ngModel)]="filterObject[item.col.dataField]" (onEnterKey)="onFilterRow_EnterKey(item.col,$event)"></app-number-box>
        </div>
        <div *ngSwitchCase="'MultiSelectBox'">

        </div>
        <div *ngSwitchCase="'DateBox'">

        </div>
        <div *ngSwitchCase="'DateRangeBox'">
            <!-- <p-calendar #DateRange appendTo="body"
      placeholder="Select Dates..."
      [showButtonBar]="true"
      [showWeek]="true"
      [numberOfMonths]="2" [(ngModel)]="filterObject[item.col.dataField]" selectionMode="range" [readonlyInput]="true"
      (onClose)="onDateRangeFilter_Closed($event,DateRange,item.col)"
      (onClearClick)="onDateRangeFilter_Clear($event,DateRange,item.col)"
      (onShow)="onDateRangeFilter_Show($event,DateRange,item.col)">
      </p-calendar> -->
        </div>
        <div *ngSwitchDefault></div>
    </div>
    <div mwlDraggable [showOriginalElementWhileDragging]="true" [ghostDragEnabled]="true" (click)="onColumnResizer_Click($event)" (ghostElementCreated)="onGhost_ElementCreated($event)" (dragStart)="onColumn_ResizeStart($event, item.col)" (dragging)="onColumn_ResizeDragging($event,item.col)"
        (dragEnd)="onColumn_ResizeEnd($event,item.col)" class="col-resizer">
    </div>
</ng-template>

<ng-template #cell let-item="item">
    <div class="cell" *ngIf="item.isGroupRow !== true" (click)="onSingleClick($event,item)" (dblclick)="onDoubleClick($event, item)" [ngClass]="getCellClass(item.col,item.rowIndex,item.cellIndex,item.isFixed,item.isNewRowEdit)" [ngStyle]="{ 'text-align': ( item.col.textAlignment == 3 ? 'center' : (item.col.textAlignment == 2 ? 'right' : 'left' ) ) }"
        [ngSwitch]="item.col.dataType">

        <div class="cn">
            <div class="cell-value check-box" *ngSwitchCase="'image'">
                <img class="image" [defaultImage]="defaultImageSrc" [lazyLoad]="getImageSrcValue(item.value,item.col)" />
            </div>

            <div class="cell-value check-box" *ngSwitchCase="'boolean'">
                <p-checkbox #checkBox [(ngModel)]="item.value" binary="true" [readonly]="true" (click)="onCheckBoxReadOnly_Click($event, item, item.col)"></p-checkbox>
            </div>

            <div class="cell-value" [innerHTML]="item.value | cellDisplay : item.col : item.key : false" *ngSwitchDefault>
            </div>
        </div>


    </div>
    <div class="cell" *ngIf="item.isGroupRow === true" [ngClass]="getCellClass(item.col,item.rowIndex,item.cellIndex,item.isFixed,item.isNewRowEdit)">
    </div>
</ng-template>

<ng-template #footerCell let-item="item">
    <div [ngStyle]="{ 'text-align':
    ( item.col.textAlignment == 3 ? 'center' : (item.col.textAlignment == 2 ? 'right' : 'left' ) ) }">
        {{ summaryObject[item.col.dataField] | cellDisplay : item.col : null : true }}
    </div>
</ng-template>

<ng-template let-item="item" #headerColumn>
    <div [ngStyle]="{ 'text-align':
    ( item.col.textAlignment == 3 ? 'center' : (item.col.textAlignment == 2 ? 'right' : 'left' ) ) }">
        <span [ngClass]="getSortingClass(item.col)"></span> {{item.col.caption}}
    </div>
    <div mwlDraggable (click)="onColumnResizer_Click($event)" (ghostElementCreated)="onGhost_ElementCreated($event)" (dragStart)="onColumn_ResizeStart($event, item.col)" (dragging)="onColumn_ResizeDragging($event,item.col)" (dragEnd)="onColumn_ResizeEnd($event,item.col)"
        class="col-resizer">
    </div>
</ng-template>

<p-overlayPanel #columnChooserOp [showCloseIcon]="true" appendTo="body" [dismissable]="false" [baseZIndex]="5000" styleClass="column-chooser">
    <div #columnChooser style="height: 400px;width: 250px;" class="no-select">

        <p-listbox [options]="hiddenColumns" [filter]="true" optionLabel="caption">
            <p-header>
                <h4>
                    Columns
                </h4>
            </p-header>
            <ng-template let-column pTemplate="item">
                <div #th class="ui-helper-clearfix column-chooser-item no-select" mwlDraggable [ghostDragEnabled]="true" [ghostElementAppendTo]="documentBody" dragActiveClass="dragging" (dragStart)="onColumnHeader_DragStart()" (dragging)="onColumnHeader_Dragging()" (dragEnd)="onColumnHeader_DragEnd($event,column.value,th, true)"
                    (ghostElementCreated)="onColumnHeader_onGhostElementCreated($event,true)" [showOriginalElementWhileDragging]="false">
                    {{column.label}}
                </div>
            </ng-template>
        </p-listbox>

    </div>
</p-overlayPanel>