<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-3">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Information</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Infomation_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Billing</h3>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_Billing1_fields"
                ></ng-container>
              </div>

              <div class="col-md-6">
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_Billing2_fields"
                ></ng-container>
              </div>
            </div>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab-bidetail-tab"
                  data-toggle="pill"
                  href="#content-bidetail"
                  role="tab"
                  aria-controls="tab-bidetail"
                  aria-selected="true"
                  >Details</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-paymenthistory-tab"
                  data-toggle="pill"
                  href="#tab-paymenthistory"
                  role="tab"
                  aria-controls="tab-paymenthistory"
                  >Payment History</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body p-0">
            <div class="tab-content" id="tab-bidetail">
              <div
                class="tab-pane fade show active"
                id="content-bidetail"
                role="tabpanel"
                aria-labelledby="content-bidetail"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_billingDetails"
                ></ng-container>
              </div>

              <div
                class="tab-pane fade show"
                id="tab-paymenthistory"
                role="tabpanel"
                aria-labelledby="tab-paymenthistory"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_paymenthistory"
                ></ng-container>
              </div>
            </div>
          </div>
          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    name="Date"
    caption="Date"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    *ngIf="this.CurrentObject.ID_FilingStatus != 3"
    name="Name_FilingStatus"
    caption="Filing Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    *ngIf="this.CurrentObject.ID_FilingStatus == 3"
    name="Payment_Name_FilingStatus"
    caption="Payment Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Payment_Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_Billing1_fields>
  <admin-lte-data-lookupbox
    name="AttendingPhysician_ID_Employee"
    displayName="AttendingPhysician_Name_Employee"
    caption="Attnd. Veterinarian"
    [initialValue]="CurrentObject.AttendingPhysician_ID_Employee"
    [initialDisplayValue]="CurrentObject.AttendingPhysician_Name_Employee"
    [option]="AttendingPhysician_ID_Employee_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="ID_Client"
    displayName="Name_Client"
    caption="Client"
    [initialValue]="CurrentObject.ID_Client"
    [initialDisplayValue]="CurrentObject.Name_Client"
    [option]="ID_Client_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    #ID_Patient_Lookupbox
    name="ID_Patient"
    displayName="Name_Patient"
    caption="Patient"
    [initialValue]="CurrentObject.ID_Patient"
    [initialDisplayValue]="CurrentObject.Name_Patient"
    [option]="ID_Patient_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplate_Billing2_fields>
  <admin-lte-numberbox
    name="NetAmount"
    caption="Payable Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.NetAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    name="RemainingAmount"
    caption="Remaining Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.RemainingAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #contentTemplate_billingDetails>
  <menubar
    *ngIf="CurrentObject.ID_FilingStatus == FILINGSTATUS_FILED"
    [items]="biDetailMenuItems"
    (onClick)="biDetailMenuItems_OnClick($event)"
  >
  </menubar>
  <div class="card">
    <div class="card-body p-0">
      <table class="table table-striped" style="background-color: white">
        <thead>
          <tr>
            <th>Item / Service</th>
            <th style="width: 120px">Quantity</th>
            <th style="width: 120px">Unit Price</th>
            <th style="width: 120px">Amount</th>
            <th style="width: 40px"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let biDetail of CurrentObject.BillingInvoice_Detail;
              index as i
            "
          >
            <td>{{ biDetail.Name_Item }}</td>
            <td>
              <input
                *ngIf="!biDetail.ID_Patient_Confinement_ItemsServices"
                class="form-control text-right"
                [(ngModel)]="biDetail.Quantity"
                type="number"
                (ngModelChange)="biDetailQuantity_onModelChange(biDetail)"
                min="0"
              />
              <span
                *ngIf="biDetail.ID_Patient_Confinement_ItemsServices"
                class="
                  form-control form-control-transparent
                  text-bold text-right
                "
                >{{ biDetail.Quantity | number: "1.0" }}</span
              >
            </td>
            <td>
              <input
                class="form-control text-right"
                [(ngModel)]="biDetail.UnitPrice"
                type="number"
                (ngModelChange)="biDetailUnitPrice_onModelChange(biDetail)"
                min="0"
              />
            </td>
            <td>
              <span
                class="
                  form-control form-control-transparent
                  text-bold text-right
                "
                >{{ biDetail.Amount | number: "1.2-5" }}</span
              >
            </td>
            <td class="text-center">
              <button
                *ngIf="!biDetail.ID_Patient_Confinement_ItemsServices"
                class="btn btn-danger"
                (click)="btnDeleteBIDetail_onClick(biDetail)"
              >
                <i class="fas fa-times"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <span
                class="
                  form-control form-control-transparent
                  text-bold text-right
                "
                >Subtotal</span
              >
            </td>
            <td>
              <span
                class="
                  form-control form-control-transparent
                  text-bold text-right
                "
                >{{ CurrentObject.SubTotal | number: "1.2-5" }}</span
              >
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3">
              <span
                class="
                  form-control form-control-transparent
                  text-bold text-right
                "
                >Discount Rate</span
              >
            </td>
            <td>
              <input
                class="form-control text-right"
                [(ngModel)]="CurrentObject.DiscountRate"
                type="number"
                (ngModelChange)="DiscountRate_onModelChange()"
                min="0"
              />
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3">
              <span
                class="
                  form-control form-control-transparent
                  text-bold text-right
                "
                >Discount Amount</span
              >
            </td>
            <td>
              <input
                class="form-control text-right"
                [(ngModel)]="CurrentObject.DiscountAmount"
                type="number"
                (ngModelChange)="DiscountAmount_onModelChange()"
                min="0"
              />
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3">
              <span
                class="
                  form-control form-control-transparent
                  text-bold text-right
                "
                >Total Amount</span
              >
            </td>
            <td>
              <span
                class="
                  form-control form-control-transparent
                  text-bold text-right
                "
                >{{ CurrentObject.TotalAmount | number: "1.2-5" }}</span
              >
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplate_paymenthistory>
  <bi-payment-history-table
    #bipaymenthistorytable
    (onCancel)="bipaymenthistorytable_onCancel()"
  ></bi-payment-history-table>
</ng-template>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<billing-payment-dialog
  #biPaymentDialog
  [ID_BillingInvoice]="CurrentObject.ID"
></billing-payment-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>
