<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      <span class="client-name" (click)="clientName_OnClick()">{{
        CurrentObject.Name_Client != null
          ? CurrentObject.Name_Client + " / "
          : " "
      }}</span>
      {{ ModelDisplayName }}
      <span *ngIf="CurrentObject.IsDeceased == true" style="color: red"
        >(Deceased)</span
      >
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <p-tabView
        *ngIf="
          configOptions['ID_AppointmentSchedule'] != undefined &&
          configOptions['ID_AppointmentSchedule'] != null
        "
      >
        <p-tabPanel
          header="Apppointment Schedule"
          class="oid-control tab-panel-custom"
          *ngIf="
            configOptions['ID_AppointmentSchedule'] != undefined &&
            configOptions['ID_AppointmentSchedule'] != null
          "
        >
          <app-appointmentschedule-step-status
            #appointSchedStepStatus
            [ID_AppointmentSchedule]="
              this.configOptions['ID_AppointmentSchedule']
            "
          >
          </app-appointmentschedule-step-status>
        </p-tabPanel>
      </p-tabView>

      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-4">
                <p-fieldset
                  legend="Information {{
                    CurrentObject.IsActive == true ? '' : '(Deleted)'
                  }}"
                  class="with-caption"
                >
                  <app-text-box
                    [(ngModel)]="CurrentObject.Code"
                    name="Code"
                    caption="Code"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.CustomCode"
                    name="CustomCode"
                    caption="Custom Code"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Microchip"
                    name="Microchip"
                    caption="Microchip"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-qrcode-image
                    *ngIf="CurrentObject.ID > 0"
                    [(ngModel)]="qrCodeValue"
                    caption="QR Code"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-qrcode-image>

                  <div class="control-separator-bottom"></div>

                  <app-image-box
                    [(ngModel)]="CurrentObject.ProfileImageFile"
                    name="ProfileImageFile"
                    caption="Profile Image"
                    labelPosition="top"
                  >
                  </app-image-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>

              <div class="col-lg-4">
                <p-fieldset legend="Personal Info" class="with-caption">
                  <app-lookup-box
                    #ID_Client_LookUpBox
                    *ngIf="
                      configOptions['ID_Client'] == undefined &&
                      CurrentObject.ID < 1
                    "
                    [(ngModel)]="CurrentObject.ID_Client"
                    name="ID_Client"
                    caption="Client"
                    [required]="true"
                    [option]="ID_Client_LookupBoxOption"
                    (onSelectedItem)="
                      ID_Client_LookUpBox_onSelectedItem($event)
                    "
                    labelPosition="top"
                  >
                  </app-lookup-box>

                  <app-text-box
                    *ngIf="
                      !(
                        configOptions['ID_Client'] == undefined &&
                        CurrentObject.ID < 1
                      )
                    "
                    [(ngModel)]="CurrentObject.Name_Client"
                    name="Name_Client"
                    caption="Owner Name"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Name"
                    name="Name"
                    caption="Pet Name"
                    [required]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <!-- <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.ID_Client"
                    name="Name"
                    caption="ID_Client"
                    [required]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box> -->

                  <div class="control-separator-bottom"></div>

                  <app-check-box
                    [(ngModel)]="CurrentObject.IsNeutered"
                    name="IsNeutered"
                    caption="Neutered"
                    labelPosition="top"
                  >
                  </app-check-box>

                  <div class="control-separator-bottom"></div>
                  <div class="control-separator-bottom"></div>
                  <div class="control-separator-bottom"></div>

                  <div class="row">
                    <div class="col-lg-3">
                      <app-check-box
                        [(ngModel)]="CurrentObject.IsDeceased"
                        name="IsDeceased"
                        caption="Deceased"
                        labelPosition="top"
                      >
                      </app-check-box>
                    </div>
                    <div class="col-lg-9">
                      <app-date-box
                        *ngIf="CurrentObject.IsDeceased == true"
                        [(ngModel)]="CurrentObject.DateDeceased"
                        name="DateDeceased"
                        caption="Date Deceased"
                        labelPosition="top"
                        [show-time]="false"
                      >
                      </app-date-box>
                    </div>
                  </div>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>

              <div class="col-lg-4">
                <p-fieldset legend="Type" class="with-caption">
                  <app-auto-complete-box
                    [(ngModel)]="CurrentObject.Species"
                    name="Species"
                    caption="Breed - Species"
                    labelPosition="top"
                    [dataList]="BreedSpecieList"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-auto-complete-box>

                  <div class="control-separator-bottom"></div>

                  <app-select-box
                    #ID_Gender_SelectBox
                    [(ngModel)]="CurrentObject.ID_Gender"
                    name="ID_Gender"
                    caption="Gender"
                    [option]="ID_Gender_SelectBoxOption"
                    labelPosition="top"
                    (onValueChanged)="ID_Gender_SelectBox_ValueChanged($event)"
                  >
                  </app-select-box>

                  <div class="control-separator-bottom"></div>

                  <app-date-box
                    [(ngModel)]="CurrentObject.DateBirth"
                    name="DateBirth"
                    caption="Date Birth"
                    labelPosition="top"
                    [show-time]="false"
                  >
                  </app-date-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Age"
                    name="Age"
                    caption="Age"
                    labelPosition="top"
                    [readOnly]="true"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Remarks" class="oid-control tab-panel-custom">
            <app-text-area
              [(ngModel)]="CurrentObject.Comment"
              name="Comment"
              caption=""
              labelPosition="top"
            >
            </app-text-area>
          </p-tabPanel>
        </p-tabView>

        <p-tabView>
          <p-tabPanel header="Medical Records" class="tab-panel-custom">
            <p-menubar
              [model]="patientSOAPMenuItems"
              [hidden]="!(patientSOAPMenuItems?.length > 0)"
            >
            </p-menubar>

            <p-table
              [value]="CurrentObject.Patient_SOAP"
              selectionMode="single"
              styleClass="p-datatable-sm"
              [(selection)]="selPatient_SOAP"
              dataKey="ID"
              [scrollable]="true"
              rowHover="true"
              scrollHeight="400px"
              [style]="{
                height: '400px',
                'background-color': 'gray'
              }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 110px">Date</th>
                  <th style="width: 110px">Code</th>
                  <th style="width: 150px">Type</th>
                  <th style="min-width: 250px">Primary Complaint / History</th>
                  <!-- <th style="width: 150px">Subjective (OLD)</th> -->
                  <th style="width: 100px">Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-Patient_SOAP>
                <tr
                  [pSelectableRow]="Patient_SOAP"
                  (dblclick)="Patient_SOAPGrid_onDblClick(Patient_SOAP)"
                >
                  <td style="width: 110px; text-align: center">
                    {{ Patient_SOAP.DateString }}
                  </td>
                  <td style="width: 110px">{{ Patient_SOAP.Code }}</td>

                  <td style="width: 150px">{{ Patient_SOAP.Name_SOAPType }}</td>

                  <td style="min-width: 150px">
                    {{ Patient_SOAP.History }}&nbsp;
                  </td>

                  <!-- <td style="width: 150px">
                    {{ Patient_SOAP.Subjective }}&nbsp;
                  </td> -->
                  <td
                    class="FilingStatus FS_{{
                      Patient_SOAP.Name_FilingStatus == null
                        ? 'None'
                        : Patient_SOAP.Name_FilingStatus.replace(' ', '')
                    }}"
                    style="width: 100px; text-align: center"
                  >
                    {{ Patient_SOAP.Name_FilingStatus }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-tabPanel>
          <!-- 
          <p-tabPanel header="Vaccination" class="oid-control tab-panel-custom">
            <vaccination-list
              #vaccinationlist
              [DetailViewConfigOptions]="configOptions"
            ></vaccination-list>
          </p-tabPanel> -->

          <p-tabPanel header="Wellness" class="oid-control tab-panel-custom">
            <wellness-detail-list
              #wellnessdetaillist
              [CurrentObject]="CurrentObject"
              [DetailViewConfigOptions]="configOptions"
            ></wellness-detail-list>

            <div class="control-separator-bottom"></div>

            <app-text-area
              [(ngModel)]="CurrentObject.AnimalWellness"
              name="AnimalWellness"
              caption="Note"
              labelPosition="top"
              [ngStyle]="{
                'margin-bottom': '5px'
              }"
            >
            </app-text-area>
          </p-tabPanel>

          <p-tabPanel
            header="Vet. Health Certificate"
            class="oid-control tab-panel-custom"
          >
            <veterinary-health-certificate-list
              #veterinaryhealthcertificatelist
              [CurrentObject]="CurrentObject"
              [DetailViewConfigOptions]="configOptions"
            ></veterinary-health-certificate-list>

          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>
