
<div
class="d-flex flex-column expand"
[ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
<div class="module-header" style="height: auto">
  <div class="module-title" style="padding-left: 6px">Company &nbsp;</div>

  <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
    <div class="filter-buttons">
      <button
        pButton
        type="button"
        class="ui-button-raised"
        icon="pi pi-filter"
        (click)="toggeFilterBox()"
      ></button>
    </div>
  </p-menubar>
</div>
<div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
  <div class="expand" style="overflow: hidden; padding: 0px">
    <div class="p-grid expand" style="margin: 0; padding: 0">
      <div class="main-box p-col-9" style="height: 100%">
        <div class="d-flex flex-column expand">
          <div
            class="p-grid expand"
            style="overflow-x: hidden; overflow-y: hidden"
          >
            <div class="p-col-12">
              <p-table
                class="flexcolumn"
                [value]="dataSource"
                selectionMode="single"
                [(selection)]="selectedRecord"
                dataKey="ID"
                [scrollable]="true"
                [responsive]="false"
                sortMode="multiple"
                [(scrollHeight)]="mainboxHeight"
              >
              <ng-template pTemplate="header">
                <tr>
                  <th class="col-id" pSortableColumn="ID"><span>ID</span></th>
           
                  <th style="width: 30%" pSortableColumn="Name">
                    <span>Name</span>
                  </th>
                  <th style="width: 130px;"><span>Logo</span></th>
  
                  <th pSortableColumn="Address">
                    <span>Address</span>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record>
                <tr
                  [pSelectableRow]="record"
                  class="row-detail"
                  (click)="tableRowDetail_onClick(record)"
                >
                  <td class="col-id">{{ record.ID }}</td>
                  <td style="width: 30%">{{ record.Name }}</td>
                  <th style="width: 130px;"><img src="{{ record.ImageLogoThumbNameLocationFilenamePath }}" alt=""></th>
                  <td>{{ record.Address }}</td>
                </tr>
              </ng-template>
              </p-table>
            </div>
          </div>

          <div class="d-flex flex-fill">
            <div class="p-grid expand">
              <div class="p-col-3">
                <p class="footer-text">
                  Total Record: {{ LoadedRecordCount }} / {{ TotalRecordCount }}
                </p>
              </div>
              <div class="p-col-6"  style="text-align: center">
                <p-paginator #paginator
                  [rows]="pagingOption.DisplayCount"
                  [totalRecords]="pagingOption.TotalRecord"
                  (onPageChange)="paginate($event)"
                ></p-paginator>
              </div>
              <div class="p-col-3"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-box p-col-3" style="height: 100%">
        <div class="d-flex flex-column expand">
          <div
            class="p-grid expand"
            style="overflow-x: hidden; overflow-y: auto"
          >
            <div class="p-col-12">
              <h5 style="font-weight: bold; margin-bottom: 8px">
                <span class="mdi mdi-filter"></span> Filters
              </h5>

              <app-form
                #appForm
                [CurrentObject]="CurrentObject"
                [style.margin-bottom.px]="50"
              >
                <p-accordion #filterAccordioView [multiple]="true">
                  <p-accordionTab
                    id="Name"
                    [transitionOptions]="'0ms'"
                    header="Name"
                  >
                    <div style="margin-bottom: 5px" class="oid-control">
                      <app-text-box
                        [(ngModel)]="CurrentObject.Name"
                        name="Name"
                        caption="Name"
                        labelPosition="top"
                        [filterMode]="true"
                        (keyup)="filterOnKeyUp($event)"
                      ></app-text-box>
                    </div>
                  </p-accordionTab>
                </p-accordion>
              </app-form>
            </div>
          </div>

          <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
            <button
              pButton
              type="button"
              label="Clear"
              class="ui-button-raised ui-button-secondary"
              (click)="clearFilter()"
            ></button>
            <button
              pButton
              type="button"
              label="Search"
              class="ui-button-raised ui-button-success"
              (click)="searchFilter()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




<div class="d-flex flex-column expand" [ngClass]="{ 'hide-filter': false }">
  <div class="module-header" style="height: auto">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <div class="title">Company</div>
      </div>
      <div class="ui-toolbar-group-right"></div>
    </p-toolbar>
    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" style="height: 1px">
    <div class="expand" style="overflow-y: auto; overflow-x: hidden">
      <div class="p-grid expand" style="margin: 0px; padding: 0px">
        <div class="main-box p-col-12" style="margin: 0px; padding: 0px">
          <p-table
            class="flexcolumn"
            [value]="dataSource"
            selectionMode="single"
            [(selection)]="selectedRecord"
            dataKey="ID"
            [scrollable]="true"
            [responsive]="false"
            sortMode="multiple"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="col-id" pSortableColumn="ID"><span>ID</span></th>
         
                <th style="width: 30%" pSortableColumn="Name">
                  <span>Name</span>
                </th>
                <th style="width: 130px;"><span>Logo</span></th>

                <th pSortableColumn="Address">
                  <span>Address</span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record>
              <tr
                [pSelectableRow]="record"
                class="row-detail"
                (click)="tableRowDetail_onClick(record)"
              >
                <td class="col-id">{{ record.ID }}</td>
                <td style="width: 30%">{{ record.Name }}</td>
                <th style="width: 130px;"><img src="{{ record.ImageLogoThumbNameLocationFilenamePath }}" alt=""></th>
                <td>{{ record.Address }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>

  <div class="module-footer footer-text" style="height: auto">
    <p class="footer-text">Total Record: {{ dataSource.length }}</p>
  </div>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>
