<nav
  class="navbar navbar-expand navbar-white navbar-light"
  style="height: 45px"
>
  <ul class="navbar-nav">
    <!-- <li *ngFor="let menuItem of items" class="nav-item">
      <span class="nav-link" (click)="menuItemOnClick(menuItem)">
        <i ngClass="{{ menuItem.class }}" class="{{ menuItem.icon }}"></i
        >&nbsp;&nbsp;{{ menuItem.label }}
      </span>
    </li> -->

    <li *ngFor="let menuItem of items" class="nav-item dropdown text-center">
      <span
        class="nav-link"
        data-toggle="dropdown"
        href="#"
        (click)="menuItemOnClick(menuItem)"
      >
        <i ngClass="{{ menuItem.class }}" class="{{ menuItem.icon }}"></i
        >&nbsp;&nbsp; {{ menuItem.label }}&nbsp;
        <i *ngIf="menuItem.items" class="fas fa-caret-down"></i>
      </span>
      <div
        *ngIf="menuItem.items"
        class="dropdown-menu dropdown-menu-lg dropdown-menu-left"
      >
        <span
          *ngFor="let subItem of menuItem.items"
          href="#"
          class="dropdown-item"
          (click)="menuItemOnClick(subItem)"
        >
          <i ngClass="{{ subItem.class }}" class="{{ subItem.icon }} mr-2"></i>
          {{ subItem.label }}
        </span>
      </div>
    </li>
  </ul>

  <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
</nav>
