.header{

    border: 1px solid #c8c8c8;
    padding: 0.571em 1em;
    background-color: #f4f4f4;
    color: #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    span{

        vertical-align: middle;
        font-weight: 700;
    }
}

.patient-detail-link:hover{

    color: #007ad9;
    text-decoration: underline;
    cursor: pointer;
}
