<div class="row">
  <div class="col-lg-12">
    <admin-lte-checkbox
      name="IsGenerateRequest"
      caption="Magrequest ng Indigency Certificate?"
      [initialValue]="Record.IsGenerateRequest"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-checkbox>
  </div>
</div>
