.fixed-tooth-col{

    width: 318px;
    padding-left: 28px;
}

.dropdown-form-control{
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.tooth-surface-container{

    font-size: 23px;
    display: block;
    height: 46px;
    border: 1px solid rgba(0,0,0,.15);
    padding: 4px;
}