<div class="row">

    
    <div class="col-lg-5">

        <div class="fixed-tooth-col" >

            <div class="row"  style="margin-bottom: 20px;">
                <dt class="col-sm-4">Tooth No.</dt>
                <dd class="col-sm-8">{{ toothInfo.ToothNumber_Tooth }}</dd>
                <dt class="col-sm-4">Location</dt>
                <dd class="col-sm-8">{{ toothInfo.Location_Tooth }}</dd>
            </div>


            <div class="row">

                <div class="col-lg-12" style="text-align: center;">

                    <app-tooth #toothComponent [tooth]="tooth" (onSelectedChanged)="tooth_onSelectedChanged()"></app-tooth>
    
                </div>
            </div>
    
        </div>

    </div>

    <div class="col-lg-7" style="padding-top: 25px;">

        <div class="form-group">
            <label for="exampleFormControlInput1"><strong>Condition / Treatment / Surgery</strong></label>
            <p-dropdown 
                [options]="toothStatuses" 
                [(ngModel)]="selectedToothStatus" 
                [filter]="true" 
                optionLabel="DisplayName"
                (onChange)="toothStatusDropdown_onChange($event)"
                [style]="{  
                    'display': 'block;', 
                    'width': '100%', 
                    'padding': '.5rem .75rem',
                    'font-size': '1rem;',
                    'line-height': '1.25;',
                    'color': '#495057;',
                    'background-color': '#fff;',
                    'background-image': 'none;',
                    'background-clip': 'padding-box;',
                    'border': '1px solid rgba(0,0,0,.15);',
                    'border-radius': '.25rem;',
                    'transition': 'border-color ease-in-out .15s,box-shadow ease-in-out .15s;'
                }"
            ></p-dropdown>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1"><strong>Note</strong></label>
            <textarea 
                class="form-control" 
                id="exampleFormControlTextarea1" 
                rows="10"
                [(ngModel)]="toothInfo.Comment"
            ></textarea>
        </div>
        
    </div>
</div>