<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-8">
        <card-container
          title="Impormasyon"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Bakuna"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_VaccinationInfo_fields"
        >
        </card-container>

        <card-container
          title="Pinagmumulan Ng Kita"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_SourceOfIncome_fields"
        >
        </card-container>

        <card-container
          title="May Trabaho"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_OccupationalStatus_fields"
        >
        </card-container>
      </div>

      <div class="col-md-12">
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="other-info-tab"
                  data-toggle="pill"
                  href="#other-info"
                  role="tab"
                  aria-controls="other-info"
                  aria-selected="false"
                  >Iba pang Impormasyon</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="mga-programa-tab"
                  data-toggle="pill"
                  href="#mga-programa"
                  role="tab"
                  aria-controls="mga-programa"
                  aria-selected="false"
                  >Mga Programa</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-four-tabContent">
              <div
                class="tab-pane fade active show"
                id="other-info"
                role="tabpanel"
                aria-labelledby="other-info-tab"
              >
                <ng-template
                  [ngTemplateOutlet]="contentTemplate_OtherInfo_fields"
                ></ng-template>
              </div>
              <div
                class="tab-pane fade"
                id="mga-programa"
                role="tabpanel"
                aria-labelledby="mga-programa-tab"
              >
                <ng-template
                  [ngTemplateOutlet]="contentTemplate_ProgramsTable_fields"
                ></ng-template>
              </div>
            </div>
          </div>
          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
<sql-list-dialog #reportsqllistdialog [ismultiple]="false"></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <div class="row">
    <div class="col-lg-4">
      <admin-lte-image-box
        name="ImageProfilePicFilename"
        caption="Profile Picture"
        [initialValue]="CurrentObject.ImageProfilePicFilename"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-image-box>
    </div>

    <div class="col-lg-8">
      <admin-lte-texbox
        name="Name_Company"
        caption="Barangay"
        [readonly]="true"
        [initialValue]="CurrentObject.Name_Company"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-texbox
        name="Name"
        caption="Pangalan"
        [readonly]="true"
        [initialValue]="CurrentObject.Name"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-data-lookupbox
        name="ID_Gender"
        displayName="Name_Gender"
        [readonly]="true"
        caption="Kasarian"
        [initialValue]="CurrentObject.ID_Gender"
        [initialDisplayValue]="CurrentObject.Name_Gender"
        [option]="ID_Gender_LookupboxOption"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-data-lookupbox>

      <admin-lte-data-lookupbox
        name="ID_Religion"
        displayName="Name_Religion"
        [readonly]="true"
        caption="Relihiyon"
        [initialValue]="CurrentObject.ID_Religion"
        [initialDisplayValue]="CurrentObject.Name_Religion"
        [option]="ID_Religion_LookupboxOption"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-data-lookupbox>

      <admin-lte-datebox
        name="DateBirth"
        caption="Petsa ng Kaarawan"
        [readonly]="true"
        format="MMM. dd, yyyy hh:mm a"
        [initialValue]="CurrentObject.DateBirth"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datebox>

      <admin-lte-texbox
        name="BirthPlace"
        caption="Lugar ng Kapanganakan"
        [readonly]="true"
        [initialValue]="CurrentObject.BirthPlace"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-texbox
        name="ContactNumber"
        [readonly]="true"
        caption="Telepono"
        [initialValue]="CurrentObject.ContactNumber"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-textarea
        name="Address"
        [readonly]="true"
        caption="Tirahan (Purok/Sitio/Brgy.)"
        rows="3"
        [initialValue]="CurrentObject.Address"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-textarea>
    </div>

    <div class="col-lg-12"></div>
  </div>
</ng-template>

<ng-template #contentTemplate_OtherInfo_fields>
  <admin-lte-data-lookupbox
    name="ID_CivilStatus"
    displayName="Name_CivilStatus"
    [readonly]="true"
    caption="Katayuang Sibil"
    [initialValue]="CurrentObject.ID_CivilStatus"
    [initialDisplayValue]="CurrentObject.Name_CivilStatus"
    [option]="ID_CivilStatus_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="ID_EducationalLevel"
    displayName="Name_EducationalLevel"
    [readonly]="true"
    caption="Antas ng Pinag-aralan"
    [initialValue]="CurrentObject.ID_EducationalLevel"
    [initialDisplayValue]="CurrentObject.Name_EducationalLevel"
    [option]="ID_EducationalLevel_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="ID_HomeOwnershipStatus"
    displayName="Name_HomeOwnershipStatus"
    [readonly]="true"
    caption="Katayuan ng Bahay at Lupa"
    [initialValue]="CurrentObject.ID_HomeOwnershipStatus"
    [initialDisplayValue]="CurrentObject.Name_HomeOwnershipStatus"
    [option]="ID_HomeOwnershipStatus_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-checkbox
    name="IsPermanent"
    [readonly]="true"
    caption="Permanente (Simula sanggol)"
    [initialValue]="CurrentObject.IsPermanent"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-checkbox>

  <admin-lte-checkbox
    name="IsMigrante"
    [readonly]="true"
    caption="Migrante (6 months pataas)"
    [initialValue]="CurrentObject.IsMigrante"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-checkbox>

  <admin-lte-texbox
    *ngIf="CurrentObject.IsMigrante"
    [readonly]="true"
    name="MigrantAddress"
    caption="Address"
    [initialValue]="CurrentObject.MigrantAddress"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-checkbox
    name="IsTransient"
    [readonly]="true"
    caption="Transient (0 to 6 months)"
    [initialValue]="CurrentObject.IsTransient"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-checkbox>
</ng-template>

<ng-template #contentTemplate_ProgramsTable_fields>
  <resident-program-table
    [residentPrograms]="CurrentObject.Resident_Program"
  ></resident-program-table>
</ng-template>

<ng-template #contentTemplate_FamilyTable_fields>
  <resident-family-table
    [FamilyMembers]="CurrentObject.Resident_Family"
  ></resident-family-table>
</ng-template>

<ng-template #contentTemplate_Reqquest_fields>
  <div class="row">
    <div class="col-md-6">
      <p
        class="text request-record"
        (click)="CommunityTaxCertificate_onClick()"
      >
        Community Tax Certificate
      </p>
      <p class="text request-record" (click)="IndigencyCertificate_onClick()">
        Indigency Certificate
      </p>
    </div>
    <div class="col-md-6">
      <p
        class="text request-record"
        (click)="BarangayBusinessClearance_onClick()"
      >
        Barangay Business Clearance
      </p>
      <p class="text request-record" (click)="Certificate_onClick()">
        Certificate
      </p>
    </div>
  </div>
</ng-template>
<ng-template #contentTemplate_MedicalRecords_fields>
  <div class="row">
    <div class="col-2 col-sm-2">
      <div
        class="nav flex-column nav-tabs h-100"
        id="vert-tabs-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active"
          id="vert-tabs-home-tab"
          data-toggle="pill"
          href="#vert-tabs-home"
          role="tab"
          aria-controls="vert-tabs-home"
          aria-selected="true"
          >Bakuna
        </a>
        <a
          class="nav-link"
          id="vert-tabs-profile-tab"
          data-toggle="pill"
          href="#vert-tabs-profile"
          role="tab"
          aria-controls="vert-tabs-profile"
          aria-selected="false"
          >Diagnosis ng Pagbubuntis</a
        >
        <a
          class="nav-link"
          id="vert-tabs-messages-tab"
          data-toggle="pill"
          href="#vert-tabs-messages"
          role="tab"
          aria-controls="vert-tabs-messages"
          aria-selected="false"
          >Iba pang Talaang Medical</a
        >
      </div>
    </div>
    <div class="col-10 col-sm-10">
      <div class="tab-content" id="vert-tabs-tabContent">
        <div
          class="tab-pane text-left fade active show"
          id="vert-tabs-home"
          role="tabpanel"
          aria-labelledby="vert-tabs-home-tab"
        >
          <resident-medical-record-vaccination-table
            #residentmedicalrecord
            [MedicalRecords]="CurrentObject.Resident_MedicalRecord"
          ></resident-medical-record-vaccination-table>
        </div>
        <div
          class="tab-pane fade"
          id="vert-tabs-profile"
          role="tabpanel"
          aria-labelledby="vert-tabs-profile-tab"
        >
          <resident-medical-record-pregnancy-diagnosis-table
            #residentmedicalrecord
            [MedicalRecords]="CurrentObject.Resident_MedicalRecord"
          ></resident-medical-record-pregnancy-diagnosis-table>
        </div>
        <div
          class="tab-pane fade"
          id="vert-tabs-messages"
          role="tabpanel"
          aria-labelledby="vert-tabs-messages-tab"
        >
          <resident-medical-record-others-table
            #residentmedicalrecordotherstable
            [MedicalRecords]="CurrentObject.Resident_MedicalRecord"
          ></resident-medical-record-others-table>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplate_VaccinationInfo_fields>
  <vaccination-info
    #vaccinationinfo
    [CurrentObject]="CurrentObject"
    [BaseDetailView]="this"
  ></vaccination-info>
</ng-template>

<ng-template #contentTemplate_OccupationalStatus_fields>
  <admin-lte-data-lookupbox
    name="ID_OccupationalStatus"
    displayName="Name_OccupationalStatus"
    [readonly]="true"
    caption=""
    [initialValue]="CurrentObject.ID_OccupationalStatus"
    [initialDisplayValue]="CurrentObject.Name_OccupationalStatus"
    [option]="OccupationalStatus_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-texbox
    *ngIf="CurrentObject.ID_OccupationalStatus == OCCUPATIONALSTATUS_MAYROON"
    [readonly]="true"
    name="Occupation"
    caption="Trabaho"
    [initialValue]="CurrentObject.Occupation"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_AssignedBHW_fields>
  <admin-lte-data-lookupbox
    name="AssignedBHW_ID_Employee"
    displayName="AssignedBHW_Name_Employee"
    [readonly]="true"
    caption=""
    [initialValue]="CurrentObject.AssignedBHW_ID_Employee"
    [initialDisplayValue]="CurrentObject.AssignedBHW_Name_Employee"
    [option]="AssignedBHW_ID_Employee_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplate_SourceOfIncome_fields>
  <admin-lte-texbox
    name="SourceOfIncome"
    caption=""
    [readonly]="true"
    [initialValue]="CurrentObject.SourceOfIncome"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="SourceOfIncomeAmount"
    [readonly]="true"
    caption="Halaga ng kinikita"
    [initialValue]="CurrentObject.SourceOfIncomeAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>

<br /><br /><br /><br /><br />
