
.modal-header{

    background-color: #000080;
    color: white;
    font-weight: bold;
}

tr{

    height: 40px;
}

th{

    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

td{
    word-wrap:break-word;
    font-size: 11px;
    cursor: pointer;
}

.row-detail{

    cursor: pointer;
}

.col-id{

    width: 50px;
    text-align: center;
}

.footer-text{

    padding-left: 3px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: bold;
}

.filter-select-box{

    width: 100%;
    padding: 7px;
}

.filter-select-box:focus{

    box-shadow: 0 0 0 0.2em #8dcdff;
    border-color: #007ad9;
}