<div class="form-group">
  <label *ngIf="caption" for="exampleInputEmail1">{{ caption }}</label>
  <textarea
    [name]="name"
    [readonly]="readonly"
    placeholder="{{ placeholder }}"
    class="form-control"
    [(ngModel)]="value"
    (ngModelChange)="_onModelChanged($event)"
    (keyup)="onKey($event)"
    rows="{{ rows }}"
  ></textarea>
</div>
