<ng-template #mymodal let-modal>

    <div class="modal-header">
        <h5>{{ CurrentObject.ID < 0 ? 'New' : '' }} Appointment Schedule</h5>
                <button type="button" class="close" aria-label="Close" (click)="modal.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>

    <div class="modal-body">

        <app-form #appForm [CurrentObject]="CurrentObject">

            <div class="row">

                <div class="col-lg-6">

                    <p-fieldset legend="Information" class="with-caption">

                        <app-lookup-box #ID_Doctor_LookUpBox [(ngModel)]="CurrentObject.ID_Doctor" name="ID_Doctor"
                            caption="Dentist" [required]="true" [option]="ID_Doctor_LookupBoxOption"
                            labelPosition='top'>
                        </app-lookup-box>

                        <div class="control-separator-bottom"></div>

                        <app-lookup-box #ID_Patient_LookUpBox [(ngModel)]="CurrentObject.ID_Patient" name="ID_Patient"
                            caption="Patient" [required]="true" [option]="ID_Patient_LookupBoxOption"
                            labelPosition='top'>
                        </app-lookup-box>

                    </p-fieldset>

                </div>

                <div class="col-lg-6">

                    <p-fieldset legend="Information" class="with-caption">

                        <div class="control-separator-bottom"></div>

                        <app-text-box [(ngModel)]="CurrentObject.ScheduleType" name="ScheduleType"
                            caption="Schedule Type" [readOnly]="true" labelPosition='top' [ngStyle]="{
                            'margin-bottom': '5px'
                        }">
                        </app-text-box>

                        <div class="control-separator-bottom"></div>

                        <app-text-box [(ngModel)]="CurrentObject.Name_ServiceType" name="Name_ServiceType"
                            caption="Service Type" [readOnly]="true" labelPosition='top' [ngStyle]="{
                            'margin-bottom': '5px'
                        }">
                        </app-text-box>

                        <div class="control-separator-bottom"></div>

                        <app-date-box [(ngModel)]="CurrentObject.DateStart" name="DateStart" caption="Date Start"
                            [readOnly]="true" labelPosition='top' [show-time]="true">
                        </app-date-box>

                        <div class="control-separator-bottom"></div>

                        <app-date-box [(ngModel)]="CurrentObject.DateEnd" name="DateEnd" caption="Date End"
                            [readOnly]="true" labelPosition='top' [show-time]="true">
                        </app-date-box>

                        <div class="control-separator-bottom"></div>

                        <app-text-box [(ngModel)]="CurrentObject.AppointmentStatus_Name_FilingStatus"
                            name="AppointmentStatus_Name_FilingStatus" caption="Status" [readOnly]="true"
                            labelPosition='top' [show-time]="true">
                        </app-text-box>

                    </p-fieldset>
                </div>


            </div>

        </app-form>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="btnSave_onChanged(modal)">Save</button>
        <button type="button" class="btn btn-danger"  (click)="btnCancel_onChanged(modal)">Cancel</button>
    </div>

</ng-template>

