<p-menubar [model]="menuItems"> </p-menubar>

<p-table
  [value]="Records"
  selectionMode="single"
  styleClass="p-datatable-sm"
  [(selection)]="SelectedRecord"
  dataKey="ID"
  [scrollable]="true"
  rowHover="true"
  scrollHeight="500px"
  [style]="{
    height: '500px',
    'background-color': 'gray'
  }"
  (onRowSelect)="recordGrid_onRowSelect()"
  (onRowUnselect)="recordGrid_onRowUnselect()"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 110px">
        <span>Code</span>
      </th>
      <th style="width: 160px">
        <span>Date</span>
      </th>
      <th style="width: 150px">
        <span>Owner's Name</span>
      </th>
      <th style="width: 150px">
        <span>Pet's Name</span>
      </th>
      <th style="min-width: 150px">
        <span>Destination Address</span>
      </th>
      <th style="width: 110px">
        <span>Status</span>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-record>
    <tr
      [pSelectableRow]="record"
      class="row-detail"
      (dblclick)="tableRowDetail_onClick(record)"
    >
      <td style="width: 110px" class="text-center">
        {{ record.Code }}
      </td>
      <td style="width: 160px" class="text-center">
        {{ record.Date | date: "MM/dd/yyyy hh:mm a" }}
      </td>
      <td style="width: 150px">
        {{ record.Name_Client }}
      </td>
      <td style="width: 150px">
        {{ record.Name_Patient }}
      </td>
      <td style="min-width: 150px" class="text-center">
        {{ record.DestinationAddress }}
      </td>
      <td style="width: 110px">
        <span> {{ record.Name_FilingStatus }}</span>
      </td>
    </tr>
  </ng-template>
</p-table>
