<report-viewer
  #reportviewer
  [filterContentTemplate]="filterContentTemplate"
  (onbtnSaveClick)="onbtnSaveClick()"
  (onbtnClearClick)="onbtnClearClick()"
></report-viewer>


<ng-template #filterContentTemplate>
  <admin-lte-datebox
    name="DateStart_BillingInvoice"
    caption="Date Start"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateStart_BillingInvoice"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-datebox
    *ngIf="CurrentObject['DateStart_BillingInvoice']"
    name="DateEnd_BillingInvoice"
    caption="Date End"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateEnd_BillingInvoice"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-data-lookupbox
    name="AttendingPhysician_ID_Employee"
    displayName="AttendingPhysician_Name_Employee"
    caption="Attnd. Veterinarian"
    [initialValue]="CurrentObject.AttendingPhysician_ID_Employee"
    [initialDisplayValue]="CurrentObject.AttendingPhysician_Name_Employee"
    [option]="AttendingPhysician_ID_Employee_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-texbox
    name="Name_Client"
    caption="Client"
    [initialValue]="CurrentObject.Name_Client"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Patient"
    caption="Patient"
    [initialValue]="CurrentObject.Name_Patient"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    name="DateStart_PaymentTransaction"
    caption="Last Paid Date - Start"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateStart_PaymentTransaction"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-datebox
    *ngIf="CurrentObject['DateStart_PaymentTransaction']"
    name="DateEnd_PaymentTransaction"
    caption="Last Paid Date - End"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateEnd_PaymentTransaction"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>
</ng-template>
