<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">&nbsp;</div>

      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCount | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Bilang ng Residente"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>

      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.VoterCount | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Bilang ng Botante"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>

      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCountAge60Above | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="60+ na edad"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCountAge18to59 | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="18 - 59 na edad"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCountAge10to17 | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="10 - 17 na edad"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>

      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCountAge5to9 | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="5 - 9 na edad"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{
            residentSummary.ResidentCountAge24to84months | number: '1.0'
          }}"
          iconClass="fa-users fas"
          subtitle="24 to 48 months"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{
            residentSummary.ResidentCountAge12to23months | number: '1.0'
          }}"
          iconClass="fa-users fas"
          subtitle="12 to 23 months"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{
            residentSummary.ResidentCountAge0to11months | number: '1.0'
          }}"
          iconClass="fa-users fas"
          subtitle="0 to 11 months"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCountMale | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Mga Lalake"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCountFemale | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Mga Babae"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.PermanentResidentCount | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Permanente"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.MigrateResidentCount | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Migrante"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>
<!--
      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.TrancientResidentCount | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Trancient"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div> -->

      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCount4Ps | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="4Ps"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>

      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{
            residentSummary.ResidentCountSeniorCitizen | number: '1.0'
          }}"
          iconClass="fa-users fas"
          subtitle="Senior Citizen"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>

      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCountScholar | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Scholar"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="Diagnosis ng Pagbubuntis"
          [customBodyTemplate]="contentTemplate_Bar_Chart"
        >
        </card-container>
      </div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="Mga Programa"
          [customBodyTemplate]="contentTemplate_Pie_Chart"
        >
        </card-container>
      </div>

      <div class="col-md-12" style="margin-bottom: 15px">
        <card-container
          title="Total Vaccinated Individuals"
          [customBodyTemplate]="
            contentTemplate_totalvaccinatedresidentbarchart_Chart
          "
        >
        </card-container>
      </div>
    </div>
  </div>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>

<ng-template #contentTemplate_Bar_Chart>
  <pregnancy-diagnosis-bar-chart></pregnancy-diagnosis-bar-chart>
</ng-template>

<ng-template #contentTemplate_Pie_Chart>
  <programs-pie-chart></programs-pie-chart>
</ng-template>

<ng-template #contentTemplate_totalvaccinatedresidentbarchart_Chart>
  <total-vaccinated-resident-bar-chart></total-vaccinated-resident-bar-chart>
</ng-template>
