<div class="d-flex flex-column expand"
  [ngClass]="{'hide-filter' : this.showFilterBox !== true }">
  <div class="module-header" style="height: auto;">
    <!-- <div class="module-title" [style.opacity]="title?.length > 0 ? 100 : 0" style="padding: 5px;">
    {{title?.length > 0 ? title : "-" }}
    <button (click)="_toggleSidebar()">Toggle sidebar</button>
  </div> -->
    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <!-- <p-breadcrumb [hidden]="!showTitle" [model]="breadCrumbMenus" [home]="home"></p-breadcrumb> -->
        <!-- <button pButton label="Filter" icon="pi pi-filter"></button>
        <button pButton label="Clear" icon="mdi mdi-filter"></button> -->


        <!-- <button pButton type="button" label="Reset" class="ui-button-raised ui-button-secondary" (click)="clearFilter()"></button> -->
        <button 
          pButton 
          *ngIf="defaultFormFilterValue.length == 0"
          type="button" 
          class="ui-button-raised" 
          icon="pi pi-filter" 
          (click)="toggeFilterBox()"></button>

      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" style="height:1px;">
    <div class="expand" style="overflow:hidden;padding:0px">

      <div class="p-grid expand" style="margin:0">
        <div class="main-box p-col-9">
          <form #form method="POST" target="reportviewer"></form>
          <iframe #reportView (onload)="onLoad($event)" name="reportviewer" class="expand" frameBorder="0" style="background-color: dimgray;"></iframe>

        </div>
        <div class="filter-box p-col-3" style="height: 100%;">

          <div class="d-flex flex-column expand">
            <div class="p-grid expand" style="overflow-x: hidden;overflow-y: auto;">
              <div class="p-col-12">
                <h5 style="font-weight: bold;margin-bottom: 8px;"><span class="mdi mdi-filter"></span> Filters</h5>
                <div #vc></div>
              </div>
            </div>
            <div class="d-flex flex-fill filter-buttons" style="padding: 3px;">
              <button pButton type="button" label="Clear" class="ui-button-raised ui-button-secondary" (click)="clearFilter()"></button>
              <button pButton type="button" label="Search" class="ui-button-raised ui-button-success"  (click)="searchFilter()"></button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>