<app-control #appContainer
  class="list-box-container"
  [cssClass]="getCssClass()"
  [clearButton]="false">
  <div #container
    (blur)="onBlur($event)"
    (focus)="onFocus($event)"
    (keydown)="onKeyDown($event)"
    [tabindex]="tabIndex"
    class="list-container form-control">
    <div class="jf-item"
      *ngFor="let item of items;let i = index"
      (click)="onItemClick($event,item,i)"
      (dblclick)="doubleClick($event)"
      [ngClass]="{'jf-item-focused': currentItemIndex == i }">

      <div class="row">
        <div [ngClass]="{'col-sm-1': showCheckBox == true}">
          <div class="check-box"
            *ngIf="showCheckBox == true"
            style="display:table;height: 100%;">
            <div style="display:table-cell;vertical-align: middle">
              <app-check-box [name]="'cb'+ i"
                [showLabel]="false"></app-check-box>
            </div>
          </div>
        </div>
        <div [ngClass]="{'col-sm-11': showCheckBox == true, 'col-sm-12' : showCheckBox == false}">
          <div style="padding: 5px">
            {{item[displayKey]}}
          </div>
        </div>
      </div>

    </div>
  </div>
</app-control>