@import '../../../palette.less';

.list-container {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 13px;
}

.form-control {
  padding: 0;
}

.jf-item {
  padding: 10px 10px;
}

.jf-item:not(:first-child) {
  border-top: solid 1px #ddd;
}

:host {
  /deep/ app-check-box {
    .label-container {
      display: none !important;
    }

    .app-control {
      margin-bottom: 0 !important;
    }
  }
}