<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th>Miyembro ng Pamilya</th>
          <th style="width: 200px">Relasyon</th>
          <th style="width: 20px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let FamilyMember of FamilyMembers; index as i"
          style="cursor: pointer"
        >
          <td class="text-left">
            {{ FamilyMember.Name_FamilyMember }}
          </td>
          <td class="text-left">
            <admin-lte-data-lookupbox
              name="ID_RelationshipType"
              displayName="Name_Relationship"
              caption=""
              [initialValue]="FamilyMember.ID_RelationshipType"
              [initialDisplayValue]="FamilyMember.Name_Relationship"
              [option]="ID_Relationship_LookupboxOption"
              (onModelChanged)="
                FamilyMember_onModelChanged(FamilyMember, $event)
              "
            >
            </admin-lte-data-lookupbox>
          </td>
          <td class="text-center" style="padding: 5px">
            <button
              class="btn btn-danger"
              (click)="BtnDeleteSchedule_OnClick(FamilyMember)"
            >
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<br />
<br />
<br />
<br />
<br />
