<p-menubar [model]="menuItems" *ngIf="isMenuShow && this._CurrentObject.ID > 0">
</p-menubar>

<p-table
  [value]="dataSource"
  selectionMode="single"
  styleClass="p-datatable-sm"
  [(selection)]="selectedRecord"
  dataKey="ID"
  [scrollable]="true"
  rowHover="true"
  scrollHeight="400px"
  [style]="{
    height: '400px',
    'background-color': 'gray'
  }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 100px">Date</th>
      <th style="width: 100px">Code</th>
      <th style="width: 140px">Type</th>
      <th style="width: 180px">Attending Personnel</th>
      <th style="width: 180px">Records</th>
      <th style="width: 100px">Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-Patient_SOAP>
    <tr
      [pSelectableRow]="Patient_SOAP"
      (click)="Patient_SOAPGrid_onDblClick(Patient_SOAP)"
    >
      <td style="width: 100px; text-align: center; vertical-align: top">
        {{ Patient_SOAP.Date | date: "MM/dd/yyyy" }}
      </td>
      <td style="width: 100px; text-align: center; vertical-align: top">
        {{ Patient_SOAP.Code }}
      </td>

      <td style="width: 140px; text-align: center; vertical-align: top">
        {{ Patient_SOAP.Name_SOAPType }}
      </td>

      <td style="width: 180px">
        {{ Patient_SOAP.AttendingPhysician_Name_Employee }}
      </td>

      <td style="width: 180px; vertical-align: top">
        <p
          *ngFor="let SOAPRecord of Patient_SOAP.SOAPRecords"
          class="Record-Info"
          [title]="SOAPRecord.value"
          [ngClass]="{
            'text-success': SOAPRecord.hasValue,
            'text-danger': !SOAPRecord.hasValue
          }"
        >
          <i
            class="fa"
            [ngClass]="{
              'fa-check': SOAPRecord.hasValue
            }"
          ></i>
          {{ SOAPRecord.label }}
        </p>
      </td>

      <td
        style="width: 100px; text-align: center; vertical-align: top"
        class="FilingStatus FS_{{
          Patient_SOAP.Name_FilingStatus == null
            ? ''
            : Patient_SOAP.Name_FilingStatus.replace(' ', '')
        }}"
      >
        {{ Patient_SOAP.Name_FilingStatus }}
      </td>
    </tr>
  </ng-template>
</p-table>
