<div class="row">
  <div
    class="col-md-12 col-lg-6 col-xl-4"
    *ngFor="let record of dataSource; index as i"
  >
    <div
      class="card mb-2 bg-gradient-light"
      style="height: 160px; padding: 15px; color: #343a40; position: relative"
    >
      <h6>
        Date: {{ record.DateStart | date: "MMM/dd/yyyy" }} to
        {{ record.DateEnd | date: "MMM/dd/yyyy" }}
      </h6>

      <p class="card-text text-dark">
        {{ record.Name }}
      </p>
      <a href="#" class="text-primary" style="position: absolute; bottom: 10px">
        Last Updated {{ record.LastUpdateString }}</a
      >
    </div>
  </div>
</div>
