<app-control
  #appContainer
  [cssClass]="getCssClass()"
  [filterItems]="filterCriteriaItems"
  [clearButton]="isEmptyString() == false"
>
  <input
    *ngIf="readOnly == false"
    type="text"
    #input
    pInputText
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    (keydown)="onKeyDown($event)"
    [(ngModel)]="value"
    (ngModelChange)="onTextBox_ValueChange($event)"
    [placeholder]="placeholder"
    [readOnly]="readOnly"
    required
  />

  <span
    class="clear-button pi pi-times"
    style="
      position: absolute;
      font-size: 1em;
      right: 29px;
      top: 9px;
      color: #848484;
    "
  ></span>

  <span
    class="icon-drop-down pi pi-bars"
    style="position: absolute; right: 7px; top: 7px; color: #848484"
  ></span>

  <p
    *ngIf="readOnly"
    class="ui-inputtext"
    style="padding: 6px; font-size: 12px; background-color: whitesmoke"
  >
    {{ value }}&nbsp;
  </p>
</app-control>
