<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">&nbsp;</div>

      <div
        class="col-sm-3"
        style="margin-bottom: 15px"
        *ngFor="let obj of residentSummary.Summary"
      >
        <admin-lte-small-box
          title="{{ obj.Count | number: '1.0' }}"
          iconClass="fa-users fas"
          [subtitle]="obj.Label"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>

      <div class="col-sm-9" style="margin-bottom: 15px">&nbsp;</div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="Mga Bagong Resident"
          [customBodyTemplate]="
            contentTemplate_registeredresidentbarchart_Chart
          "
        >
        </card-container>
      </div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="Programa ng Barangay"
          [customBodyTemplate]="
            contentTemplate_barangayregisteredresidetpiechart_Chart
          "
        >
        </card-container>
      </div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="Relihiyon"
          [customBodyTemplate]="contentTemplate_residentreligionbarchart_Chart"
        >
        </card-container>
      </div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="May mga Trabaho"
          [customBodyTemplate]="
            contentTemplate_residentoccupationstatuspiechart
          "
        >
        </card-container>
      </div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="Mga Bakunado"
          [customBodyTemplate]="
            contentTemplate_totalvaccinatedresidentbarchart_Chart
          "
        >
        </card-container>
      </div>
    </div>
  </div>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>

<ng-template #contentTemplate_registeredresidentbarchart_Chart>
  <registered-resident-bar-chart></registered-resident-bar-chart>
</ng-template>

<ng-template #contentTemplate_barangayregisteredresidetpiechart_Chart>
  <resident-program-pie-chart></resident-program-pie-chart>
</ng-template>

<ng-template #contentTemplate_totalvaccinatedresidentbarchart_Chart>
  <total-vaccinated-resident-bar-chart></total-vaccinated-resident-bar-chart>
</ng-template>

<ng-template #contentTemplate_residentoccupationstatuspiechart>
  <resident-occupation-status-pie-chart></resident-occupation-status-pie-chart>
</ng-template>

<ng-template #contentTemplate_residentreligionbarchart_Chart>
  <resident-religion-bar-chart></resident-religion-bar-chart>
</ng-template>
