<div class="card">
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered table-hover"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th>Date</th>
          <th>SOAP #</th>
          <th>Type</th>
          <th>Primary Complaint / History</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rowData of dataSource; index as i"
          style="cursor: pointer"
          (click)="onRowClick(rowData)"
        >
          <td class="text-center">{{ rowData.Date | date: "MM/dd/YYYY" }}</td>
          <td class="text-center">{{ rowData.Code }}</td>
          <td class="text-center">{{ rowData.Name_SOAPType }}</td>
          <td class="text-left">{{ rowData.History }}</td>
          <td
            style="text-align: center"
            class="FilingStatus FS_{{
              rowData.Name_FilingStatus == null ? '' : rowData.Name_FilingStatus.replace(' ', '')
            }}"
          >
            {{ rowData.Name_FilingStatus }}
          </td>
        </tr>
      </tbody>
    </table>

    <br/><br/><br/><br/><br/><br/><br/><br/>
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
