<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Information</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Infomation_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Patient Information</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_PatientInfomation_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Comment_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-datetimebox
    name="DateStart"
    caption="Date Start"
    [initialValue]="CurrentObject.DateStart"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datetimebox>

  <admin-lte-datetimebox
    name="DateEnd"
    caption="Date End"
    [initialValue]="CurrentObject.DateEnd"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datetimebox>

  <admin-lte-texbox
    name="Name_FilingStatus"
    caption="Filing Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_PatientInfomation_fields>
  <admin-lte-data-lookupbox
    name="ID_SOAPType"
    displayName="Name_SOAPType"
    caption="Type"
    [initialValue]="CurrentObject.ID_SOAPType"
    [initialDisplayValue]="CurrentObject.Name_SOAPType"
    [option]="ID_SOAPType_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="ID_Client"
    displayName="Name_Client"
    caption="Client"
    [initialValue]="CurrentObject.ID_Client"
    [initialDisplayValue]="CurrentObject.Name_Client"
    [option]="ID_Client_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    #ID_Patient_Lookupbox
    name="ID_Patient"
    displayName="Name_Patient"
    caption="Patient"
    [initialValue]="CurrentObject.ID_Patient"
    [initialDisplayValue]="CurrentObject.Name_Patient"
    [option]="ID_Patient_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplate_Comment_fields>
  <admin-lte-textarea
    name="Comment"
    caption="Comment"
    [initialValue]="CurrentObject.Comment"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>
