<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th style="width: 100px">Date Inclined</th>
          <th style="width: 140px">Item / Services</th>
          <th style="width: 80px">Quantity</th>
          <th style="width: 250px">Remarks</th>
          <th style="width: 120px">Amount</th>
          <th style="width: 70px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let itemsService of itemsServices; index as i"
          style="cursor: pointer"
        >
          <td class="text-center">
            <admin-lte-datetimebox
              name="Date"
              caption=""
              format="MMM. dd, yyyy"
              [initialValue]="itemsService.Date"
              (onModelChanged)="
                itemsService_onModelChanged(itemsService, $event)
              "
            >
            </admin-lte-datetimebox>
          </td>
          <td class="text-left">{{ itemsService.Name_Item }}</td>

          <td class="text-left">
            <admin-lte-numberbox
              name="Quantity"
              caption=""
              [initialValue]="itemsService.Quantity"
              (onModelChanged)="
                itemsService_onModelChanged(itemsService, $event)
              "
            >
            </admin-lte-numberbox>
          </td>

          <td class="text-left">
            <admin-lte-textarea
              name="Comment"
              caption=""
              rows="5"
              [initialValue]="itemsService.Comment"
              (onModelChanged)="
                itemsService_onModelChanged(itemsService, $event)
              "
            >
            </admin-lte-textarea>
          </td>
          <td class="text-center">
            {{ itemsService.Amount | number: "1.2-5" }}
          </td>
          <td class="text-center">
            <button
              class="btn btn-danger"
              (click)="BtnDeleteSOAPPlan_OnClick(itemsService)"
            >
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
