<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      {{ ModelDisplayName }} &nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-4">
                <p-fieldset legend="Information" class="with-caption">
                  <app-text-box
                    [(ngModel)]="CurrentObject.Name"
                    name="Name"
                    caption="Name"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-select-box
                    #ID_Positionr_SelectBox
                    [(ngModel)]="CurrentObject.ID_Position"
                    name="ID_Position"
                    caption="Position"
                    [required]="true"
                    [option]="ID_Position_SelectBoxOption"
                    labelPosition="top"
                    (onValueChanged)="
                      ID_Position_SelectBox_ValueChanged($event)
                    "
                  >
                  </app-select-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.PRCLicenseNumber"
                    name="PRCLicenseNumber"
                    caption="PRC License #"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                  
                  <app-date-box
                    [(ngModel)]="CurrentObject.DatePRCExpiration"
                    name="DatePRCExpiration"
                    caption="PRC Expiration Date"
                    labelPosition="top"
                    [show-time]="false"
                  >
                  </app-date-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.PTR"
                    name="PTR"
                    caption="PTR"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.S2"
                    name="S2"
                    caption="S2"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.TINNumber"
                    name="TINNumber"
                    caption="TIN Number"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
              <div class="col-lg-4">
                <p-fieldset legend="Personal Info" class="with-caption">
                  <app-text-box
                    [(ngModel)]="CurrentObject.LastName"
                    name="LastName"
                    caption="Last Name"
                    [readOnly]="false"
                    [required]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                    (onValueChanged)="Name_TextBox_Changed()"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.FirstName"
                    name="FirstName"
                    caption="First Name"
                    [readOnly]="false"
                    [required]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                    (onValueChanged)="Name_TextBox_Changed()"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.MiddleName"
                    name="MiddleName"
                    caption="Middle Name"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                    (onValueChanged)="Name_TextBox_Changed()"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-select-box
                    #ID_Gender_SelectBox
                    [(ngModel)]="CurrentObject.ID_Gender"
                    name="ID_Gender"
                    caption="Gender"
                    [required]="true"
                    [option]="ID_Gender_SelectBoxOption"
                    labelPosition="top"
                    (onValueChanged)="ID_Gender_SelectBox_ValueChanged($event)"
                  >
                  </app-select-box>

                  <div class="control-separator-bottom"></div>

                  <app-select-box
                    #ID_EmployeeStatus_SelectBox
                    [(ngModel)]="CurrentObject.ID_EmployeeStatus"
                    name="ID_EmployeeStatus"
                    caption="Employee Status"
                    [required]="true"
                    [option]="ID_EmployeeStatus_SelectBoxOption"
                    labelPosition="top"
                    (onValueChanged)="
                      ID_EmployeeStatus_SelectBox_ValueChanged($event)
                    "
                  >
                  </app-select-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
              <div class="col-lg-4">
                <p-fieldset legend="Contact Info" class="with-caption">
                  <app-text-area
                    [(ngModel)]="CurrentObject.FullAddress"
                    name="FullAddress"
                    caption="Full Address"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-area>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Email"
                    name="Email"
                    caption="Email"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.ContactNumber"
                    name="ContactNumber"
                    caption="ContactNumber"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>

<employee-user-account-dialog-box
  #employeeuseraccountdialogbox
></employee-user-account-dialog-box>

<loading-screen [isLoading]="isLoading"></loading-screen>