<div class="card">
  <div class="card-body p-0">
    <table class="table table-striped table-bordered" style="background-color: white">
      <thead>
        <tr>
          <th>Date</th>
          <th>Payment Trans #</th>
          <th>Mode</th>
          <th>Payable</th>
          <th>Payment</th>
          <th>Remaining</th>
          <th>Change</th>
          <th style="width: 130px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rowData of dataSource; index as i">
          <td class="text-center">{{ rowData.Date | date: "MM/dd/YYYY" }}</td>
          <td class="text-center">{{ rowData.Code }}</td>
          <td class="text-center">{{ rowData.Name_PaymentMethod }}</td>
          <td class="text-right">
            {{ rowData.PayableAmount | number: "1.2-5" }}
          </td>
          <td class="text-right">
            {{ rowData.PaymentAmount | number: "1.2-5" }}
          </td>
          <td class="text-right">
            {{ rowData.RemainingAmount | number: "1.2-5" }}
          </td>

          <td class="text-right">
            {{ rowData.ChangeAmount | number: "1.2-5" }}
          </td>
          <td class="text-center" style="width: 130px">
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-sm btn-info"
                (click)="btnPrint_onClick(rowData)"
              >
                <i class="fas fa-print"></i>&nbsp;Receipt
              </button>
              <button
                type="button"
                class="btn btn-sm btn-info dropdown-toggle dropdown-hover dropdown-icon"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu">
                <span
                  class="dropdown-item"
                  href="#"
                  style="cursor: pointer"
                  (click)="btnCancel_onClick(rowData)"
                  ><i class="fas fa-print text-red"></i>&nbsp;&nbsp;Cancel</span
                >
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <br /><br /><br /><br /><br /><br /><br />
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
