<app-control #appContainer
  [cssClass]="getCssClass()"
  [clearButton]="isEmptyString() == false">

    <input type="text" #input pInputText [hidden]="!(itemSelected === null)"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
      (keydown)="onKeyDown($event)"
      (ngModelChange)="onTextBox_ValueChange($event)"
      [(ngModel)]="value"
      [placeholder]="placeholder"
      required/>

    <input type="text" #displayInput pInputText [hidden]="(itemSelected === null)"
      (keydown)="onKeyDown($event)"
      [value]="getDisplayText()"
      [placeholder]="placeholder"
      style="font-weight: bold;"
      [readonly]="false"/>

    <span class="clear-button pi pi-times"
    style="position:absolute;font-size: 1em; right:29px;top:9px;color:#848484"
    (click)="clearItemSelected()"
    [hidden]="(itemSelected === null)" *ngIf="showClearButton"></span>

    <span class="pi pi-bars" style="position:absolute;right:7px;top:7px;color:#848484 "></span>

    <p-overlayPanel #op
      styleClass="picklist-overlay"
      [showCloseIcon]="true"
      [baseZIndex]="4000"
      [dismissable]="true" appendTo="body" (onShow)="onShow($event)" (onHide)="onHide($event)" >
      <div [style.height.px]="350" [style.width.px]="650" class="no-select">
        <app-data-table #dataTable [option]="gridOption"></app-data-table>
      </div>  
    </p-overlayPanel>

</app-control>
