app-data-table {
  /deep/ table {
      @cellPadding:10px;
      @cellHeight: 40px;
      th.header-column {
        padding: 0px;
        height: @cellHeight + 5;
        line-height: @cellHeight + 5;
        padding-left: @cellPadding;
        padding-right: @cellPadding;
        background-color: #007ad9;
        color:#fff;
      }
      .table-footer {
        height: @cellHeight + 5;
        th {
          padding: 0px;
          height: @cellHeight + 5;
          line-height: @cellHeight + 5;
        }
      }
      td {
          height: @cellHeight;//!important;
          .cell-value,
          .cell {
            line-height: @cellHeight!important;
          }
      }

      .jf-focused {
        .cell-value {
          line-height: @cellHeight - 5!important;;
        }
      }
  }
}

.clear-button:hover {
  cursor: pointer;
}