<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
</div>
<div class="card card-outline card-primary" *ngFor="let patient of Client.Patients; index as i">
  <div class="card-header">
    <h3 class="card-title">{{ i + 1 }}. {{ patient.Name_Patient }}</h3>

    <div class="card-tools">
      <button
        type="button"
        class="btn text-danger btn-tool"
        (click)="BtnDeleteSOAPPresciption_OnClick(patient)"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">
        <admin-lte-texbox
          name="Name_Patient"
          caption="Pet's Name"
          [initialValue]="patient.Name_Patient"
          (onModelChanged)="PatientRow_onModelChanged(patient, $event)"
        >
        </admin-lte-texbox>
      </div>

      <div class="col-lg-6">
        <admin-lte-autocompletebox
          name="Species_Patient"
          caption="Breed - Species"
          [initialValue]="patient.Species_Patient"
          [dataList]="BreedSpecieList"
          (onModelChanged)="PatientRow_onModelChanged(patient, $event)"
        >
        </admin-lte-autocompletebox>
      </div>

      <div class="col-lg-6">
        <admin-lte-data-lookupbox
          name="ID_Gender_Patient"
          displayName="Name_Gender_Patient"
          caption="Gender"
          [initialValue]="patient.ID_Gender_Patient"
          [initialDisplayValue]="patient.Name_Gender_Patient"
          [option]="ID_Gender_LookupboxOption"
          (onModelChanged)="PatientRow_onModelChanged(patient, $event)"
        >
        </admin-lte-data-lookupbox>
      </div>
    </div>

    <div></div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
