.record-info {
  font-size: 13px;
  margin: 0px;
  color: rgb(158, 158, 158);
}

.record-info-has-record {
  color: rgb(15, 149, 7);
  font-weight: bold;
}
.record-info-has-record:hover {
  color: rgb(8, 108, 2);
}
