<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar [items]="items" (onClick)="menubar_OnClick($event)"> </menubar>
      </div>

      <div class="col-12 d-block d-md-none d-lg-none d-lg-none">
        <div class="card collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-9">
        <div class="card">
          <div
            class="
              card-body
              table-hover
              text-nowrap
              table-bordered table-striped table-responsive
              p-0
            "
            [ngStyle]="{
              height: gridHeight
            }"
          >
            <ng-container
              [ngTemplateOutlet]="contentTemplateTable"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <pagination
              [TotalPageNumber]="pagingOption.TotalPageNumber"
              (pageNumber_OnClick)="onPageChange($event)"
            >
            </pagination>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-3 d-none d-md-block d-lg-block d-xl-block">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplateTable>
  <table class="table table-head-fixed text-nowrap">
    <thead>
      <tr>
        <th (click)="tableHeader_onClick('Date')" style="width: 150px">
          Date Confinement
        </th>
        <th (click)="tableHeader_onClick('Code')" style="width: 120px">Code</th>
        <th (click)="tableHeader_onClick('Name_Client')" style="width: 200px">
          Owner's Name
        </th>
        <th (click)="tableHeader_onClick('Name_Patient')" style="width: 200px">
          Pet's Name
        </th>
        <th
          (click)="tableHeader_onClick('ConfinementDayCount')"
          style="width: 140px"
        >
          Confinement Days
        </th>
        <th
          (click)="tableHeader_onClick('Name_FilingStatus')"
          style="width: 100px"
        >
          Status
        </th>
        <th
          (click)="tableHeader_onClick('BillingInvoice_Name_FilingStatus')"
          style="width: 100px"
        >
          Bill Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let rowData of dataSource; index as i"
        (click)="Row_OnClick(rowData)"
      >
        <td class="text-center">{{ rowData.Date | date: "MM/dd/yyyy" }}</td>
        <td class="text-center">{{ rowData.Code }}</td>
        <td>{{ rowData.Name_Client }}</td>
        <td>{{ rowData.Name_Patient }}</td>
        <td class="text-center">{{ rowData.ConfinementDays }}</td>
        <td class="text-center">{{ rowData.Name_FilingStatus }}</td>
        <td class="text-center">
          {{ rowData.BillingInvoice_Name_FilingStatus }}
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #contentTemplateFilterForm>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Client"
    caption="Owner's Name"
    [initialValue]="CurrentObject.Name_Client"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Patient"
    caption="Pet's Name"
    [initialValue]="CurrentObject.Name_Patient"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  ></admin-lte-texbox>

  <admin-lte-data-lookupbox
    name="ID_FilingStatus"
    displayName="Name_FilingStatus"
    caption="Status"
    [initialValue]="CurrentObject.ID_FilingStatus"
    [initialDisplayValue]="CurrentObject.Name_FilingStatus"
    [option]="ID_FilingStatus_LookupboxOption"
    (onModelChanged)="control_onSelectedItemChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplateFilterFormFooter>
  <button (click)="onBtnSearchClick($event)" class="btn btn-info">
    Search
  </button>

  <button (click)="onBtnClearClick($event)" class="btn btn-link">Clear</button>
</ng-template>
