<p-menubar
  [model]="menuItems"
  *ngIf="menuItems.length > 0"
  styleClass="d-flex justify-content-end"
>
</p-menubar>

<p-table
  [value]="_itemsandservices"
  selectionMode="single"
  styleClass="p-datatable-sm"
  dataKey="ID"
  [scrollable]="true"
  rowHover="true"
  scrollHeight="500px"
  [style]="{
    'background-color': 'gray'
  }"
>
  <ng-template pTemplate="header">
    <tr style="text-align: center">
      <th style="width: 155px">Patient</th>
      <th style="width: 155px">Date Inclined</th>
      <th style="width: 200px">Item / Services</th>
      <th style="width: 80px">Quantity</th>
      <th>Remarks</th>
      <th
        *ngIf="
          ItemServiceMode == ConfimentItemServiceModeEnum_All ||
          ItemServiceMode == ConfimentItemServiceModeEnum_Item
        "
        style="width: 120px"
      >
        Route
      </th>
      <th style="width: 120px">Unit Price</th>
      <th style="width: 120px">Amount</th>
      <th *ngIf="!IsDisabled" style="width: 70px"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-itemsandservice>
    <tr
      *ngIf="
        ItemServiceMode == ConfimentItemServiceModeEnum_All ||
        (ItemServiceMode == ConfimentItemServiceModeEnum_Item &&
          itemsandservice.ID_ItemType == ItemTypeEnum_Inventoriable) ||
        (ItemServiceMode == ConfimentItemServiceModeEnum_Service &&
          itemsandservice.ID_ItemType == ItemTypeEnum_Service)
      "
    >
      <td style="width: 155px" class="text-center">
        <span style="cursor: pointer;" (click)="ItemsAndServicePatientColumn_onClick(itemsandservice)">
          {{
            itemsandservice.Name_Patient
              ? itemsandservice.Name_Patient
              : "-------------"
          }} 
        </span>
        <button
          *ngIf="(itemsandservice.ID_Patient && !itemsandservice.ID_Patient_SOAP) && IsDisabled != true"
          (click)="
            ItemsAndServicePatientColumnBtnRemove_onClick(itemsandservice)
          "
          class="btn btn-danger btn-sm"
          style="padding: 3px 7px; font-size: 10px; float: right;"
        >
          X
        </button>
      </td>
      <td pEditableColumn class="text-center" style="width: 155px">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <app-date-box
              [(ngModel)]="itemsandservice.Date"
              name="Date"
              caption=""
              [show-time]="true"
              labelPosition="top"
              [readOnly]="IsDisabled"
              (onControlValue_Changed)="onChange()"
            >
            </app-date-box>
          </ng-template>

          <ng-template pTemplate="output">
            <span class="required-color">
              {{ itemsandservice.Date | date: "MM/dd/yyyy hh:mm a" }}
            </span>
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width: 200px">
        {{ itemsandservice.Name_Item }}
      </td>
      <td style="width: 80px" pEditableColumn class="text-center">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <app-number-box
              [(ngModel)]="itemsandservice.Quantity"
              name="Quantity"
              caption=""
              labelPosition="top"
              [ngStyle]="{
                'margin-bottom': '5px'
              }"
              [readOnly]="IsDisabled"
              (onChange)="onChange()"
            >
            </app-number-box>
          </ng-template>

          <ng-template pTemplate="output">
            <span
              [ngClass]="
                itemsandservice.Quantity == 0
                  ? 'required-color'
                  : 'editable-color'
              "
              >{{ itemsandservice.Quantity }}</span
            >
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn class="text-left">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <app-text-area
              [(ngModel)]="itemsandservice.Comment"
              name="Comment"
              caption=""
              labelPosition="top"
              [readOnly]="IsDisabled"
              (onChange)="onChange()"
            >
            </app-text-area>
          </ng-template>

          <ng-template pTemplate="output">
            <span class="editable-color">
              {{ itemsandservice.Comment }}
            </span>
          </ng-template>
        </p-cellEditor>
      </td>
      <td
        *ngIf="
          ItemServiceMode == ConfimentItemServiceModeEnum_All ||
          ItemServiceMode == ConfimentItemServiceModeEnum_Item
        "
        style="width: 120px"
        pEditableColumn
        class="text-left"
      >
        <p-cellEditor>
          <ng-template pTemplate="input">
            <app-auto-complete-box
              [(ngModel)]="itemsandservice.Route"
              [dataList]="MedicationRouteList"
              name="Route"
              caption=""
              labelPosition="top"
              [readOnly]="IsDisabled"
              (onChange)="onChange()"
            >
            </app-auto-complete-box>
          </ng-template>

          <ng-template pTemplate="output">
            <span class="editable-color">
              {{ itemsandservice.Route }}
            </span>
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width: 120px" pEditableColumn class="text-right">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <app-number-box
              [(ngModel)]="itemsandservice.UnitPrice"
              name="UnitPrice"
              caption=""
              labelPosition="top"
              [ngStyle]="{
                'margin-bottom': '5px'
              }"
              [readOnly]="IsDisabled"
              (onChange)="onChange()"
            >
            </app-number-box>
          </ng-template>

          <ng-template pTemplate="output">
            <span class="editable-color">
              {{
                itemsandservice.UnitPrice
                  | currency: "PHP":"symbol-narrow":"1.2"
              }}
            </span>
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width: 120px; text-align: right">
        {{ itemsandservice.Amount | number: "1.2" }}
      </td>
      <td *ngIf="!IsDisabled" style="text-align: center; width: 70px">
        <button
          pButton
          type="button"
          icon="pi pi-times"
          (click)="onRowDeleting(itemsandservice)"
          class="p-button-rounded p-button-text"
        ></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="footer">
    <tr>
      <td colspan="5" class="text-right">Total</td>
      <td class="text-right" style="width: 120px">
        {{ TotalAmount | number: "1.2" }}
      </td>
      <td *ngIf="!IsDisabled" style="width: 70px"></td>
    </tr>
  </ng-template>
</p-table>

<look-up-dialog-box #itemServiceDialog></look-up-dialog-box>
