<modal-dialog
  #modalDialog
  title="Consent Agreement"
  size="lg"
  [footerTemplate]="footerDialogTemplate"
>
  <br />
  <div class="container">
    <ng-container [ngTemplateOutlet]="adjustInventoryTemplate"></ng-container>
  </div>
</modal-dialog>

<ng-template #adjustInventoryTemplate>
  <div class="row">
    <div class="col-lg-12" [innerHTML]="ConsentFormHtMLString">
    </div>
  </div>
</ng-template>

<ng-template #footerDialogTemplate>
  <button class="btn btn-primary" (click)="btnAgreement_onClick()">
    <i class="fas fa-check"></i>&nbsp;Agree
  </button>
  <button class="btn btn-danger" (click)="btnClose_onClick()">
    <i class="fas fa-times"></i>&nbsp;Close
  </button>
</ng-template>
