.menu-open{

  .nav-link{

    background-color: transparent !important;
  }
}


.main-sidebar {

  background-color: #066b6b;
}

.btn-sidebar, .form-control-sidebar {
  background-color: #fff;
  border: 1px solid #56606a;
  color: rgb(58, 58, 58);
}


.sidebar {
  overflow-y: auto;
  overflow-x: hidden;
}
