<p-menubar
  [model]="menuItems"
  *ngIf="menuItems.length > 0"
  styleClass="d-flex justify-content-end"
>
</p-menubar>

<p-table
  [value]="_treatments"
  selectionMode="singl"
  styleClass="p-datatable-sm"
  dataKey="ID"
  [scrollable]="true"
  rowHover="true"
  scrollHeight="300px"
  [style]="{
    height: '300px',
    'background-color': 'gray'
  }"
>
  <ng-template pTemplate="header">
    <tr style="text-align: center">
      <th style="width: 40%" pSortableColumn="Name_Item">Item</th>
      <th style="width: 80px" pSortableColumn="Quantity">Quantity</th>
      <th pSortableColumn="Comment">Remarks</th>
      <th *ngIf="!IsDisabled" style="width: 70px"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-treatment>
    <tr>
      <td style="width: 40%">
        {{ treatment.Name_Item }}
      </td>
      <td style="width: 80px" pEditableColumn class="text-center">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <app-number-box
              [(ngModel)]="treatment.Quantity"
              name="Quantity"
              caption=""
              labelPosition="top"
              [ngStyle]="{
                'margin-bottom': '5px'
              }"
              [readOnly]="IsDisabled"
              (onControlValue_Changed)="onChange()"
            >
            </app-number-box>
          </ng-template>

          <ng-template pTemplate="output">
            <span
              [ngClass]="
                treatment.Quantity == 0 ? 'required-color' : 'editable-color'
              "
              >{{ treatment.Quantity }}</span
            >
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn class="text-left">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <app-text-area
              [(ngModel)]="treatment.Comment"
              name="Comment"
              caption=""
              labelPosition="top"
              [readOnly]="IsDisabled"
              (onControlValue_Changed)="onChange()"
            >
            </app-text-area>
          </ng-template>

          <ng-template pTemplate="output">
            <span class="editable-color">
              {{ treatment.Comment }}
            </span>
          </ng-template>
        </p-cellEditor>
      </td>
      <td *ngIf="!IsDisabled" style="text-align: center; width: 70px">
        <button
          pButton
          type="button"
          icon="pi pi-times"
          (click)="onRowDeleting(treatment)"
          class="p-button-rounded p-button-text"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<look-up-dialog-box #itemServiceDialog></look-up-dialog-box>