<p-menubar
  [model]="menuItems"
  *ngIf="this._CurrentObject.ID > 0 && menuItems.length > 0"
>
</p-menubar>

<p-table
  [value]="dataSource"
  selectionMode="single"
  styleClass="p-datatable-sm"
  [(selection)]="selectedRecord"
  (onRowSelect)="List_onRowSelect($event)"
  (onRowUnselect)="List_onRowUnselect($event)"
  dataKey="ID"
  [scrollable]="true"
  rowHover="true"
  scrollHeight="300px"
  [style]="{
    height: '300px',
    'background-color': 'gray'
  }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 100px">Date</th>
      <th style="width: 100px">Ref #</th>
      <th>Amount</th>
      <th style="width: 60px" *ngIf="isAllowedToCancel"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-record>
    <tr [pSelectableRow]="record">
      <td style="width: 100px">{{ record.Date | date: "MM/dd/yyyy" }}</td>
      <td style="width: 100px">{{ record.Code }}</td>
      <td class="text-right">{{ record.DepositAmount | number: "1.2" }}</td>
      <td style="text-align: center; width: 60px" *ngIf="isAllowedToCancel">
        <button
          pButton
          *ngIf="record.ID"
          type="button"
          icon="pi pi-times"
          (click)="onRowDeletingRecord(record)"
          class="p-button-rounded p-button-text"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<client-credit-adjustment-dialogbox
  #clientcreditadjustmentdialogbox
></client-credit-adjustment-dialogbox>
