<report-viewer
  #reportviewer
  [filterContentTemplate]="filterContentTemplate"
  (onbtnSaveClick)="onbtnSaveClick()"
  (onbtnClearClick)="onbtnClearClick()"
></report-viewer>

<ng-template #filterContentTemplate>
  <admin-lte-texbox
    name="Name"
    caption="Pangalan"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
    name="VoteInfoPrecinctNumber"
    caption="Precinct No."
    [initialValue]="CurrentObject.VoteInfoPrecinctNumber"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
    name="AgeStart"
    caption="Starting Age"
    [initialValue]="CurrentObject.AgeStart"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
    name="AgeEnd"
    caption="Ending Age"
    [initialValue]="CurrentObject.AgeEnd"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>

  <div class="custom-slider">
    <ngx-slider
      [(value)]="CurrentObject.AgeStart"
      [(highValue)]="CurrentObject.AgeEnd"
      [options]="options"
    ></ngx-slider>
  </div>
</ng-template>
