<app-control #appContainer class="combo-box-container" [cssClass]="getCssClass()" [clearButton]="false">
  <div ngbDropdown #dropDown="ngbDropdown" container="body" class="form-control form-control-sm parent"
    [autoClose]="false" placement="bottom-left">
    <div class="input-group">
      <input ngbDropdownAnchor #input type="text" (focus)="onFocus($event)"
        [placeholder]="placeholder ? placeholder : 'Search here...'"
        class="form-control form-control-sm browser-default">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-sm btn-dropdown-toggle" tabindex="-1"
          (click)="toggleDropdown($event);" type="button"><span class="mdi mdi-table-search"></span></button>
      </div>
    </div>
    <div ngbDropdownMenu>
      <div ngbDropdownItem class="grid-dropdown" id="{{dropdownId}}">

        <div class="flexbox-parent">
          <div class="flexbox-item header">
            <button class="btn btn-outline-secondary btn-sm"><span class="mdi mdi-file-outline"></span> New</button>
            <button class="btn btn-outline-secondary btn-sm"><span class="mdi mdi-refresh green"></span>
              Refresh</button>
          </div>

          <div class="flexbox-item fill-area content flexbox-item-grow">
            <div class="fill-area-content flexbox-item-grow">

              <app-data-grid #dataGrid></app-data-grid>

            </div>
          </div>

          <div class="flexbox-item footer">
            Footer
          </div>
        </div>

        <!-- <app-appDataGrid #dataGrid></app-appDataGrid> -->
      </div>
    </div>
  </div>
</app-control>
