<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox>
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-10">
          <div
            class="d-flex flex-column expand"
            [ngStyle]="{
              height: gridHeight
            }"
          >
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: hidden"
            >
              <div class="p-col-12">
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_table"
                ></ng-container>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-2" style="height: 100%">
          <div
            class="d-flex flex-column expand"
            [ngStyle]="{
              height: cardBodyHeight
            }"
          >
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <ng-container
                  [ngTemplateOutlet]="contentTemplate_FilterFields"
                ></ng-container>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplate_table>
  <p-table
    class="flexcolumn"
    [value]="dataSource"
    selectionMode="single"
    [(selection)]="selectedRecord"
    dataKey="ID"
    [scrollable]="true"
    [responsive]="false"
    sortMode="multiple"
    [(scrollHeight)]="cardBodyHeight"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="col-id" pSortableColumn="ID">
          <span>ID</span>
        </th>
        <th pSortableColumn="Name_Client" style="width: 150px">
          <span>Client</span>
        </th>
        <th pSortableColumn="Name_Patient" style="width: 150px">
          <span>Patient</span>
        </th>
        <th pSortableColumn="Code" style="width: 100px">
          <span>Ref #</span>
        </th>
        <th pSortableColumn="Message" style="width: 200px">
          <span>Message</span>
        </th>
        <th pSortableColumn="DateSent" style="width: 130px">
          <span>Date Sent</span>
        </th>
        <th style="width: 80px">Open Tab</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
      <tr
        [pSelectableRow]="record"
        class="row-detail"
      >
        <td class="col-id">{{ record.ID }}</td>
        <td style="width: 150px">
          {{ record.Name_Client }} <br />(Contact #{{ record.ContactNumber }})
        </td>
        <td style="width: 150px">{{ record.Name_Patient }}</td>
        <td style="text-align: center; width: 100px">{{ record.Code }}</td>
        <td style="width: 200px">{{ record.Message }}</td>
        <td style="text-align: center; width: 130px">
          {{ record.DateSent | date: "M/dd/yyyy hh:mm a" }}
        </td>
        <td
          style="width: 80px; text-align: center"
          (click)="btnNewTab_OnClick(record)"
        >
          <button type="button" class="btn btn-sm btn-light">
            <span class="pi pi-sign-in"></span>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #contentTemplate_FilterFields>
  <app-form
    #appForm
    [CurrentObject]="CurrentObject"
    [style.margin-bottom.px]="50"
  >
    <app-date-box
      [(ngModel)]="CurrentObject.DateSending"
      name="DateSending"
      caption="Date Sending"
      labelPosition="top"
      [show-time]="false"
    >
    </app-date-box>

    <div class="control-separator-bottom" style="margin-bottom: 10px"></div>

    <app-select-box
      #ID_Gender_SelectBox
      [(ngModel)]="CurrentObject.IsSentSMS"
      name="IsSentSMS"
      caption="Sent SMS"
      [option]="IsSentSMS_SelectBoxOption"
      labelPosition="top"
      (onValueChanged)="filterOnChange($event)"
    >
    </app-select-box>

    <div class="control-separator-bottom" style="margin-bottom: 10px"></div>

    <app-text-box
      [(ngModel)]="CurrentObject.Name_Client"
      name="Name_Client"
      caption="Client"
      labelPosition="top"
      (keyup)="filterOnKeyUp($event)"
    ></app-text-box>

    <div class="control-separator-bottom" style="margin-bottom: 10px"></div>

    <app-text-box
      [(ngModel)]="CurrentObject.Name_Patient"
      name="Name_Patient"
      caption="Patient"
      labelPosition="top"
      (keyup)="filterOnKeyUp($event)"
    ></app-text-box>
  </app-form>
</ng-template>
