<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-7">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-5">
        <card-container
          title="Programs"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_ProgramsTable_fields"
        >
        </card-container>

        <card-container
          title="Bakuna"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_VaccinationInfo_fields"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <div class="row">
    <div class="col-lg-12">
      <admin-lte-texbox
        name="Name_Company"
        caption="Barangay"
        [readonly]="true"
        [initialValue]="CurrentObject.Name_Company"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-texbox
        name="Name"
        caption="Name"
        [initialValue]="CurrentObject.Name"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-data-lookupbox
        name="ID_Gender"
        displayName="Name_Gender"
        caption="Gender"
        [initialValue]="CurrentObject.ID_Gender"
        [initialDisplayValue]="CurrentObject.Name_Gender"
        [option]="ID_Gender_LookupboxOption"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-data-lookupbox>

      <admin-lte-texbox
        name="ContactNumber"
        caption="Contact Number"
        [initialValue]="CurrentObject.ContactNumber"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-textarea
        name="Address"
        caption="Address"
        [initialValue]="CurrentObject.Address"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-textarea>

      <admin-lte-checkbox
        name="IsVoter"
        caption="Botante"
        [initialValue]="CurrentObject.IsVoter"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-checkbox>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplate_ProgramsTable_fields>
  <resident-program-table
    [residentPrograms]="CurrentObject.Resident_Program"
  ></resident-program-table>
</ng-template>

<ng-template #contentTemplate_VaccinationInfo_fields>
  <vaccination-info
    #vaccinationinfo
    [CurrentObject]="CurrentObject"
    [BaseDetailView]="this"
  ></vaccination-info>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>
