<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th>Program</th>
          <th style="width: 20px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let residentProgram of residentPrograms; index as i"
          style="cursor: pointer"
        >
          <td class="text-left">
            {{ residentProgram.Name_Program }}
          </td>
          <td class="text-center">
            <button
              class="btn btn-danger"
              (click)="BtnDeleteSchedule_OnClick(residentProgram)"
            >
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
