<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      {{ ModelDisplayName }} <span *ngIf="IsWalkIn">(Walk In)</span> &nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-3">
                <p-fieldset legend="Information" class="with-caption">
                  <app-text-box
                    [(ngModel)]="CurrentObject.Code"
                    name="Code"
                    caption="Code"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.OtherReferenceNumber"
                    name="OtherReferenceNumber"
                    caption="Other Ref. No"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-check-box
                    *ngIf="false"
                    [(ngModel)]="CurrentObject.IsComputeDiscountRate"
                    name="IsComputeDiscountRate"
                    caption="IsComputeDiscountRate"
                    labelPosition="top"
                  >
                  </app-check-box>

                  <div class="control-separator-bottom"></div>

                  <app-date-box
                    [(ngModel)]="CurrentObject.Date"
                    name="Date"
                    caption="Date"
                    [required]="true"
                    labelPosition="top"
                    [show-time]="false"
                  >
                  </app-date-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Name_FilingStatus"
                    *ngIf="IsShowFilingStatusField"
                    name="Name_FilingStatus"
                    caption="Filing Status"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Payment_Name_FilingStatus"
                    *ngIf="IsShowFilingPaymentStatusField"
                    name="Payment_Name_FilingStatus"
                    caption="Payment Status"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>
                </p-fieldset>

                <div class="control-separator-bottom"></div>

                <p-fieldset legend="Totals" class="with-caption">
                  <app-number-box
                    [(ngModel)]="CurrentObject.NetAmount"
                    [readOnly]="true"
                    name="NetAmount"
                    caption="Payable Amount"
                    labelPosition="top"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    [(ngModel)]="CurrentObject.RemainingAmount"
                    [readOnly]="true"
                    name="RemainingAmount"
                    caption="Remaining Amount"
                    labelPosition="top"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>

              <div class="col-lg-9">
                <div class="row">
                  <div class="col-lg-5">
                    <p-fieldset
                      *ngIf="IsWalkIn"
                      legend="Information"
                      class="with-caption"
                    >
                      <app-text-box
                        [(ngModel)]="CurrentObject.WalkInCustomerName"
                        name="WalkInCustomerName"
                        caption="Walk In Customer Name"
                        labelPosition="top"
                        [readOnly]="formDisabled()"
                        [ngStyle]="{
                          'margin-bottom': '5px'
                        }"
                      >
                      </app-text-box>

                      <div class="control-separator-bottom"></div>
                    </p-fieldset>
                  </div>
                </div>

                <p-fieldset
                  *ngIf="!IsWalkIn"
                  [ngStyle]="{
                    display: !IsWalkIn ? 'block' : 'none'
                  }"
                  legend="Billing"
                  class="with-caption"
                >
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="control-separator-bottom"></div>
                      <app-lookup-box
                        #ID_Client_LookUpBox
                        [ngStyle]="{
                          display: CurrentObject.ID_Patient_Confinement
                            ? 'none'
                            : 'block'
                        }"
                        [(ngModel)]="CurrentObject.ID_Client"
                        name="ID_Client"
                        caption="Client"
                        [required]="IsWalkIn != true"
                        [option]="ID_Client_LookupBoxOption"
                        (onSelectedItem)="
                          ID_Client_LookUpBox_onSelectedItem($event)
                        "
                        (onRemoveSelectedItem)="
                          ID_Client_LookUpBox_onRemoveSelectedItem($event)
                        "
                        labelPosition="top"
                      >
                      </app-lookup-box>

                      <app-text-box
                        *ngIf="CurrentObject.ID_Patient_Confinement"
                        [(ngModel)]="CurrentObject.Name_Client"
                        name="Name_Client"
                        [readOnly]="true"
                        caption="Client"
                        labelPosition="top"
                      >
                      </app-text-box>

                      <div class="control-separator-bottom"></div>

                      <app-lookup-box
                        #ID_Patient_LookUpBox
                        [(ngModel)]="CurrentObject.ID_Patient"
                        name="ID_Patient"
                        caption="Patient"
                        [option]="ID_Patient_LookupBoxOption"
                        [ngStyle]="{
                          display: 'none'
                        }"
                        (onSelectedItem)="
                          ID_Patient_LookUpBox_onSelectedItem($event)
                        "
                        labelPosition="top"
                      >
                      </app-lookup-box>

                      <app-text-box
                        [(ngModel)]="CurrentObject.Name_Patient"
                        name="Name_Patient"
                        [ngStyle]="{
                          display: 'none'
                        }"
                        [readOnly]="true"
                        caption="Patient"
                        labelPosition="top"
                      >
                      </app-text-box>

                      <div class="control-separator-bottom"></div>

                      <app-text-area
                        [(ngModel)]="CurrentObject.BillingAddress"
                        name="BillingAddress"
                        caption="Billing Address"
                        labelPosition="top"
                      >
                      </app-text-area>

                      <div class="control-separator-bottom"></div>

                      <app-select-box
                        #ID_SOAPType_SelectBox
                        [(ngModel)]="CurrentObject.ID_SOAPType"
                        name="ID_SOAPType"
                        caption="SOAP Type"
                        [required]="false"
                        [option]="ID_SOAPType_SelectBoxOption"
                        labelPosition="top"
                        (onValueChanged)="
                          ID_SOAPType_SelectBox_ValueChanged($event)
                        "
                      >
                      </app-select-box>

                      <div class="control-separator-bottom"></div>

                      <app-lookup-box
                        #AttendingPhysician_ID_Employee__LookUpBox
                        [(ngModel)]="
                          CurrentObject.AttendingPhysician_ID_Employee
                        "
                        name="AttendingPhysician_ID_Employee"
                        caption="Attending Personnel"
                        [option]="
                          AttendingPhysician_ID_Employee_LookupBoxOption
                        "
                        (onSelectedItem)="
                          AttendingPhysician_ID_Employee_LookUpBox_onSelectedItem(
                            $event
                          )
                        "
                        labelPosition="top"
                      >
                      </app-lookup-box>
                    </div>

                    <div class="col-lg-7">
                      <p-fieldset legend="Pet List" class="with-caption">
                        <p-menubar
                          [model]="patientMenuItems"
                          *ngIf="
                            CurrentObject.ID_Client &&
                            patientMenuItems.length > 0
                          "
                        >
                        </p-menubar>

                        <p-table
                          [value]="CurrentObject.BillingInvoice_Patient"
                          selectionMode="single"
                          styleClass="p-datatable-sm"
                          [(selection)]="sellPatient"
                          dataKey="ID"
                          [scrollable]="true"
                          rowHover="true"
                          scrollHeight="300px"
                          [style]="{
                            height: '300px',
                            'background-color': 'gray'
                          }"
                        >
                          <ng-template pTemplate="header">
                            <tr style="text-align: center">
                              <th pSortableColumn="Name">Pet's Name</th>
                              <th style="width: 80px"></th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-biPatient>
                            <tr [pSelectableRow]="biPatient">
                              <td>{{ biPatient.Name_Patient }}</td>
                              <td style="text-align: center; width: 80px">
                                <button
                                  pButton
                                  type="button"
                                  icon="pi pi-times"
                                  (click)="onRowDeletingBIPatient(biPatient)"
                                  class="p-button-rounded p-button-text"
                                ></button>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </p-fieldset>
                    </div>
                  </div>
                </p-fieldset>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Payment History" class="tab-panel-custom">
            <p-menubar [model]="paymentTransMenuItems"> </p-menubar>
            <p-table
              [value]="CurrentObject.PaymentHistory"
              selectionMode="single"
              styleClass="p-datatable-sm"
              [(selection)]="selPaymentTransaction"
              dataKey="ID"
              [scrollable]="true"
              rowHover="true"
              scrollHeight="400px"
              sortField="Date"
              sortOrder="1"
              [style]="{
                height: '400px',
                'background-color': 'gray'
              }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Date</th>
                  <th>Payment Trans #</th>
                  <th>Mode</th>
                  <th>Payment</th>
                  <th>Remaining</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-paymentTransaction>
                <tr
                  [pSelectableRow]="paymentTransaction"
                  (dblclick)="
                    selPaymentTransaction_onDblClick(paymentTransaction)
                  "
                >
                  <td>
                    {{ paymentTransaction.Date | date: "MM/dd/yyyy" }}
                  </td>
                  <td>{{ paymentTransaction.Code }}</td>
                  <td>{{ paymentTransaction.Name_PaymentMethod }}</td>
                  <td style="text-align: right">
                    {{
                      paymentTransaction.PaymentAmount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>
                  <td style="text-align: right">
                    {{
                      paymentTransaction.RemainingAmount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-tabPanel>

          <p-tabPanel header="Comment" class="oid-control tab-panel-custom">
            <div class="row" [style.padding.px]="10">
              <div style="margin-bottom: 5px" class="col-lg-12 oid-control">
                <app-text-area
                  [(ngModel)]="CurrentObject.Comment"
                  name="Comment"
                  caption="Comment"
                  labelPosition="top"
                >
                </app-text-area>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Others" class="oid-control tab-panel-custom">
            <div class="row" [style.padding.px]="10">
              <div style="margin-bottom: 5px" class="col-lg-4">
                <app-date-box
                  [(ngModel)]="CurrentObject.DateCreated"
                  name="DateCreated"
                  caption="Date Created"
                  [readOnly]="true"
                  labelPosition="top"
                  [show-time]="true"
                >
                </app-date-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.CreatedBy_Name_User"
                  name="CreatedBy_Name_User"
                  caption="Created By"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>

                <div class="control-separator-bottom"></div>

                <app-date-box
                  [(ngModel)]="CurrentObject.DateModified"
                  name="DateModified"
                  caption="Date Modified"
                  [readOnly]="true"
                  labelPosition="top"
                  [show-time]="true"
                >
                </app-date-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.LastModifiedBy_Name_User"
                  name="LastModifiedBy_Name_User"
                  caption="Last Modified By"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>
              </div>

              <div style="margin-bottom: 5px" class="col-lg-4">
                <app-date-box
                  [(ngModel)]="CurrentObject.DateApproved"
                  name="DateApproved"
                  caption="Date Approved"
                  [readOnly]="true"
                  labelPosition="top"
                  [show-time]="true"
                >
                </app-date-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.ApprovedBy_Name_User"
                  name="ApprovedBy_Name_User"
                  caption="Approved By"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>

                <div class="control-separator-bottom"></div>

                <app-date-box
                  [(ngModel)]="CurrentObject.DateCanceled"
                  name="DateCanceled"
                  caption="Date Canceled"
                  [readOnly]="true"
                  labelPosition="top"
                  [show-time]="true"
                >
                </app-date-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.CanceledBy_Name_User"
                  name="CanceledBy_Name_User"
                  caption="Canceled By"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>

        <p-tabView>
          <p-tabPanel header="Detail" class="oid-control tab-panel-custom">
            <p-menubar
              [model]="detailMenu"
              *ngIf="detailMenu.length > 0"
              styleClass="d-flex justify-content-end"
            >
            </p-menubar>

            <p-table
              [value]="CurrentObject.BillingInvoice_Detail"
              dataKey="ID"
              editMode="row"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="text-align: center">Item / Service</th>
                  <th style="width: 80px; text-align: center">Qty</th>
                  <th style="width: 120px; text-align: center">Price</th>
                  <th style="width: 80px; text-align: center">Disc. %</th>
                  <th style="width: 120px; text-align: center">Disc. Amt.</th>
                  <th style="width: 120px; text-align: center">Amount</th>
                  <th style="width: 80px"></th>
                </tr>
              </ng-template>

              <ng-template
                pTemplate="body"
                let-BillingInvoice_Detail
                let-editing=""
                let-ri="rowIndex"
              >
                <tr [pEditableRow]="BillingInvoice_Detail">
                  <td pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <div class="ui-inputgroup">
                          <input
                            pInputText
                            readonly
                            type="text"
                            placeholder="Select Item"
                            [readOnly]="appForm.isDisabled"
                            [(ngModel)]="BillingInvoice_Detail.Name_Item"
                          />
                        </div>
                      </ng-template>

                      <ng-template pTemplate="output">
                        <span class="editable-color">{{
                          BillingInvoice_Detail.Name_Item
                        }}</span>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td pEditableColumn class="text-center">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <app-number-box
                          [(ngModel)]="BillingInvoice_Detail.Quantity"
                          name="Quantity"
                          caption=""
                          labelPosition="top"
                          [required]="true"
                          [ngStyle]="{
                            'margin-bottom': '5px'
                          }"
                          [readOnly]="appForm.isDisabled"
                          (onChange)="
                            CellQuantity_onChanged(BillingInvoice_Detail)
                          "
                        >
                        </app-number-box>
                      </ng-template>

                      <ng-template pTemplate="output">
                        <span
                          [ngClass]="
                            BillingInvoice_Detail.Quantity == 0
                              ? 'required-color'
                              : 'editable-color'
                          "
                          >{{ BillingInvoice_Detail.Quantity }}</span
                        >
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td pEditableColumn class="text-right">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <app-number-box
                          [(ngModel)]="BillingInvoice_Detail.UnitPrice"
                          name="UnitPrice"
                          caption=""
                          labelPosition="top"
                          [ngStyle]="{
                            'margin-bottom': '5px'
                          }"
                          [readOnly]="appForm.isDisabled"
                          (onChange)="
                            CellUnitPrice_onChanged(BillingInvoice_Detail)
                          "
                        >
                        </app-number-box>
                      </ng-template>

                      <ng-template pTemplate="output">
                        <span class="editable-color">
                          {{
                            BillingInvoice_Detail.UnitPrice
                              | currency: "PHP":"symbol-narrow":"1.2"
                          }}
                        </span>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td pEditableColumn class="text-right">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <app-number-box
                          [(ngModel)]="BillingInvoice_Detail.DiscountRate"
                          name="DiscountRate"
                          caption=""
                          labelPosition="top"
                          [ngStyle]="{
                            'margin-bottom': '5px'
                          }"
                          [readOnly]="appForm.isDisabled"
                          (onChange)="
                            CellDiscountRate_onChanged(BillingInvoice_Detail)
                          "
                          (onControlValue_Changed)="
                            CellDiscountRate_onControlValue_Changed($event)
                          "
                        >
                        </app-number-box>
                      </ng-template>

                      <ng-template pTemplate="output">
                        <span class="editable-color">
                          {{
                            BillingInvoice_Detail.DiscountRate | number: "1.2"
                          }}
                        </span>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td pEditableColumn class="text-right">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <app-number-box
                          [(ngModel)]="BillingInvoice_Detail.DiscountAmount"
                          name="DiscountAmount"
                          caption=""
                          labelPosition="top"
                          [ngStyle]="{
                            'margin-bottom': '5px'
                          }"
                          [readOnly]="appForm.isDisabled"
                          (onChange)="
                            CellDiscountAmount_onChanged(BillingInvoice_Detail)
                          "
                          (onControlValue_Changed)="
                            CellDiscountAmount_onControlValue_Changed($event)
                          "
                        >
                        </app-number-box>
                      </ng-template>

                      <ng-template pTemplate="output">
                        <span class="editable-color">
                          {{
                            BillingInvoice_Detail.DiscountAmount
                              | currency: "PHP":"symbol-narrow":"1.2"
                          }}
                        </span>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td class="text-right">
                    {{
                      BillingInvoice_Detail.Amount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td style="text-align: center">
                    <button
                      pButton
                      type="button"
                      icon="pi pi-times"
                      (click)="onRowDeleting(BillingInvoice_Detail)"
                      class="p-button-rounded p-button-text"
                    ></button>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="footer">
                <tr *ngIf="CurrentObject.BillingInvoice_Detail.length == 0">
                  <td
                    colspan="5"
                    style="text-align: center; color: red; font-weight: bold"
                  >
                    <span style="cursor: pointer" (click)="doAddItem()">
                      ( No Detail )
                    </span>
                  </td>
                </tr>

                <tr *ngIf="CurrentObject.ConfinementDepositAmount > 0">
                  <td colspan="5" style="text-align: right">Initial Billing</td>

                  <td style="text-align: right">
                    {{
                      CurrentObject.InitialSubtotalAmount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td></td>
                </tr>

                <tr *ngIf="CurrentObject.ConfinementDepositAmount > 0">
                  <td colspan="5" style="text-align: right">
                    Confinement Deposit
                  </td>

                  <td style="text-align: right">
                    {{
                      CurrentObject.ConfinementDepositAmount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td></td>
                </tr>
                <tr *ngIf="CurrentObject.ConfinementDepositAmount > 0">
                  <td colspan="5" class="text-danger" style="text-align: right">
                    Consumed Deposit
                  </td>

                  <td style="text-align: right" class="text-danger">
                    {{
                      CurrentObject.ConsumedDepositAmount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td></td>
                </tr>
                <tr
                  *ngIf="
                    CurrentObject.ConfinementDepositAmount > 0 &&
                    CurrentObject.RemainingDepositAmount != null
                  "
                >
                  <td
                    colspan="5"
                    class="text-success"
                    style="text-align: right"
                  >
                    Remaining Deposit
                  </td>

                  <td style="text-align: right" class="text-success">
                    {{
                      CurrentObject.RemainingDepositAmount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td></td>
                </tr>
                <tr>
                  <td colspan="5" style="text-align: right">SubTotal</td>

                  <td style="text-align: right">
                    {{
                      CurrentObject.SubTotal
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td></td>
                </tr>

                <tr>
                  <td colspan="5" style="text-align: right">Discount Rate</td>
                  <td pEditableColumn style="padding: 0px">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <app-number-box
                          [(ngModel)]="CurrentObject.DiscountRate"
                          name="DiscountRate"
                          caption=""
                          labelPosition="top"
                          [ngStyle]="{
                            'margin-bottom': '5px'
                          }"
                          [readOnly]="appForm.isDisabled"
                          (onChange)="DiscountRate_onChange($event)"
                          (onControlValue_Changed)="
                            DiscountRate_onControlValue_Changed($event)
                          "
                        >
                        </app-number-box>
                      </ng-template>

                      <ng-template pTemplate="output">
                        <div
                          class="editable-color"
                          style="
                            width: auto;
                            text-align: right;
                            padding-right: 11px;
                          "
                        >
                          {{ CurrentObject.DiscountRate }} %
                        </div>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td style="width: 80px"></td>
                </tr>
                <tr>
                  <td colspan="5" style="text-align: right">Discount Amount</td>
                  <td pEditableColumn style="padding: 0px">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <app-number-box
                          [(ngModel)]="CurrentObject.DiscountAmount"
                          name="DiscountAmount"
                          caption=""
                          labelPosition="top"
                          [ngStyle]="{
                            'margin-bottom': '5px'
                          }"
                          [readOnly]="appForm.isDisabled"
                          (onChange)="DiscountRate_onChange($event)"
                          (onControlValue_Changed)="
                            DiscountAmount_onControlValue_Changed($event)
                          "
                        >
                        </app-number-box>
                      </ng-template>

                      <ng-template pTemplate="output">
                        <div
                          class="editable-color"
                          style="
                            width: auto;
                            text-align: right;
                            padding-right: 11px;
                          "
                        >
                          {{
                            CurrentObject.DiscountAmount
                              | currency: "PHP":"symbol-narrow":"1.2"
                          }}
                        </div>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td style="width: 80px"></td>
                </tr>
                <tr>
                  <td colspan="5" style="text-align: right">Total Amount</td>

                  <td style="text-align: right">
                    {{
                      CurrentObject.TotalAmount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td></td>
                </tr>

                <tr *ngIf="IsShowTaxScheme">
                  <td colspan="5" style="text-align: right">Tax Scheme</td>
                  <td pEditableColumn style="padding: 0px">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <app-select-box
                          #ID_TaxScheme_SelectBox
                          [(ngModel)]="CurrentObject.ID_TaxScheme"
                          name="ID_TaxScheme"
                          caption=""
                          [readOnly]="appForm.isDisabled"
                          [option]="ID_TaxScheme_SelectBoxOption"
                          labelPosition="top"
                          (onValueChanged)="
                            ID_TaxScheme_SelectBox_ValueChanged($event)
                          "
                        >
                        </app-select-box>
                      </ng-template>

                      <ng-template pTemplate="output">
                        <div
                          class="editable-color"
                          style="
                            width: auto;
                            text-align: right;
                            padding-right: 11px;
                          "
                        >
                          ( {{ CurrentObject.Name_TaxScheme }} )
                        </div>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td style="width: 80px"></td>
                </tr>
                <tr *ngIf="IsShowTaxScheme">
                  <td colspan="5" style="text-align: right">VAT Amount</td>

                  <td style="text-align: right">
                    {{
                      CurrentObject.VatAmount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td></td>
                </tr>
                <tr *ngIf="IsShowTaxScheme">
                  <td colspan="5" style="text-align: right">Net Amount</td>

                  <td style="text-align: right">
                    {{
                      CurrentObject.NetAmount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>

<ng-template #paymentTemplate>
  <app-text-box
    [(ngModel)]="paymentCmp.CurrentObject.Code_BillingInvoice"
    name="Code"
    caption="BI #"
    [readOnly]="true"
    labelPosition="left"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
  >
  </app-text-box>

  <div class="control-separator-bottom"></div>

  <app-text-box
    *ngIf="paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_CHECK"
    [(ngModel)]="paymentCmp.CurrentObject.CheckNumber"
    name="CheckNumber"
    caption="Check #"
    [required]="true"
    labelPosition="left"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
  >
  </app-text-box>

  <div class="control-separator-bottom"></div>

  <app-number-box
    [(ngModel)]="paymentCmp.CurrentObject.RemainingAmount_BillingInvoice"
    name="RemainingAmount"
    caption="Rem. Amount"
    [readOnly]="true"
    labelPosition="left"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
  >
  </app-number-box>

  <div class="control-separator-bottom"></div>

  <app-number-box
    *ngIf="paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_CASH"
    [(ngModel)]="paymentCmp.CurrentObject.CashAmount"
    name="CashAmount"
    caption="Amount"
    [required]="true"
    labelPosition="left"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
    (onChange)="PaymentInfoCashAmount_onChanged()"
  >
  </app-number-box>

  <div class="control-separator-bottom"></div>

  <app-number-box
    *ngIf="paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_CHECK"
    [(ngModel)]="paymentCmp.CurrentObject.CheckAmount"
    name="CheckAmount"
    caption="Amount"
    [required]="true"
    labelPosition="left"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
    (onChange)="PaymentInfoCheckAmount_onChanged()"
  >
  </app-number-box>

  <div class="control-separator-bottom"></div>

  <app-text-box
    *ngIf="paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_GCASH"
    [(ngModel)]="paymentCmp.CurrentObject.ReferenceTransactionNumber"
    name="ReferenceTransactionNumber"
    [required]="
      paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_GCASH
    "
    caption="Ref No."
    labelPosition="left"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
  >
  </app-text-box>

  <div class="control-separator-bottom"></div>

  <app-number-box
    *ngIf="paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_GCASH"
    [(ngModel)]="paymentCmp.CurrentObject.GCashAmount"
    name="GCashAmount"
    [required]="
      paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_GCASH
    "
    caption="G-Cash Amount"
    labelPosition="left"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
    (onChange)="PaymentInfoGCashAmount_onChanged($event)"
  >
  </app-number-box>

  <div class="control-separator-bottom"></div>

  <app-select-box
    *ngIf="
      paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_DebitCredit
    "
    #ID_CardType_SelectBox
    [(ngModel)]="paymentCmp.CurrentObject.ID_CardType"
    name="ID_CardType"
    caption="Card Type"
    [option]="ID_CardType_SelectBoxOption"
    labelPosition="left"
    (onControl_ValueChanged)="ID_CardType_SelectBox_ValueChanged($event)"
  >
  </app-select-box>

  <div class="control-separator-bottom"></div>

  <app-text-box
    *ngIf="
      paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_DebitCredit
    "
    [(ngModel)]="paymentCmp.CurrentObject.CardNumber"
    name="CardNumber"
    caption="Card #"
    labelPosition="left"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
  >
  </app-text-box>

  <div class="control-separator-bottom"></div>

  <app-text-box
    *ngIf="
      paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_DebitCredit
    "
    [(ngModel)]="paymentCmp.CurrentObject.CardHolderName"
    name="CardHolderName"
    caption="Card Holder Name"
    labelPosition="left"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
  >
  </app-text-box>

  <div class="control-separator-bottom"></div>

  <app-number-box
    *ngIf="
      paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_DebitCredit
    "
    [(ngModel)]="paymentCmp.CurrentObject.CardAmount"
    name="CardAmount"
    [required]="
      paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_DebitCredit
    "
    caption="Card Amount"
    labelPosition="left"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
    (onChange)="PaymentInfoCardAmount_onChanged($event)"
  >
  </app-number-box>

  <div class="control-separator-bottom"></div>

  <app-number-box
    *ngIf="paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_CREDITS"
    [(ngModel)]="paymentCmp.CurrentObject.CreditAmount"
    name="CreditAmount"
    [required]="
      paymentCmp.CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_CREDITS
    "
    caption="Credit Amount"
    labelPosition="left"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
    (onChange)="CreditAmount_NumberBox_ValueChanged($event)"
  >
  </app-number-box>

  <div class="control-separator-bottom"></div>

  <app-number-box
    *ngIf="paymentCmp.CurrentObject.ID_PaymentMethod != PAYMENTMETHOD_CREDITS"
    [(ngModel)]="paymentCmp.CurrentObject.ChangeAmount"
    name="ChangeAmount"
    caption="Change Amount"
    [readOnly]="true"
    labelPosition="left"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
  >
  </app-number-box>

  <div class="control-separator-bottom"></div>
  <div class="control-separator-bottom"></div>
  <div class="control-separator-bottom"></div>
  <div class="control-separator-bottom"></div>
</ng-template>
<custom-dialog-box
  #paymentDialogBox
  [childTemplate]="paymentTemplate"
  (onPositiveButtonClick)="paymentDialogBox_onPositiveButtonClick($event)"
></custom-dialog-box>

<loading-screen [isLoading]="isLoading"></loading-screen>

<look-up-dialog-box #itemServiceDialog></look-up-dialog-box>
