<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">Item &nbsp;</div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-9" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: hidden"
            >
              <div class="p-col-12">
                <p-table
                  class="flexcolumn"
                  [value]="dataSource"
                  selectionMode="single"
                  [(selection)]="selectedRecord"
                  dataKey="ID"
                  [scrollable]="true"
                  [responsive]="false"
                  sortMode="multiple"
                  [(scrollHeight)]="mainboxHeight"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="col-id" (click)="tableHeader_onClick('ID')">
                        <span>ID</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Name')"
                        style="width: 180px"
                      >
                        <span>Name</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('UnitCost')"
                        style="width: 100px"
                      >
                        <span>Buying Price</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('UnitPrice')"
                        style="width: 100px"
                      >
                        <span>Selling Price</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('CurrentInventoryCount')"
                        style="width: 100px"
                      >
                        <span>Inv. Count</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Name_InventoryStatus')"
                        style="width: 120px"
                      >
                        <span>Invt. Status</span>
                      </th>
                      <th
                        (click)="
                          tableHeader_onClick('OtherInfo_DateExpiration')
                        "
                        style="width: 100px"
                      >
                        <span>Date Expired</span>
                      </th>
                      <th style="width: 80px">Open Tab</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record>
                    <tr
                      [pSelectableRow]="record"
                      class="row-detail"
                      (dblclick)="tableRowDetail_onClick(record)"
                    >
                      <td class="col-id">{{ record.ID }}</td>
                      <td style="width: 180px">
                        {{ record.Name }}
                        <span
                          *ngIf="record.RemainingDays !== null"
                          [ngStyle]="{
                            color: record.RemainingDays > 0 ? 'green' : 'red',
                            'font-weight': 'bold'
                          }"
                        >
                          - {{ record.RemainingBeforeExpired }}</span
                        >
                      </td>
                      <td style="width: 100px; text-align: center">
                        {{ record.UnitCost | number: "1.2" }}
                      </td>
                      <td style="width: 100px; text-align: center">
                        {{ record.UnitPrice | number: "1.2" }}
                      </td>
                      <td style="width: 100px; text-align: center">
                        {{ record.CurrentInventoryCount }}
                      </td>
                      <td
                        style="width: 120px; text-align: center"
                        class="InventoryStatus IS_{{
                          record.Name_InventoryStatus == null
                            ? ''
                            : record.Name_InventoryStatus.replace(' ', '')
                        }}"
                      >
                        {{ record.Name_InventoryStatus }}
                      </td>
                      <td style="width: 100px; text-align: center" class="">
                        <span
                          [ngStyle]="{
                            color: record.RemainingDays > 0 ? 'green' : 'red',
                            'font-weight': 'bold'
                          }"
                          >{{
                            record.OtherInfo_DateExpiration | date: "MM/dd/yyyy"
                          }}</span
                        >
                      </td>
                      <td
                        style="width: 80px; text-align: center"
                        (click)="btnNewTab_OnClick(record)"
                      >
                        <button type="button" class="btn btn-sm btn-light">
                          <span class="pi pi-sign-in"></span>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <app-form
                  #appForm
                  [CurrentObject]="CurrentObject"
                  [style.margin-bottom.px]="50"
                >
                  <p-accordion #filterAccordioView [multiple]="true">
                    <p-accordionTab
                      id="Name"
                      [transitionOptions]="'0ms'"
                      header="Name"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-auto-complete-box
                          [(ngModel)]="CurrentObject.Name"
                          name="Name"
                          caption="Name"
                          [readOnly]="false"
                          [filterMode]="true"
                          labelPosition="top"
                          [dataList]="ItemList"
                          (keyup)="filterOnKeyUp($event)"
                          [ngStyle]="{
                            'margin-bottom': '5px'
                          }"
                        >
                        </app-auto-complete-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="ID_InventoryStatus"
                      [transitionOptions]="'0ms'"
                      header="Invt. Status"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-select-box
                          #ID_Position_SelectBox
                          [(ngModel)]="CurrentObject.ID_InventoryStatus"
                          name="ID_InventoryStatus"
                          caption="Status"
                          [option]="ID_InventoryStatus_SelectBoxOption"
                          labelPosition="top"
                          [filterMode]="true"
                          (onValueChanged)="filterOnChange($event)"
                        >
                        </app-select-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="OtherInfo_DateExpiration"
                      [transitionOptions]="'0ms'"
                      header="Date Expiration"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-date-box
                          [(ngModel)]="CurrentObject.OtherInfo_DateExpiration"
                          name="OtherInfo_DateExpiration"
                          caption="Date Expiration"
                          labelPosition="top"
                          [show-time]="false"
                          [filterMode]="true"
                        ></app-date-box>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </app-form>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>
