<p-blockUI [baseZIndex]="1000000" [blocked]="isLoading">
    <div style="position: absolute; top: 35%; width: 100%" class="text-center">
      <img style="" class="fa-spin" src="../assets/loading-paw.png" alt="" />
    </div>
    <!-- 
    <div style="position: absolute; bottom: 2px; width: 100%" class="text-center">
      <p-progressBar
        mode="indeterminate"
        [style]="{ height: '2px' }"
        class="progressBar"
      ></p-progressBar>
    </div> -->
  </p-blockUI>
  