<div class="d-flex flex-column expand container" style="margin-top:0px;background-color: #fff;">

    <div class="module-header" style="height: auto;">

        <div class="module-title">
            Send Text Message
        </div>

        <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
        </p-menubar>

    </div>

    <div class="d-flex flex-fill module-content" style="height:1px;background-color: #fff;">

        <perfect-scrollbar style="max-width: 100%; max-height: 100%;padding-right: 12px;background-color: #fff;">

            <app-form #appForm [CurrentObject]="CurrentObject" [style.margin-bottom.px]="50">

                <p-tabView>

                    <p-tabPanel header="General" class="oid-control tab-panel-custom">

                        <div class="row">

                            <div class="col-lg-6">

                                <p-fieldset legend="Text Information" class="with-caption">

                                    <app-text-box [(ngModel)]="CurrentObject._strCellPhoneNumbers" name="_strCellPhoneNumbers" caption="Cellphone #"
                                      labelPosition='top' [ngStyle]="{
                                            'margin-bottom': '5px'
                                        }">
                                    </app-text-box>

                                    <div class="control-separator-bottom"></div>

                                    <app-text-area [(ngModel)]="CurrentObject.Message" name="Message" caption="Message"
                                       labelPosition='top' [ngStyle]="{
                                            'margin-bottom': '5px'
                                        }">
                                    </app-text-area>

                                    <div class="control-separator-bottom"></div>

                                </p-fieldset>
                            </div>

                            <div class="col-lg-6">

                                <p-fieldset legend="Log" class="with-caption">

                                    <!-- <app-text-area [(ngModel)]="CurrentObject.Log" name="Log" caption=""
                                        [readOnly]="true" 
                                       labelPosition='top' [ngStyle]="{
                                            'margin-bottom': '5px'
                                        }">
                                    </app-text-area> -->

                                    <textarea #log readonly [(ngModel)]="CurrentObject.Log" class="form-control" style=" height:300px;width:100%;" ></textarea>

                                    <div class="control-separator-bottom"></div>

                                </p-fieldset>
                            </div>
                        </div>

                    </p-tabPanel>

                </p-tabView>

            </app-form>

        </perfect-scrollbar>

    </div>

</div>