<app-control #appContainer [cssClass]="getCssClass()" [clearButton]="false"  [filterItems]="filterCriteriaItems">

  <p-multiSelect [options]="items" [(ngModel)]="selecteds" [optionLabel]="displayKey"
    (ngModelChange)="onNgModelValue_Changed($event)" [showToggleAll]="showToggleAll"
    [readonly]="readOnly"
    [virtualScroll]="true"
    [filterPlaceHolder]="'Search here...'" [multiple]="true" [checkbox]="true" [filter]="true"></p-multiSelect>

</app-control>