<div class="modal-header">
    <b><h5 class="modal-title">{{title}}</h5></b>
    <button type="button" class="close" aria-label="Close" (click)="Close()">
    <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <div #vc></div>
</div>
<div class="modal-footer">
    <div>
        <button label="{{ PositiveButton_Label }}" class="btn btn-success" [disabled]="AppForm?.isDirty !== true" icon="mdi mdi-content-save-move" (click)="AcceptChanges()">
            {{ PositiveButton_Label }}
        </button>
        <button label="Close" class="btn btn-secondary" [style.margin-left.px]="5" (click)="Close()">
            Close
        </button>
    </div>
</div>