<div class="d-flex flex-column expand" [ngClass]="{ 'hide-filter': false }">
  <div class="module-header">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <div class="title">Today's Appointment</div>
      </div>
      <div class="ui-toolbar-group-right"></div>
    </p-toolbar>
    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content">
    <div class="expand" style="overflow-y: auto; overflow-x: hidden">
      <div class="p-grid expand" style="margin: 0px; padding: 0px">
        <div class="main-box p-col-12" style="margin: 0px; padding: 0px">
          <p-table
            class="flexcolumn"
            [value]="dataSource"
            selectionMode="single"
            [(selection)]="selectedRecord"
            dataKey="ID"
            [scrollable]="true"
            [responsive]="false"
            sortMode="multiple"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="col-id" pSortableColumn="ID"><span>ID</span></th>
                <th style="width: 200px" pSortableColumn="DateStart">
                  <span>Date Start</span>
                </th>
                <th style="width: 200px" pSortableColumn="DateEnd">
                  <span>Date End</span>
                </th>
                <th style="width: 200px" pSortableColumn="Patient">
                  <span>Patient</span>
                </th>
                <th style="width: 200px" pSortableColumn="Doctor">
                  <span>Doctor</span>
                </th>
                <th
                  style="width: 100px"
                  pSortableColumn="AppointmentStatus_Name_FilingStatus"
                >
                  <span>Appt. Status</span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record>
              <tr
                [pSelectableRow]="record"
                class="row-detail"
                (click)="tableRowDetail_onClick(record)"
              >
                <td class="col-id">{{ record.ID }}</td>
                <td style="width: 200px">{{ record.DateStartString }}</td>
                <td style="width: 200px">{{ record.DateEndString }}</td>
                <td style="width: 200px">{{ record.Patient }}</td>
                <td style="width: 200px">{{ record.Doctor }}</td>
                <td
                  style="width: 100px; text-align: center"
                  class="AppointmentStatus AS_{{
                    record.AppointmentStatus_Name_FilingStatus
                  }}"
                >
                  {{ record.AppointmentStatus_Name_FilingStatus }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>

  <div class="module-footer footer-text" style="height: auto">
    <p class="footer-text">Total Record: {{ dataSource.length }}</p>
  </div>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>

