<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-12">
        <card-container
          title="Impormasyon"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <div class="row">
    <div class="col-lg-3">
      <admin-lte-datetimebox
        name="DateStart"
        caption="Petsa ng Simula"
        format="MMM. dd, yyyy"
        [initialValue]="CurrentObject.DateStart"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datetimebox>

      <admin-lte-datetimebox
        name="DateEnd"
        caption="Petsa ng Pagtatapos"
        format="MMM. dd, yyyy"
        [initialValue]="CurrentObject.DateEnd"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datetimebox>
    </div>
    <div class="col-lg-9">
      <admin-lte-textarea
        name="Name"
        caption="Anunsyo"
        [initialValue]="CurrentObject.Name"
        [rows]="'5'"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-textarea>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>
