<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th style="width: 110px">Date Return</th>
          <th style="width: 250px">Service</th>
          <th style="width: 350px">Reason</th>
          <th style="width: 110px">Date Sent</th>
          <th style="width: 20px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let soapPlan of soapPlans; index as i"
          style="cursor: pointer"
        >
          <td class="text-center">
            <admin-lte-datetimebox
              name="DateReturn"
              caption=""
              format="MMM. dd, yyyy"
              [initialValue]="soapPlan.DateReturn"
              (onModelChanged)="soapPlan_onModelChanged(soapPlan, $event)"
            >
            </admin-lte-datetimebox>
          </td>
          <td class="text-left">{{ soapPlan.Name_Item }}</td>
          <td class="text-left">
            <admin-lte-textarea
              name="Comment"
              caption=""
              rows="5"
              [initialValue]="soapPlan.Comment"
              (onModelChanged)="soapPlan_onModelChanged(soapPlan, $event)"
            >
            </admin-lte-textarea>
          </td>
          <td class="text-center">
            {{ soapPlan.DateSent | date: 'MM/dd/YYYY hh:mm a' }}
          </td>
          <td class="text-center">
            <button class="btn btn-danger" (click)="BtnDeleteSOAPPlan_OnClick(soapPlan)"><i class="fa fa-times"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
