<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      Billing Invoice (Walk In)&nbsp;
    </div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-9" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: hidden"
            >
              <div class="p-col-12">
                <p-table
                  class="flexcolumn"
                  [value]="dataSource"
                  selectionMode="ID"
                  [(selection)]="selectedRecord"
                  dataKey="ID"
                  [scrollable]="true"
                  [responsive]="false"
                  sortMode="multiple"
                  [(scrollHeight)]="mainboxHeight"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        style="width: 70px"
                        (click)="tableHeader_onClick('Date')"
                      >
                        <span>Date</span>
                      </th>
                      <th
                        style="width: 60px"
                        (click)="tableHeader_onClick('Code')"
                      >
                        <span>Code</span>
                      </th>
                      <th
                        style="width: 150px"
                        (click)="tableHeader_onClick('WalkInCustomerName')"
                      >
                        <span>WalkIn Customer</span>
                      </th>
                      <th
                        style="width: 80px"
                        (click)="tableHeader_onClick('TotalAmount')"
                      >
                        <span>Total Amount</span>
                      </th>
                      <th
                        style="width: 80px"
                        (click)="tableHeader_onClick('Name_FilingStatus')"
                      >
                        <span>Status</span>
                      </th>
                      <th
                        style="width: 80px"
                        (click)="tableHeader_onClick('Name_FilingStatus')"
                      >
                        <span>Date Approved</span>
                      </th>
                      <th
                        style="width: 80px"
                        (click)="tableHeader_onClick('Name_FilingStatus')"
                      >
                        <span>Date Cancelled</span>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record>
                    <tr
                      [pSelectableRow]="record"
                      class="row-detail"
                      (click)="tableRowDetail_onClick(record)"
                    >
                      <td style="width: 70px; text-align: center">
                        {{ record.DateString }}
                      </td>
                      <td style="width: 60px; text-align: center">
                        {{ record.Code }}
                      </td>
                      <td style="width: 150px">{{ record.WalkInCustomerName }}</td>
                      <td style="width: 80px; text-align: right">
                        {{
                          record.NetAmount
                            | currency: "PHP":"symbol-narrow":"1.2"
                        }}
                      </td>
                      <td
                        *ngIf="
                          record.ID_FilingStatus == 1 ||
                          record.ID_FilingStatus == 4
                        "
                        style="width: 80px; text-align: center"
                        class="FilingStatus FS_{{
                          record.Name_FilingStatus == null
                            ? ''
                            : record.Name_FilingStatus.replace(' ', '')
                        }}"
                      >
                        {{ record.Name_FilingStatus }}
                      </td>
                      <td
                        *ngIf="
                          record.ID_FilingStatus == 3 &&
                          (record.Payment_ID_FilingStatus == 2 ||
                            record.Payment_ID_FilingStatus == 11 ||
                            record.Payment_ID_FilingStatus == 12 ||
                            record.Payment_ID_FilingStatus == 13)
                        "
                        style="width: 80px; text-align: center"
                        class="PayStatus PayStatus_{{
                          record.Payment_Name_FilingStatus == null
                            ? 'None'
                            : record.Payment_Name_FilingStatus.replace(' ', '')
                        }}"
                      >
                        {{ record.Payment_Name_FilingStatus }}
                      </td>
                      <td
                        style="width: 80px"
                        class="text-center"
                        (click)="tableHeader_onClick('Name_FilingStatus')"
                      >
                        {{ record.DateApproved | date: "MM/dd/yyyy hh:mm a" }}
                      </td>
                      <td
                        style="width: 80px"
                        class="text-center"
                        (click)="tableHeader_onClick('Name_FilingStatus')"
                      >
                        {{ record.DateCanceled | date: "MM/dd/yyyy hh:mm a" }}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <app-form
                  #appForm
                  [CurrentObject]="CurrentObject"
                  [style.margin-bottom.px]="50"
                >
                  <p-accordion #filterAccordioView [multiple]="true">
                    <p-accordionTab
                      id="Code"
                      [transitionOptions]="'0ms'"
                      header="Code"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Code"
                          name="Code"
                          caption="Code"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Name_Client"
                      [transitionOptions]="'0ms'"
                      header="Client"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Name_Client"
                          name="Name_Client"
                          caption="Client"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="PatientNames"
                      [transitionOptions]="'0ms'"
                      header="Patient"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.PatientNames"
                          name="PatientNames"
                          caption="Patient"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="AttendingPhysician_Name_Employee"
                      [transitionOptions]="'0ms'"
                      header="Attnd. Veterinarian"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="
                            CurrentObject.AttendingPhysician_Name_Employee
                          "
                          name="AttendingPhysician_Name_Employee"
                          caption="Attnd. Veterinarian"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="ID_FilingStatus"
                      [transitionOptions]="'0ms'"
                      header="Status"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-select-box
                          #ID_Position_SelectBox
                          [(ngModel)]="CurrentObject.ID_FilingStatus"
                          name="ID_FilingStatus"
                          caption="Status"
                          [option]="ID_FilingStatus_SelectBoxOption"
                          labelPosition="top"
                          [filterMode]="true"
                          (onValueChanged)="filterOnChange($event)"
                        >
                        </app-select-box>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </app-form>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-column expand" [ngClass]="{ 'hide-filter': false }">
  <div class="module-header" style="height: auto">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <div class="title">Billing Invoice</div>
      </div>
      <div class="ui-toolbar-group-right"></div>
    </p-toolbar>
    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" style="height: 1px">
    <div class="expand" style="overflow-y: auto; overflow-x: hidden">
      <div class="p-grid expand" style="margin: 0px; padding: 0px">
        <div class="main-box p-col-12" style="margin: 0px; padding: 0px">
          <p-table
            class="flexcolumn"
            [value]="dataSource"
            selectionMode="single"
            [(selection)]="selectedRecord"
            dataKey="ID"
            [scrollable]="true"
            [responsive]="false"
            sortMode="multiple"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="col-id" pSortableColumn="ID"><span>ID</span></th>
                <th style="width: 90px" pSortableColumn="Date">
                  <span>Date</span>
                </th>
                <th style="width: 90px" pSortableColumn="Code">
                  <span>Code</span>
                </th>
                <th style="width: 90px" pSortableColumn="GrossAmount">
                  <span>GrossAmount</span>
                </th>
                <th style="width: 90px" pSortableColumn="VatAmount">
                  <span>VatAmount</span>
                </th>
                <th style="width: 90px" pSortableColumn="NetAmount">
                  <span>NetAmount</span>
                </th>
                <th style="width: 90px" pSortableColumn="Name_FilingStatus">
                  <span>Status</span>
                </th>
                <th
                  style="width: 90px"
                  pSortableColumn="Payment_Name_FilingStatus"
                >
                  <span>Payment Status</span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record>
              <tr
                [pSelectableRow]="record"
                class="row-detail"
                (click)="tableRowDetail_onClick(record)"
              >
                <td class="col-id">{{ record.ID }}</td>
                <td style="width: 90px">{{ record.DateString }}</td>
                <td style="width: 90px">{{ record.Code }}</td>
                <td style="width: 90px; text-align: right">
                  {{
                    record.GrossAmount | currency: "PHP":"symbol-narrow":"1.2"
                  }}
                </td>
                <td style="width: 90px; text-align: right">
                  {{ record.VatAmount | currency: "PHP":"symbol-narrow":"1.2" }}
                </td>
                <td style="width: 90px; text-align: right">
                  {{ record.NetAmount | currency: "PHP":"symbol-narrow":"1.2" }}
                </td>
                <td
                  style="width: 90px; text-align: center"
                  class="FilingStatus FS_{{
                    record.Name_FilingStatus == null
                      ? ''
                      : record.Name_FilingStatus.replace(' ', '')
                  }}"
                >
                  {{ record.Name_FilingStatus }}
                </td>
                <td
                  style="width: 90px; text-align: center"
                  class="PayStatus PayStatus_{{
                    record.Payment_Name_FilingStatus == null
                      ? 'None'
                      : record.Payment_Name_FilingStatus.replace(' ', '')
                  }}"
                >
                  {{ record.Payment_Name_FilingStatus }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>

  <div class="module-footer footer-text" style="height: auto">
    <p class="footer-text">Total Record: {{ dataSource.length }}</p>
  </div>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>

