<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-8">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Information</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Infomation_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Images</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Images_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <div class="row">
    <div class="col-md-6">
      <admin-lte-texbox
        name="Name"
        caption="Name"
        [readonly]="true"
        [initialValue]="CurrentObject.Name"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-textarea
        name="Address"
        caption="Address"
        [initialValue]="CurrentObject.Address"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-textarea>
    </div>

    <div class="col-md-6">
      <admin-lte-texbox
        name="ContactNumber"
        caption="Contact Number"
        [initialValue]="CurrentObject.ContactNumber"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-texbox
        name="Email"
        caption="Email"
        [initialValue]="CurrentObject.Email"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplate_Images_fields>
  <admin-lte-image-box
    name="ImageHeaderFilename"
    caption="Header"
    [initialValue]="CurrentObject.ImageHeaderFilename"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-image-box>

  <admin-lte-image-box
    name="ImageLogoFilename"
    caption="Logo"
    [initialValue]="CurrentObject.ImageLogoFilename"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-image-box>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>
