.module-content {
    border-left: solid 1px #c8c8c8;
    border-right: solid 1px #c8c8c8;
    background-color: #f4f4f4;
}

/deep/ .data-table-holder:focus {
    outline: none;
}   

.hide-filter {
    .main-box {
        width: 100%!important;
        height: 100%!important;
    }
    .filter-box {
        display: none;
    }
}