
<div class="modal-header" style="background-color: #000080;">

    <div class="module-title" [style.opacity]="title?.length > 0 ? 100 : 0" style="margin-bottom: 0px!important;color:#fff">
        <!-- <span class="mdi mdi-hexagon-slice-6"></span> -->
        {{title?.length > 0 ? title : "-" }}
    </div>

    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true" style="color:#fff">&times;</span>
    </button>
</div>

<div class="modal-body" [style.height.px]="height">
    <app-list-view #listView [ID_ListView]="ID_ListView" [lvParams]="lvParams" [showHeader]="false" (Initialized)="onListView_Initialized($event)"></app-list-view>
</div>
<div class="modal-footer">
    <button type="button" [style.min-width.px]="80"  class="btn btn-primary btn-xs" (click)="PostiveButtonClick()">OK</button>
</div>