<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th style="width: 250px">Item</th>
          <th style="width: 110px">Quantity</th>
          <th style="width: 350px">Reason</th>
          <th style="width: 20px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let SOAPPrescription of SOAPPrescriptions; index as i"
          style="cursor: pointer"
        >
          <td class="text-left">{{ SOAPPrescription.Name_Item }}</td>
          <td class="text-center">
            <admin-lte-numberbox
              name="Quantity"
              caption=""
              [initialValue]="SOAPPrescription.Quantity"
              (onModelChanged)="SOAPPresciption_onModelChanged(SOAPPrescription, $event)"
            >
            </admin-lte-numberbox>
          </td>
          <td class="text-left">
            <admin-lte-textarea
              name="Comment"
              caption=""
              rows="5"
              [initialValue]="SOAPPrescription.Comment"
              (onModelChanged)="
                SOAPPresciption_onModelChanged(SOAPPrescription, $event)
              "
            >
            </admin-lte-textarea>
          </td>
          <td class="text-center">
            <button
              class="btn btn-danger"
              (click)="BtnDeleteSOAPPresciption_OnClick(SOAPPrescription)"
            >
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
