<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Information</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Infomation_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Inventory and Pricing</h3>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_Pricing_fields"
                ></ng-container>
              </div>
              <div class="col-md-6">
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_Inventory_fields"
                ></ng-container>
              </div>
            </div>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Other Information</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_OtherInfo_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Name"
    caption="Name"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-data-lookupbox
    name="ID_ItemCategory"
    displayName="Name_ItemCategory"
    caption="Category"
    [initialValue]="CurrentObject.ID_ItemCategory"
    [initialDisplayValue]="CurrentObject.Name_ItemCategory"
    [option]="ID_ItemCategory_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplate_Pricing_fields>
  <admin-lte-numberbox
    name="UnitCost"
    caption="Buying Price"
    [initialValue]="CurrentObject.UnitCost"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    name="UnitPrice"
    caption="Selling Price"
    [initialValue]="CurrentObject.UnitPrice"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #contentTemplate_Inventory_fields>
  <admin-lte-numberbox
    name="CurrentInventoryCount"
    caption="Current Inventory Count"
    [readonly]="true"
    [initialValue]="CurrentObject.CurrentInventoryCount"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    name="MinInventoryCount"
    caption="Min Count"
    [initialValue]="CurrentObject.MinInventoryCount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    name="MaxInventoryCount"
    caption="Max Count"
    [initialValue]="CurrentObject.MaxInventoryCount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #contentTemplate_OtherInfo_fields>
  <admin-lte-datebox
    name="OtherInfo_DateExpiration"
    caption="Date Expiration"
    [initialValue]="CurrentObject.OtherInfo_DateExpiration"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="RemainingBeforeExpired"
    caption="Remaining Before Expired"
    [readonly]="true"
    [initialValue]="CurrentObject.RemainingBeforeExpired"
  >
  </admin-lte-texbox>
</ng-template>

<adjust-inventory-dialog #adjustinventorydialog></adjust-inventory-dialog>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>
