<div class="cssdropdown" (focusout)="focusOutFunction()">
  <button type="button" class="btn btn-primary btn-sm" (click)="onClick()" >
    <span class="{{ icon }}"></span>&nbsp;{{ label }}
  </button>
  <div class="cssdropdown-content" *ngIf="IsVisible">
    <div
      class="cssdropdown-menu-item"
      (click)="menu_onClick(menuitem)"
      (mousedown)="menu_onClick(menuitem)"
      *ngFor="let menuitem of model"
    >
      <span class="{{ menuitem.icon }}"></span> {{ menuitem.label }}
    </div>
  </div>
</div>
