.cssdropdown {
  position: relative;
  display: inline-block;
}

.cssdropdown-content {
  //display: none;
  right: 0px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.cssdropdown:hover {
  .cssdropdown-content {
    display: block;
  }
}

.cssdropdown-menu-item {
  line-height: 3;
  padding-left: 9px;
  display: block;
}

.cssdropdown-menu-item:hover {
  cursor: pointer;
  background-color:  #c8c8c8;
}
