<div class="btn-group">
  <button
    *ngIf="title.length > 0"
    type="button"
    class="btn btn-default"
    (click)="btnMain_onClick()"
  >
    {{ title }}
  </button>
  <button
    *ngIf="items.length > 0"
    type="button"
    class="btn btn-default dropdown-toggle dropdown-icon"
    data-toggle="dropdown"
    aria-expanded="false"
  >
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div
    *ngIf="items.length > 0"
    class="dropdown-menu"
    [ngClass]="{
      'dropdown-menu-right': isDropdownRight
    }"
    role="menu"
  >
    <span
      style="cursor: pointer"
      *ngFor="let item of items"
      class="dropdown-item"
      (click)="menuItemm_onClick(item)"

      ><i class="{{ item.icon }}"></i> {{ item.label }}</span
    >
  </div>
</div>
