<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">{{ title }}</h3>
  </div>

  <div class="card-body" [ngStyle]="bodyStyle">
    <ng-template [ngTemplateOutlet]="customBodyTemplate"></ng-template>
  </div>

  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</div>
