<content-header [title]="headerTitle"></content-header>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <announcement-display></announcement-display>
      </div>

      <div class="col-lg-5">
        <card-container
          title="Impormasyon ng Residente"
          [customBodyTemplate]="clientRegistrationForm"
        >
        </card-container>
        <div class="row">
          <div class="col-lg-4">&nbsp;</div>
          <div class="col-lg-4">
            <button
              type="button"
              (click)="_menuItem_Save_onClick()"
              class="btn btn-block btn-info"
            >
              Save
            </button>
          </div>

          <div class="col-lg-4">&nbsp;</div>
        </div>
      </div>

      <div class="col-lg-7">
        <card-container
          title="Transaksyon"
          [customBodyTemplate]="TransactionContainer"
        >
        </card-container>
      </div>

      <div class="col-lg-12"></div>
    </div>
  </div>
</div>

<br /><br /><br /><br />

<ng-template #clientRegistrationForm>
  <admin-lte-texbox
    name="Name"
    caption="Pangalan ng Residente"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="ContactNumber"
    caption="Numero ng Telepono"
    [initialValue]="CurrentObject.ContactNumber"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-textarea
    name="Address"
    caption="Tirahan"
    [rows]="'3'"
    [initialValue]="CurrentObject.Address"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>

  <admin-lte-textarea
    name="Purpose"
    caption="Layunin"
    [rows]="'3'"
    [initialValue]="CurrentObject.Purpose"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #TransactionContainer>
  <card-container
    title="1. Barangay ID Regisitration"
    [customBodyTemplate]="bfdfg1212"
  >
  </card-container>
  <card-container
    title="2. Residence Certificate"
    [customBodyTemplate]="ResidenceCertificateForm"
  >
  </card-container>

  <card-container
    title="3. Barangay Business Clearance Form"
    [customBodyTemplate]="BarangayBusinessClearanceForm"
  >
  </card-container>

  <card-container
    title="4. Community Tax Certificate"
    [customBodyTemplate]="CommunityTaxCertificateForm"
  >
  </card-container>

  <card-container
    title="5. Certificate of Indegency"
    [customBodyTemplate]="CertificateofIndegencyForm"
  >
  </card-container>
</ng-template>

<ng-template #ResidenceCertificateForm>
  <residence-certificate-form
    #residencecertificateform
  ></residence-certificate-form>
</ng-template>

<ng-template #BarangayBusinessClearanceForm>
  <barangay-business-clearance-form
    #barangaybusinessclearanceform
  ></barangay-business-clearance-form>
</ng-template>

<ng-template #CommunityTaxCertificateForm>
  <community-tax-certificate-form
    #communitytaxcertificateform
  ></community-tax-certificate-form>
</ng-template>

<ng-template #CertificateofIndegencyForm>
  <indigency-certificate-form
    #indigencycertificateform
  ></indigency-certificate-form>
</ng-template>

<consent-agreement-dialog-box
  #consentagreementdialogbox
></consent-agreement-dialog-box>

<ng-template #bfdfg1212>
  <barangay-id-regisitration-form
    #barangayidregisitrationform
  ></barangay-id-regisitration-form>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
