<div class="row">
  <div class="col-lg-6">
    <admin-lte-texbox
      name="Name"
      caption="Pangalan"
      [initialValue]="Record.Name"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-texbox>
  </div>

  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <admin-lte-texbox
          name="Pangalan ng Kumpanya"
          caption="Company"
          [initialValue]="Record.CompanyName"
          (onModelChanged)="control_onModelChanged($event)"
        >
        </admin-lte-texbox>
      </div>

      <div class="col-lg-12">
        <admin-lte-texbox
          name="Position"
          caption="Posisyon"
          [initialValue]="Record.Position"
          (onModelChanged)="control_onModelChanged($event)"
        >
        </admin-lte-texbox>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <admin-lte-numberbox
      name="AnnualIncome"
      caption="Taunang Kita"
      [initialValue]="Record.AnnualIncome"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-numberbox>
  </div>
</div>
