<app-control
  #appContainer
  [cssClass]="getCssClass()"
  [filterItems]="filterCriteriaItems"
  [clearButton]="isEmptyString() == false"
>
  <input
    *ngIf="readOnly==false" 
    type="text"
    #input
    pInputText
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    (keydown)="onKeyDown($event)"
    [(ngModel)]="value"
    (ngModelChange)="onTextBox_ValueChange($event)"
    [placeholder]="placeholder"
    [readOnly]="readOnly"
    required
  />

  <datalist id="{{ idAttribute }}">
    <option  *ngFor="let data of dataList" value="{{data}}">
  </datalist>

  <p
    *ngIf="readOnly"
    class="ui-inputtext"
    style="padding: 6px; font-size: 12px; background-color: whitesmoke"
  >
    {{ value }}&nbsp;
  </p>
</app-control>
