<ng-template #mymodal let-modal>

    <div class="modal-header">
        <h5>{{ CurrentObject.ID < 0 ? 'New' : '' }} Schedule</h5>
                <button type="button" class="close" aria-label="Close" (click)="modal.close()">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>

    <div class="modal-body">

        <app-form #appForm [CurrentObject]="CurrentObject">

            <div class="row">

                <div class="col-lg-6">

                    <p-fieldset legend="Information" class="with-caption">

                        <div class="control-separator-bottom"></div>

                        <app-lookup-box #ID_Doctor_LookUpBox [(ngModel)]="CurrentObject.ID_Doctor" name="ID_Doctor"
                            caption="Dentist" [required]="true" [option]="ID_Doctor_LookupBoxOption"
                            labelPosition='top'>
                        </app-lookup-box>

                        <div class="control-separator-bottom"></div>

                        <app-select-box #ID_ScheduleType_SelectBox [(ngModel)]="CurrentObject.ID_ScheduleType"
                            name="ID_ScheduleType" caption="Schedule Type" [required]="true"
                            [option]="ID_ScheduleType_SelectBoxOption" labelPosition='top'>
                        </app-select-box>

                        <div class="control-separator-bottom"></div>

                        <app-select-box #ID_ServiceType_SelectBox [(ngModel)]="CurrentObject.ID_ServiceType"
                            name="ID_ServiceType" caption="Kind Of Service" [required]="true"
                            [option]="ID_ServiceType_SelectBoxOption" labelPosition='top'>
                        </app-select-box>

                    </p-fieldset>

                </div>

                <div class="col-lg-6">

                    <p-fieldset legend="Schedule" class="with-caption">

                        <div class="control-separator-bottom"></div>

                        <app-date-box [(ngModel)]="CurrentObject.DateStart" name="DateStart" caption="Date Start"
                            [required]="true" [readOnly]="false" labelPosition='top' [show-time]="true">
                        </app-date-box>

                        <div class="control-separator-bottom"></div>

                        <app-date-box [(ngModel)]="CurrentObject.DateEnd" name="DateEnd" caption="Date End"
                            [required]="true" [readOnly]="false" labelPosition='top' [show-time]="true">
                        </app-date-box>

                        <div class="control-separator-bottom"></div>

                        <app-number-box [(ngModel)]="CurrentObject.VacantCount" name="VacantCount"
                            caption="No. of Accomodation" [required]="true" [readOnly]="false" labelPosition='top'
                            [ngStyle]="{
                            'margin-bottom': '5px'
                        }">
                        </app-number-box>

                    </p-fieldset>
                </div>


            </div>

        </app-form>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="btnSave_onChanged(modal)">Save</button>
        <button type="button" class="btn btn-danger" (click)="btnCancel_onChanged(modal)">Cancel</button>
    </div>

</ng-template>