<report-viewer
  #reportviewer
  [filterContentTemplate]="filterContentTemplate"
  (onbtnSaveClick)="onbtnSaveClick()"
  (onbtnClearClick)="onbtnClearClick()"
></report-viewer>

<ng-template #filterContentTemplate>
  <admin-lte-texbox
    name="Name_HouseholdNumber"
    caption="Household No."
    [initialValue]="CurrentObject.Name_HouseholdNumber"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name"
    caption="Resident Name"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-data-lookupbox
    name="ID_Disaster"
    displayName="Name_Disaster"
    caption="Disaster Risk"
    [initialValue]="CurrentObject.ID_Disaster"
    [initialDisplayValue]="CurrentObject.Name_Disaster"
    [option]="ID_Disaster_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
  <!--
  <admin-lte-data-lookupbox
    name="AssignedBHW_ID_Employee"
    displayName="AssignedBHW_Name_Employee"
    caption="Assigned BHW"
    [initialValue]="CurrentObject.AssignedBHW_ID_Employee"
    [initialDisplayValue]="CurrentObject.AssignedBHW_Name_Employee"
    [option]="AssignedBHW_ID_Employee_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-texbox
    name="AgeStart"
    caption="Starting Age"
    [initialValue]="CurrentObject.AgeStart"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
    name="AgeEnd"
    caption="Ending Age"
    [initialValue]="CurrentObject.AgeEnd"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox> -->

  <!-- <div class="custom-slider">
    <ngx-slider
      [(value)]="CurrentObject.AgeStart"
      [(highValue)]="CurrentObject.AgeEnd"
      [options]="options"
    ></ngx-slider>
  </div> -->
</ng-template>
