<content-header title=""></content-header>

<div class="content">
  <div class="container-fluid">
    <div
      style="position: relative"
      [ngStyle]="{
        height: cardBodyHeight
      }"
    >
      <img
        *ngIf="isVisible"
        class="img-thumbnail align-middle"
        style="
          margin: 0;
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
        "
        src="{{ company.ImageHeaderLocationFilenamePath }}"
        alt="{{ company.Name }}"
      />
    </div>
  </div>
</div>
