<div class="form-group">
  <label *ngIf="caption" for="exampleInputEmail1">{{ caption }}</label>
  <input
    [name]="name"
    type="password"
    [readonly]="readonly"
    placeholder="{{ placeholder }}"
    class="form-control"
    [(ngModel)]="value"
    (ngModelChange)="_onModelChanged($event)"
    (keyup)="onKey($event)"
  />
</div>
