<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar [items]="items" (onClick)="menubar_OnClick($event)"> </menubar>
      </div>

      <div class="col-8">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Existing Client</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
            <div class="card">
              <div
                class="
                  card-body
                  table-hover
                  text-nowrap
                  table-bordered table-striped table-responsive
                  p-0
                "
                [ngStyle]="{
                  height: gridHeight
                }"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplateTable"
                ></ng-container>
              </div>

              <div class="card-footer clearfix">
                <pagination
                  [TotalPageNumber]="pagingOption.TotalPageNumber"
                  (pageNumber_OnClick)="onPageChange($event)"
                >
                </pagination>
              </div>

              <div *ngIf="loading" class="overlay">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Options</h3>
          </div>

          <div class="card-footer clearfix text-center" >
            <button
              (click)="btnCreateClientInfo_onClick()"
              class="btn btn-info"
            >
              Create Client Info.
            </button>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplateFilterForm>
  <admin-lte-texbox
    name="SearchTag"
    caption="Search"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplateFilterFormFooter>
  <button (click)="onBtnSearchClick($event)" class="btn btn-info">
    Search
  </button>

  <button (click)="onBtnClearClick($event)" class="btn btn-link">Clear</button>
</ng-template>

<ng-template #contentTemplateTable>
  <table class="table table-head-fixed text-nowrap">
    <thead>
      <tr>
        <th style="width: 70px">Code</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let rowData of dataSource; index as i"
        (click)="Row_OnClick(rowData)"
      >
        <td>{{ rowData.Code }}</td>
        <td>{{ rowData.Name }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>
