<ul class="pagination pagination-sm m-0 float-right">
  <li class="page-item"><span class="page-link" href="#">&laquo;</span></li>

  <li
    *ngFor="let pageNumber of pagesCount"
    (click)="_pageNumber_OnClick(pageNumber)"
    class="page-item">
    <span class="page-link" >{{ pageNumber }}</span>
  </li>

  <li class="page-item"><span class="page-link" href="#">&raquo;</span></li>
</ul>
