<content-header
  title="{{ CurrentObject.Name }} {{
    CurrentObject.IsDeceased ? '(Deceased)' : ''
  }}"
></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#information" data-toggle="tab"
                  >Information</a
                >
              </li>
            </ul>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="information">
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_Infomation_fields"
                ></ng-container>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.card-body -->

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#others" data-toggle="tab"
                  >Others</a
                >
              </li>
            </ul>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="others">
                <!-- The timeline -->

                <ng-container
                  [ngTemplateOutlet]="contentTemplate_Type_fields"
                ></ng-container>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.card-body -->

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Client"
    caption="Client"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_Client"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name"
    caption="Name"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-textarea
    name="Comment"
    caption="Remarks"
    [initialValue]="CurrentObject.Comment"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_Type_fields>
  <admin-lte-autocompletebox
    name="Species"
    caption="Breed - Species"
    [initialValue]="CurrentObject.Species"
    [dataList]="BreedSpecieList"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-autocompletebox>

  <admin-lte-data-lookupbox
    name="ID_Gender"
    displayName="Name_Gender"
    caption="Gender"
    [initialValue]="CurrentObject.ID_Gender"
    [initialDisplayValue]="CurrentObject.Name_Gender"
    [option]="ID_Gender_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-datebox
    name="DateBirth"
    caption="Date Birth"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateBirth"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="Age"
    caption="Age"
    [readonly]="true"
    [initialValue]="CurrentObject.Age"
  >
  </admin-lte-texbox>

  <admin-lte-checkbox
    name="IsNeutered"
    caption="Neutered"
    [initialValue]="CurrentObject.IsNeutered"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-checkbox>

  <div class="row">
    <div class="col-6" style="padding-top: 20px">
      <admin-lte-checkbox
        name="IsDeceased"
        caption="Deceased"
        [initialValue]="CurrentObject.IsDeceased"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-checkbox>
    </div>
    <div class="col-6">
      <admin-lte-datebox
        *ngIf="CurrentObject.IsDeceased"
        name="DateDeceased"
        caption="Date Deceased"
        format="MMM. dd, yyyy"
        [initialValue]="CurrentObject.DateDeceased"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datebox>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>

<ng-template #customTitleTemplate>
  {{ CurrentObject.Name }}
</ng-template>
