<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      {{ ModelDisplayName }} &nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-4">
                <p-fieldset legend="Information" class="with-caption">
                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Code"
                    name="Code"
                    caption="Code"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-date-box
                    [(ngModel)]="CurrentObject.Date"
                    name="Date"
                    caption="Date"
                    [required]="true"
                    labelPosition="top"
                    [show-time]="false"
                  >
                  </app-date-box>
                  <div class="control-separator-bottom"></div>
                  <app-select-box
                    [(ngModel)]="CurrentObject.ID_CompanyTextBlastTemplate"
                    name="ID_CompanyTextBlastTemplate"
                    caption="Template"
                    [option]="ID_CompanyTextBlastTemplate_SelectBoxOption"
                    labelPosition="top"
                    (onValueChanged)="
                      ID_CompanyTextBlastTemplate_SelectBox_ValueChanged($event)
                    "
                  >
                  </app-select-box>
           

                <!--
                  <div class="control-separator-bottom"></div>

                  <app-number-box
                  [(ngModel)]="CurrentObject.ReccurrenceCount"
                      name="ReccurrenceCount"
                      [required]="true"
                      caption="Reccurrence"
                      labelPosition="top"
                  >
                  </app-number-box> 
                -->
                  <div class="control-separator-bottom"></div>

                  <app-text-area
                    [(ngModel)]="CurrentObject.Message"
                    name="Message"
                    caption=""
                    labelPosition="top"
                    caption="Message"
                    [required]="true"
                  >
                  </app-text-area>
                  <span>{{ CurrentObject.Message.length }}/160</span>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
              <div class="col-lg-8">
                <p-fieldset
                  legend="Clients (Sent to {{
                    CurrentObject.TextBlast_Client.length == 0
                      ? 'All'
                      : CurrentObject.TextBlast_Client.length
                  }} Client{{
                    CurrentObject.TextBlast_Client.length > 1 ? 'S' : ''
                  }})"
                  class="with-caption"
                >
                  <p-menubar
                    [model]="clientMenuItems"
                    [hidden]="!(clientMenuItems.length > 0)"
                  >
                  </p-menubar>

                  <p-table
                    [value]="CurrentObject.TextBlast_Client"
                    selectionMode="single"
                    styleClass="p-datatable-sm"
                    [(selection)]="selClient"
                    dataKey="ID"
                    [scrollable]="true"
                    rowHover="true"
                    scrollHeight="470px"
                    [style]="{
                      height: '500px',
                      'background-color': 'gray'
                    }"
                  >
                    <ng-template pTemplate="header">
                      <tr style="text-align: center">
                        <th pSortableColumn="Name_Client" style="width: 400px">
                          Client
                        </th>
                        <th pSortableColumn="DateSent" style="width: 100px">
                          Date Sent
                        </th>
                        <th style="width: 80px"></th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-txbClient>
                      <tr [pSelectableRow]="txbClient" style="width: 100px">
                        <td style="width: 400px">
                          {{ txbClient.Name_Client }}
                        </td>
                        <td style="text-align: center; width: 100px">
                          {{ txbClient.DateSent | date: "MM/dd/yyyy" }}
                        </td>
                        <td style="text-align: center; width: 80px">
                          <button
                            pButton
                            type="button"
                            icon="pi pi-times"
                            (click)="onRowDeletingTxbClient(txbClient)"
                            class="p-button-rounded p-button-text"
                          ></button>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
            </div>

            <div class="control-separator-bottom"></div>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>

<look-up-dialog-box #LookUpDialog></look-up-dialog-box>

<loading-screen [isLoading]="isLoading"></loading-screen>