<div class="card">
  <div class="card-header">
    <h3 class="card-title">Bakuna</h3>
  </div>
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th style="width: 120px">Petsa</th>
          <th>Komento</th>
          <th style="width: 20px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let record of MedicalRecords; index as i"
          style="cursor: pointer"
        >
          <td
            class="text-left"
            *ngIf="
              record.ID_MedicalRecordType == Vaccination_ID_MedicalRecordType
            "
          >
            <admin-lte-datebox
              name="Date"
              caption=""
              format="MMM. dd, yyyy"
              [initialValue]="record.Date"
              (onModelChanged)="MedicalRecord_onModelChanged(record, $event)"
            >
            </admin-lte-datebox>
          </td>
          <td
            class="text-left"
            *ngIf="
              record.ID_MedicalRecordType == Vaccination_ID_MedicalRecordType
            "
          >
            <admin-lte-textarea
              name="Comment"
              caption=""
              rows="3"
              [initialValue]="record.Comment"
              (onModelChanged)="MedicalRecord_onModelChanged(record, $event)"
            >
            </admin-lte-textarea>
          </td>
          <td
            class="text-center"
            style="padding: 5px"
            *ngIf="
              record.ID_MedicalRecordType == Vaccination_ID_MedicalRecordType
            "
          >
            <button
              class="btn btn-danger"
              (click)="BtnDeleteSchedule_OnClick(record)"
            >
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<br />
<br />
<br />
<br />
<br />
