<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar [items]="items" (onClick)="menubar_OnClick($event)"> </menubar>
      </div>

      <div class="col-12 d-block d-md-none d-lg-none d-lg-none">
        <div class="card collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-9">
        <div class="card">
          <div
            class="card-body table-hover text-nowrap table-bordered table-striped table-responsive p-0"
            [ngStyle]="{
              height: gridHeight
            }"
          >
            <ng-container
              [ngTemplateOutlet]="contentTemplateTable"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <pagination
              [TotalPageNumber]="pagingOption.TotalPageNumber"
              (pageNumber_OnClick)="onPageChange($event)"
            >
            </pagination>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-3 d-none d-md-block d-lg-block d-xl-block">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplateTable>
  <table class="table table-head-fixed text-nowrap">
    <thead>
      <tr>
        <th style="width: 70px" (click)="onColumnHeaderClick('Date')">Date</th>

        <th style="width: 70px" (click)="onColumnHeaderClick('Code')">Code</th>

        <th style="width: 100px" (click)="onColumnHeaderClick('Name_Client')">
          Owner's Name
        </th>

        <th (click)="onColumnHeaderClick('Name_Patient')">Patient</th>

        <th
          style="width: 100px"
          (click)="onColumnHeaderClick('AttendingPhysician_Name_Employee')"
        >
          Attd. Veterinarian
        </th>

        <th style="width: 100px" (click)="onColumnHeaderClick('TotalAmount')">
          Total Amount
        </th>

        <th style="width: 100px" (click)="onColumnHeaderClick('Status')">
          Status
        </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowData of dataSource; index as i" (click)="Row_OnClick(rowData)">
        <td>{{ rowData.Date | date: "MM/dd/Y" }}</td>
        <td>{{ rowData.Code }}</td>
        <td>{{ rowData.Name_Client }}</td>
        <td>{{ rowData.Name_Patient }}</td>
        <td>{{ rowData.AttendingPhysician_Name_Employee }}</td>
        <td style="width: 100px; text-align: right">
          {{ rowData.TotalAmount | number: "1.2-5" }}
        </td>
        <td

          style="width: 80px; text-align: center"
          class="FilingStatus FS_{{
            rowData.Status == null
              ? ''
              : rowData.Status.replace(' ', '')
          }}"
        >
          {{ rowData.Status }}
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplateFilterForm>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Client"
    caption="Owner's Name"
    [initialValue]="CurrentObject.Name_Client"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Patient"
    caption="Patient"
    [initialValue]="CurrentObject.Name_Patient"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="AttendingPhysician_Name_Employee"
    caption="Attnd. Veterinarian"
    [initialValue]="CurrentObject.AttendingPhysician_Name_Employee"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_FilingStatus"
    caption="Status"
    [initialValue]="CurrentObject.AttendingPhysician_Name_Employee"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplateFilterFormFooter>
  <button (click)="onBtnSearchClick($event)" class="btn btn-info">
    Search
  </button>

  <button (click)="onBtnClearClick($event)" class="btn btn-link">Clear</button>
</ng-template>
