<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      {{ ModelDisplayName }} &nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px;"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="ui-g">
              <div class="ui-g-4">
                <div class="control-separator-bottom"></div>

                <app-lookup-box
                  [(ngModel)]="CurrentObject.ID_Model"
                  name="ID_Model"
                  caption="Model"
                  [required]="true"
                  [option]="ID_Model_LookupBoxOption"
                  (onSelectedItem)="ID_Model_LookUpBox_onSelectedItem($event)"
                  labelPosition="top"
                >
                </app-lookup-box>

                <app-text-box
                  [(ngModel)]="CurrentObject.Code"
                  name="Code"
                  caption="Code"
                  [required]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.Name"
                  name="Name"
                  caption="Name"
                  [required]="true"
                  labelPosition="top"
                  [show-time]="false"
                >
                </app-text-box>
              </div>

              <div class="ui-g-4">
                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.Counter"
                  name="Counter"
                  caption="Counter"
                  [required]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.Prefix"
                  name="Prefix"
                  caption="Prefix"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>

                <div class="control-separator-bottom"></div>

                <app-check-box
                  [(ngModel)]="CurrentObject.IsAppendCurrentDate"
                  name="IsAppendCurrentDate"
                  caption="IsAppendCurrentDate"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-check-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.DigitCount"
                  name="DigitCount"
                  caption="DigitCount"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>
