<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      {{ ModelDisplayName }} &nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="ui-g">
              <div class="ui-g-4">
                <p-fieldset legend="Information" class="with-caption">
                  <app-text-box
                    [(ngModel)]="CurrentObject.Code"
                    name="Code"
                    caption="Code"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-date-box
                    [(ngModel)]="CurrentObject.Date"
                    name="Date"
                    caption="Date"
                    [required]="true"
                    labelPosition="top"
                    [show-time]="false"
                  >
                  </app-date-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Name_FilingStatus"
                    name="Name_FilingStatus"
                    caption="Filing Status"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>

              <div class="ui-g-4">
                <p-fieldset legend="Billing Invoice" class="with-caption">
                  <app-lookup-box
                    #ID_Patient_LookUpBox
                    [(ngModel)]="CurrentObject.ID_BillingInvoice"
                    name="ID_BillingInvoice"
                    caption="Billing Invoice #"
                    [required]="true"
                    [option]="ID_BillingInvoice_LookupBoxOption"
                    (onSelectedItem)="
                      ID_BillingInvoice_LookUpBox_onSelectedItem($event)
                    "
                    labelPosition="top"
                  >
                  </app-lookup-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Name_Patient"
                    name="Name_Patient"
                    caption="Patient"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Comment" class="oid-control tab-panel-custom">
            <div class="p-grid" [style.padding.px]="10">
              <div style="margin-bottom: 5px" class="ui-g-12 oid-control">
                <app-text-area
                  [(ngModel)]="CurrentObject.Comment"
                  name="Comment"
                  caption="Comment"
                  labelPosition="top"
                ></app-text-area>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Others" class="oid-control tab-panel-custom">
            <div class="p-grid" [style.padding.px]="10">
              <div style="margin-bottom: 5px" class="ui-g-4">
                <app-date-box
                  [(ngModel)]="CurrentObject.DateCreated"
                  name="DateCreated"
                  caption="Date Created"
                  [readOnly]="true"
                  labelPosition="top"
                  [show-time]="true"
                >
                </app-date-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.CreatedBy_Name_User"
                  name="CreatedBy_Name_User"
                  caption="Created By"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>

                <div class="control-separator-bottom"></div>

                <app-date-box
                  [(ngModel)]="CurrentObject.DateModified"
                  name="DateModified"
                  caption="Date Modified"
                  [readOnly]="true"
                  labelPosition="top"
                  [show-time]="true"
                >
                </app-date-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.LastModifiedBy_Name_User"
                  name="LastModifiedBy_Name_User"
                  caption="Last Modified By"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>
              </div>

              <div style="margin-bottom: 5px" class="ui-g-4">
                <app-date-box
                  [(ngModel)]="CurrentObject.DateApproved"
                  name="DateApproved"
                  caption="Date Approved"
                  [readOnly]="true"
                  labelPosition="top"
                  [show-time]="true"
                >
                </app-date-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.ApprovedBy_Name_User"
                  name="ApprovedBy_Name_User"
                  caption="Approved By"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>

                <div class="control-separator-bottom"></div>

                <app-date-box
                  [(ngModel)]="CurrentObject.DateCanceled"
                  name="DateCanceled"
                  caption="Date Canceled"
                  [readOnly]="true"
                  labelPosition="top"
                  [show-time]="true"
                >
                </app-date-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.CanceledBy_Name_User"
                  name="CanceledBy_Name_User"
                  caption="Canceled By"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>

        <p-tabView>
          <p-tabPanel
            header="Payment Information"
            class="oid-control tab-panel-custom"
          >
            <div class="ui-g">
              <div class="ui-g-4">
                <p-fieldset legend="Mode Of Payment" class="with-caption">
                  <app-select-box
                    #ID_PaymentMethod_SelectBox
                    [(ngModel)]="CurrentObject.ID_PaymentMethod"
                    name="ID_PaymentMethod"
                    caption="Type"
                    [required]="true"
                    [option]="ID_PaymentMethod_SelectBoxOption"
                    labelPosition="top"
                    (onControl_ValueChanged)="
                      ID_PaymentMethod_SelectBox_ValueChanged($event)
                    "
                  >
                  </app-select-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    *ngIf="CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_CASH"
                    [(ngModel)]="CurrentObject.CashAmount"
                    [required]="
                      CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_CASH
                    "
                    name="CashAmount"
                    caption="Cash Amount"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                    (onChange)="CashAmount_NumberBox_ValueChanged($event)"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    *ngIf="
                      CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_CHECK
                    "
                    [(ngModel)]="CurrentObject.CheckNumber"
                    name="CheckNumber"
                    [required]="
                      CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_CHECK
                    "
                    caption="Check Number"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    *ngIf="
                      CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_CHECK
                    "
                    [(ngModel)]="CurrentObject.CheckAmount"
                    name="CheckAmount"
                    [required]="
                      CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_CHECK
                    "
                    caption="Check Amount"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                    (onChange)="CheckAmount_NumberBox_ValueChanged($event)"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    *ngIf="
                      CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_GCASH
                    "
                    [(ngModel)]="CurrentObject.ReferenceTransactionNumber"
                    name="ReferenceTransactionNumber"
                    [required]="
                      CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_GCASH
                    "
                    caption="Ref No."
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    *ngIf="
                      CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_GCASH
                    "
                    [(ngModel)]="CurrentObject.GCashAmount"
                    name="GCashAmount"
                    [required]="
                      CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_GCASH
                    "
                    caption="G-Cash Amount"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                    (onChange)="GCashAmount_NumberBox_ValueChanged($event)"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>

                  <app-select-box
                    *ngIf="
                      CurrentObject.ID_PaymentMethod ==
                      PAYMENTMETHOD_DebitCredit
                    "
                    #ID_CardType_SelectBox
                    [(ngModel)]="CurrentObject.ID_CardType"
                    name="ID_CardType"
                    caption="Card Type"
                    [option]="ID_CardType_SelectBoxOption"
                    labelPosition="top"
                    (onControl_ValueChanged)="
                      ID_CardType_SelectBox_ValueChanged($event)
                    "
                  >
                  </app-select-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    *ngIf="
                      CurrentObject.ID_PaymentMethod ==
                      PAYMENTMETHOD_DebitCredit
                    "
                    [(ngModel)]="CurrentObject.CardNumber"
                    name="CardNumber"
                    caption="Card #"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    *ngIf="
                      CurrentObject.ID_PaymentMethod ==
                      PAYMENTMETHOD_DebitCredit
                    "
                    [(ngModel)]="CurrentObject.CardHolderName"
                    name="CardHolderName"
                    caption="Card Holder Name"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    *ngIf="
                      CurrentObject.ID_PaymentMethod ==
                      PAYMENTMETHOD_DebitCredit
                    "
                    [(ngModel)]="CurrentObject.CardAmount"
                    name="CardAmount"
                    [required]="
                      CurrentObject.ID_PaymentMethod ==
                      PAYMENTMETHOD_DebitCredit
                    "
                    caption="Card Amount"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                    (onChange)="CardAmount_NumberBox_ValueChanged($event)"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>
                  <app-number-box
                    *ngIf="
                      CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_CREDITS
                    "
                    [(ngModel)]="CurrentObject.CreditAmount"
                    name="CreditAmount"
                    [required]="
                      CurrentObject.ID_PaymentMethod == PAYMENTMETHOD_CREDITS
                    "
                    caption="Credit Amount"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                    (onChange)="CreditAmount_NumberBox_ValueChanged($event)"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>

              <div class="ui-g-4">
                <p-fieldset legend="Totals" class="with-caption">
                  <app-number-box
                    [(ngModel)]="CurrentObject.PayableAmount"
                    name="PayableAmount"
                    caption="Payable Amount"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    [(ngModel)]="CurrentObject.PaymentAmount"
                    name="PaymentAmount"
                    caption="Payment Amount"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    [(ngModel)]="CurrentObject.ChangeAmount"
                    name="ChangeAmount"
                    caption="Change Amount"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-number-box>
                </p-fieldset>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>

        <p-tabView>
          <p-tabPanel header="Detail" class="oid-control tab-panel-custom">
            <div class="p-grid" [style.padding.px]="10">
              <div class="card">
                <p-table
                  [value]="CurrentObject.BillingInvoice_Detail"
                  dataKey="ID"
                  editMode="row"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="text-align: center">Item / Service</th>
                      <th style="width: 80px; text-align: center">Qty</th>
                      <th style="width: 150px; text-align: center">Price</th>
                      <th style="width: 150px; text-align: center">Amount</th>
                    </tr>
                  </ng-template>

                  <ng-template
                    pTemplate="body"
                    let-BillingInvoice_Detail
                    let-editing=""
                    let-ri="rowIndex"
                  >
                    <tr [pEditableRow]="BillingInvoice_Detail">
                      <td>
                        <span class="editable-color">{{
                          BillingInvoice_Detail.Name_Item
                        }}</span>
                      </td>

                      <td pEditableColumn class="text-center">
                        <span
                          [ngClass]="
                            BillingInvoice_Detail.Quantity == 0
                              ? 'required-color'
                              : 'editable-color'
                          "
                          >{{ BillingInvoice_Detail.Quantity }}</span
                        >
                      </td>

                      <td class="text-right">
                        <span class="editable-color">
                          {{
                            BillingInvoice_Detail.UnitPrice
                              | currency: "PHP":"symbol-narrow":"1.2"
                          }}
                        </span>
                      </td>

                      <td class="text-right">
                        {{
                          BillingInvoice_Detail.Amount
                            | currency: "PHP":"symbol-narrow":"1.2"
                        }}
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="footer">
                    <tr>
                      <td colspan="3" style="text-align: right">
                        Gross Amount
                      </td>

                      <td style="text-align: right">
                        {{
                          CurrentObject.GrossAmount_BillingInvoice
                            | currency: "PHP":"symbol-narrow":"1.2"
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" style="text-align: right">Tax Scheme</td>
                      <td style="padding: 0px">
                        <div
                          class=""
                          style="
                            width: auto;
                            text-align: right;
                            padding-right: 11px;
                          "
                        >
                          {{ CurrentObject.Name_TaxScheme }}
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" style="text-align: right">VAT Amount</td>

                      <td style="text-align: right">
                        {{
                          CurrentObject.VatAmount_BillingInvoice
                            | currency: "PHP":"symbol-narrow":"1.2"
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" style="text-align: right">Net Amount</td>

                      <td style="text-align: right">
                        {{
                          CurrentObject.NetAmount_BillingInvoice
                            | currency: "PHP":"symbol-narrow":"1.2"
                        }}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>
