<div class="form-group">
  <label for="exampleInputEmail1">{{ caption }}</label>
  <input
    #input
    [name]="name"
    [readonly]="readonly"
    placeholder="{{ placeholder }}"
    class="form-control"
    [(ngModel)]="value"
    (ngModelChange)="_onModelChanged($event)"
    (keyup)="onKey($event)"
  />

  <datalist id="{{ idTag }}">
    <option *ngFor="let data of dataList" value="{{ data }}"></option>
  </datalist>
</div>
