<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <card-container
          title="Impormasyon"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>
      <div class="col-md-3">
        <card-container
          title="Disaster Risk"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_disasterriskchecklist_fields"
        >
        </card-container>
      </div>

      <div class="col-md-5">
        <card-container
          title="Komento"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_PersonalInfomation_fields"
        >
        </card-container>
      </div>
      <div class="col-md-12">
        <card-container
          title="Head of the Family"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_ResidentHeadOfFamily"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Name"
    caption="Pangalan ng Household"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-data-lookupbox
    name="AssignedBHW_ID_Employee"
    displayName="AssignedBHW_Name_Employee"
    caption="Assigned BHW"
    [initialValue]="CurrentObject.AssignedBHW_ID_Employee"
    [initialDisplayValue]="CurrentObject.AssignedBHW_Name_Employee"
    [option]="AssignedBHW_ID_Employee_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="Representative_ID_Resident"
    displayName="Representative_Name_Resident"
    caption="Representative"
    [initialValue]="CurrentObject.Representative_ID_Resident"
    [initialDisplayValue]="CurrentObject.Representative_Name_Resident"
    [option]="Representative_ID_Resident_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplate_PersonalInfomation_fields>
  <admin-lte-textarea
    name="Comment"
    caption=""
    [readonly]="false"
    [initialValue]="CurrentObject.Comment"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_ResidentHeadOfFamily>
  <head-of-family-table #headoffamilytable></head-of-family-table>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>

<ng-template #contentTemplate_disasterriskchecklist_fields>
  <disaster-risk-check-list
    #disasterriskchecklist
    (onChanged)="disasterriskchecklist_onChanged($event)"
  ></disaster-risk-check-list>
</ng-template>


<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
