<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <card-container
          title="Impormasyon"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Personal na Impormasyon"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_PersonalInfomation_fields"
        >
        </card-container>
      </div>
      <div class="col-md-4">
        <card-container
          title="Karagdagan na Impormasyon"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_PersonalInfomation_2_fields"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-datebox
    name="Date"
    caption="Petsa"
    format="MMM. dd, yyyy hh:mm a"
    [initialValue]="CurrentObject.Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="Code"
    caption="Control No."
    [readonly]="true"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Requestor"
    caption="Requestor"
    [initialValue]="CurrentObject.Requestor"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
  <admin-lte-textarea
    name="Purpose"
    caption="Purpose"
    [initialValue]="CurrentObject.Purpose"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_PersonalInfomation_fields>
  <admin-lte-image-box
    name="ImageProfilePicFilename"
    caption="Profile Picture"
    [initialValue]="CurrentObject.ImageProfilePicFilename"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-image-box>

  <admin-lte-texbox
    name="Name"
    caption="Pangalan"
    [readonly]="false"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Age"
    caption="Edad"
    [readonly]="false"
    [initialValue]="CurrentObject.Age"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-data-lookupbox
    name="ID_Gender"
    displayName="Name_Gender"
    caption="Kasarian"
    [initialValue]="CurrentObject.ID_Gender"
    [initialDisplayValue]="CurrentObject.Name_Gender"
    [option]="ID_Gender_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="ID_CivilStatus"
    displayName="Name_CivilStatus"
    caption="Katayuang Sibil"
    [initialValue]="CurrentObject.ID_CivilStatus"
    [initialDisplayValue]="CurrentObject.Name_CivilStatus"
    [option]="ID_CivilStatus_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-texbox
    name="Citizenship"
    caption="Citizenship"
    [readonly]="false"
    [initialValue]="CurrentObject.Citizenship"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_PersonalInfomation_2_fields>
  <admin-lte-texbox
    name="StayInDuration"
    caption="Gaano Katagal Nakatira"
    [readonly]="false"
    [initialValue]="CurrentObject.StayInDuration"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
  <admin-lte-textarea
    name="Address"
    caption="Address"
    [initialValue]="CurrentObject.Address"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>
