<div 
    class="d-flex flex-column expand" 
    style="margin-top:0px;background-color: #fff;">

    <div 
        class="module-header" 
        style="height: auto;">

        <div class="module-title" style="padding-left: 6px" [hidden]="!showTitle" [style.opacity]="title?.length > 0 ? 100 : 0">
            {{title?.length > 0 ? title : "-" }}
        </div>

        <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
            <div>
                <p-breadcrumb [hidden]="!showTitle" [model]="breadCrumbMenus" [home]="home"></p-breadcrumb>
            </div>
        </p-menubar>
    </div>
    
    <div class="d-flex flex-fill module-content" style="height:1px;background-color: #fff;">
        
        <perfect-scrollbar style="max-width: 100%; max-height: 100%;padding-right: 12px;background-color: #fff;">
            <div #container (contextmenu)="onRight_Click($event)">
                <div #vc></div>
            </div>
        </perfect-scrollbar>

    </div>

    <div class="module-footer">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <div class="footer-message" [innerHTML]="footerLeftMessageHtml"></div>
            </div>
            <div class="ui-toolbar-group-right">
                <div class="footer-message" [innerHTML]="footerRightMessageHtml"></div>
            </div>
        </p-toolbar>
    </div>

</div>

<p-contextMenu  #contextMenu *ngIf="IsShowContextMenu" [target]="container" [model]="contextMenus" (onShow)="onContextMenu_Show()"
    appendTo="body" [baseZIndex]="10000"></p-contextMenu>