<div class="form-group">
  <label>{{ caption }}</label>
  <div class="input-group">
    <span class="form-control" style="font-weight: 500">{{
      displayValue
    }}</span>
    <div class="input-group-append">
      <span
        class="btn"
        *ngIf="readonly != true && value != null && value != ''"
        style="color: red; border-color: #ddd !important"
        (click)="btnDelete_onClick()"
      >
        <span class="fas fa-times"></span>
      </span>
      <button
        class="btn btn-default"
        type="button"
        *ngIf="!readonly"
        (click)="btnShow_onClick()"
      >
        <span class="fas fa-ellipsis-h"></span>
      </button>
    </div>
  </div>
</div>

<modal-dialog #modalDialog title="Select Record">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <admin-lte-list
          #listview
          [option]="option.listviewOption"
          (onRowSelected)="listview_onRowSelected($event)"
        ></admin-lte-list>
      </div>
    </div>
  </div>
</modal-dialog>
