/deep/ .caption .label {
  vertical-align: top!important;
}

textarea {
  width: 100%;
  padding: 3px;
  &:read-only {
    background-color:whitesmoke;
  }
  border-radius: 0;
  border-color: #a6a6a6;
}

.bshadow{

  border: 1px solid #c8c8c8;
}
