<modal-dialog
  #modalDialog
  title="Change User Password"
  size="sm"
  [footerTemplate]="footerDialogTemplate"
>
  <br />
  <div class="container">
    <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
  </div>
  <div *ngIf="loading" class="overlay" style="background-color: #ffffff45">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</modal-dialog>

<ng-template #contentTemplate>
  <div class="row">
    <div class="col-lg-12">
      <admin-lte-password
        name="Password"
        caption="Password"
        [initialValue]="CurrentObject.Password"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-password>

      <admin-lte-password
        name="ReTypePassword"
        caption="Re-type Password"
        [initialValue]="CurrentObject.ReTypePassword"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-password>
    </div>
  </div>
</ng-template>

<ng-template #footerDialogTemplate>
  <button *ngIf="!loading" class="btn btn-primary" (click)="btnSave()">
    <i class="fas fa-cubes"></i>&nbsp;Save
  </button>

  <button *ngIf="!loading" class="btn btn-danger" (click)="btnClose_onClick()">
    <i class="fas fa-times"></i>&nbsp;Close
  </button>
</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
