th{
  text-align: center;
}

.form-control-number{

  text-align: right;
}

td > input{

  font-weight: bold;
}

.form-control-transparent{

  background-color: transparent;
  border-color: transparent;
}

.text-bold{

  font-weight: bold;
}
