.image-container {
  display: block;
  border-color: #bcbebf;
  border-style: solid;
  border-width: 1px;
  position: relative;

  img{

    display: block;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .close-button {
    display: block;
    position: absolute;
    right: 8px;
    top: 7px;
    color: red;
    cursor: pointer;
  }
}
.image-container:focus{

  border-color: #4df0fc;
}
input{

  cursor: pointer;
}
