<custom-dialog-box
  #CustomDialogBox
  size="lg"
  title="Generate Schedule"
  [closeOnPositiveButton]="false"
  [childTemplate]="addItemChildTemplate"
  (onPositiveButtonClick)="onPositiveButtonClick($event)"
>
</custom-dialog-box>

<ng-template #addItemChildTemplate>
  <app-form #appForm [CurrentObject]="CurrentObject">
    <div class="row">
      <div class="col-lg-5">
        <p-fieldset legend="Information" class="with-caption">
          <app-date-box
            [(ngModel)]="CurrentObject.DateReturn"
            name="DateReturn"
            caption="Date Return"
            [required]="true"
            labelPosition="top"
            [show-time]="false"
            (onControlValue_Changed)="DateReturn_Changed($event)"
          >
          </app-date-box>

          <div class="control-separator-bottom"></div>

          <app-select-box
            #ID_RecurScheduleType_SelectBox
            [(ngModel)]="CurrentObject.ID_RecurScheduleType"
            name="ID_RecurScheduleType"
            caption="Type"
            [required]="true"
            [option]="ID_RecurScheduleTypeEnum_SelectBoxOption"
            labelPosition="top"
            (onValueChanged)="
              ID_RecurScheduleType_SelectBox_ValueChanged($event)
            "
          >
          </app-select-box>

          <div class="control-separator-bottom"></div>
        </p-fieldset>
      </div>
      <div class="col-lg-7">
        <p-fieldset legend="List" class="with-caption">
          <ng-template [ngTemplateOutlet]="scheduleList"></ng-template>
        </p-fieldset>
      </div>
    </div>
  </app-form>
</ng-template>

<ng-template #scheduleList>
  <p-table
    class="flexcolumn"
    [value]="scheduleDataSource"
    selectionMode="single"
    dataKey="ID"
    [scrollable]="true"
    [responsive]="false"
    [scrollable]="true"
    rowHover="true"
    scrollHeight="300px"
    [style]="{
      height: '300px',
      'background-color': 'gray'
    }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="TotalAmount">
          <span>Date</span>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
      <tr [pSelectableRow]="record" class="row-detail">
        <td style="width: 80px; text-align: center">
          {{ record.Date | date: "MM/dd/yyyy" }}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="control-separator-bottom"></div>
</ng-template>
