<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-12">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <div class="row">
    <div class="col-lg-6">
      <admin-lte-texbox
        name="Name"
        caption="Requestor"
        [readonly]="true"
        [initialValue]="CurrentObject.Name"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-texbox
        name="ContactNumber"
        caption="Contact #"
        [readonly]="true"
        [initialValue]="CurrentObject.ContactNumber"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-datebox
        name="DateCreated"
        caption="Date Created"
        format="MMM. dd, yyyy hh:mm a"
        [readonly]="true"
        [initialValue]="CurrentObject.DateCreated"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datebox>
    </div>
    <div class="col-lg-6">
      <admin-lte-texbox
        name="Name"
        caption="Business Name"
        [initialValue]="currentResidentRequest_BarangayBusinessClearance.Name"
        (onModelChanged)="
          currentResidentRequest_CommunityTaxCertificate_onModelChanged($event)
        "
      >
      </admin-lte-texbox>
      <admin-lte-texbox
        name="RegistrationNumber"
        caption="Registration Number"
        [initialValue]="
          currentResidentRequest_BarangayBusinessClearance.RegistrationNumber
        "
        (onModelChanged)="
          currentResidentRequest_CommunityTaxCertificate_onModelChanged($event)
        "
      >
      </admin-lte-texbox>

      <admin-lte-datebox
        name="DateValidity"
        caption="Date Validity"
        format="MMM. dd, yyyy"
        [initialValue]="
          currentResidentRequest_BarangayBusinessClearance.DateValidity
        "
        (onModelChanged)="
          currentResidentRequest_CommunityTaxCertificate_onModelChanged($event)
        "
      >
      </admin-lte-datebox>

      <admin-lte-image-box
        name="ImageCertificateofRegistration"
        caption="Upload DTI/SEC Certificate of Registration"
        [initialValue]="
          currentResidentRequest_BarangayBusinessClearance.ImageCertificateofRegistration
        "
        (onModelChanged)="
          currentResidentRequest_CommunityTaxCertificate_onModelChanged($event)
        "
      ></admin-lte-image-box>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>
