<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">Client &nbsp;</div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-9" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: hidden"
            >
              <div class="p-col-12">
                <p-table
                  class="flexcolumn"
                  [value]="dataSource"
                  selectionMode="single"
                  [(selection)]="selectedRecord"
                  dataKey="ID"
                  [scrollable]="true"
                  [responsive]="false"
                  sortMode="multiple"
                  [(scrollHeight)]="mainboxHeight"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        class="col-id"
                        pSortableColumn="ID"
                        style="display: none"
                      >
                        <span>ID</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Code')"
                        style="width: 90px"
                      >
                        <span>Code</span>
                      </th>
                      <th (click)="tableHeader_onClick('Name')">
                        <span>Owner's Name</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('ContactNumber')"
                        style="width: 170px"
                      >
                        <span>Contact Number</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('DateLastVisited')"
                        style="width: 100px"
                      >
                        <span>Date Last Visited</span>
                      </th>
                      <th style="width: 150px">Action</th>
                      <th style="width: 80px">Open Tab</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record>
                    <tr [pSelectableRow]="record" class="row-detail">
                      <td class="col-id" style="display: none">
                        {{ record.ID }}
                      </td>
                      <td
                        (dblclick)="tableRowDetail_onClick(record)"
                        style="width: 90px; text-align: center"
                      >
                        {{ record.Code }}
                      </td>
                      <td (dblclick)="tableRowDetail_onClick(record)">
                        {{ record.Name }}
                      </td>
                      <td style="width: 170px">
                        {{ record.ContactNumbers }}
                      </td>
                      <td style="text-align: center; width: 100px">
                        {{ record.DateLastVisited | date: "M/dd/yyyy" }}
                      </td>
                      <td style="width: 150px">
                        <p
                          class="text-success action-text"
                          (click)="
                            colAction_CreateAppointment_onClick(record)
                          "
                        >
                          <i class="fas fa-plus"></i> Create Appointment
                        </p>
                        <p
                          class="text-success action-text"
                          (click)="
                            colAction_CreateBillingInvoice_onClick(record)
                          "
                        >
                          <i class="fas fa-plus"></i> Create Billing
                        </p>
                        <p
                          class="text-success action-text"
                          (click)="colAction_AddPet_onClick(record)"
                        >
                          <i class="fas fa-plus"></i> Add Pet
                        </p>
                      </td>
                      <td
                        style="width: 80px; text-align: center"
                        (click)="btnNewTab_OnClick(record)"
                      >
                        <button type="button" class="btn btn-sm btn-light">
                          <span class="pi pi-sign-in"></span>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <app-form
                  #appForm
                  [CurrentObject]="CurrentObject"
                  [style.margin-bottom.px]="50"
                >
                  <p-accordion #filterAccordioView [multiple]="true">
                    <p-accordionTab
                      id="Code"
                      [transitionOptions]="'0ms'"
                      header="Code"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Code"
                          name="Code"
                          caption="Code"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Name"
                      [transitionOptions]="'0ms'"
                      header="Name"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Name"
                          name="Name"
                          caption="Name"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="ContactNumbers"
                      [transitionOptions]="'0ms'"
                      header="Contact Number"
                      (click)="accordionfilterClick($event)"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.ContactNumbers"
                          name="ContactNumbers"
                          caption="Contact Number"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>

                    <p-accordionTab
                      id="IsActive"
                      [transitionOptions]="'0ms'"
                      header="Deleted"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-select-box
                          #IsActive_SelectBox
                          [(ngModel)]="CurrentObject.IsActive"
                          name="IsActive"
                          caption="Deleted"
                          [option]="IsActive_SelectBoxOption"
                          labelPosition="top"
                          [filterMode]="true"
                          (onValueChanged)="filterOnChange($event)"
                        >
                        </app-select-box>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </app-form>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>
