<div class="module-footer">
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <div class="footer-message" [innerHTML]="footerLeftMessageHtml"></div>
        </div>

        <div class="ui-toolbar-group-right">
            <div class="footer-message" [innerHTML]="footerRightMessageHtml"></div>
        </div>
    </p-toolbar>
</div>