<div class="row">
  <div *ngFor="let disaster of DisasterList; index as i" class="col-lg-6">
    <admin-lte-checkbox
      name="IsChecked_{{ i }}"
      [caption]="disaster.Name"
      [initialValue]="disaster.IsChecked"
      (onModelChanged)="disaster_onModelChanged(disaster, $event)"
    >
    </admin-lte-checkbox>
  </div>
</div>
