<p-menubar
  [model]="menuItems"
  *ngIf="menuItems.length > 0"
  styleClass="d-flex justify-content-end"
>
</p-menubar>

<p-table
  [value]="_wellnesss"
  selectionMode="singl"
  styleClass="p-datatable-sm"
  dataKey="ID"
  [scrollable]="true"
  rowHover="true"
  scrollHeight="300px"
  [style]="{
    height: '300px',
    'background-color': 'gray'
  }"
>
  <ng-template pTemplate="header">
    <tr style="text-align: center">
      <th style="width: 300px">Medication / Service</th>
      <th>Remarks</th>
      <th *ngIf="!IsDisabled" style="width: 70px"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-wellness>
    <tr>
      <td style="width: 300px">
        <p>
          {{ wellness.Name_Item }}
        </p>
      </td>

      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <app-text-area
              [(ngModel)]="wellness.Comment"
              name="Comment"
              caption=""
              [readOnly]="isDisabled"
              labelPosition="top"
              (onControlValue_Changed)="onChange()"
            >
            </app-text-area>
          </ng-template>

          <ng-template pTemplate="output">
            <p class="editable-color">
              {{ wellness.Comment }}
            </p>
          </ng-template>
        </p-cellEditor>
      </td>
      <td *ngIf="!IsDisabled" style="text-align: center; width: 70px">
        <button
          pButton
          type="button"
          icon="pi pi-times"
          (click)="onRowDeleting(wellness)"
          class="p-button-rounded p-button-text"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<look-up-dialog-box #itemServiceDialog></look-up-dialog-box>
