<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-12">
        <card-container
          title="Impormasyon"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>
      <div class="col-md-12">
        <ng-template [ngTemplateOutlet]="tab"></ng-template>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <div class="row">
    <div class="col-lg-6">
      <admin-lte-texbox
        name="Name"
        caption="Pangalan"
        [initialValue]="CurrentObject.Name"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>
    </div>

    <div class="col-lg-6">
      <admin-lte-texbox
        name="ContactNumber"
        caption="Numero ng Telepono"
        [initialValue]="CurrentObject.ContactNumber"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>
    </div>

    <div class="col-lg-6">
      <admin-lte-textarea
        name="Address"
        caption="Tirahan"
        [initialValue]="CurrentObject.Address"
        (onModelChanged)="control_onModelChanged($event)"
        [rows]="'5'"
      >
      </admin-lte-textarea>
    </div>

    <div class="col-lg-6">
      <admin-lte-textarea
        name="Purpose"
        caption="Layunin"
        [initialValue]="CurrentObject.Purpose"
        (onModelChanged)="control_onModelChanged($event)"
        [rows]="'5'"
      >
      </admin-lte-textarea>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>

<ng-template #tab>
  <div class="card card-primary card-outline card-outline-tabs">
    <div class="card-header p-0 border-bottom-0">
      <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="tab-bidetail-tab"
            data-toggle="pill"
            href="#ResidenceCertificate"
            role="tab"
            aria-controls="tab-ResidenceCertificate"
            aria-selected="true"
            > Residence Certificate</a
          >
        </li>
      </ul>
    </div>
    <div class="card-body p-0">
      <div class="tab-content" id="tab-ResidenceCertificate">
        <div
          class="tab-pane fade show active"
          id="content-ResidenceCertificate"
          role="tabpanel"
          aria-labelledby="content-ResidenceCertificate"
        >
          <ng-container
            [ngTemplateOutlet]="residencecertificatelistTab"
          ></ng-container>
        </div>
      </div>
    </div>
    <div *ngIf="loading" class="overlay">
      <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
  </div>
</ng-template>

<ng-template #residencecertificatelistTab>
  <residence-certificate-list
    #residencecertificatelist
  ></residence-certificate-list>
</ng-template>
