<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-3">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Information</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Infomation_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Patient Info.</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_PatientInfo_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4" *ngIf="CurrentObject.ID_Patient_Confinement">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Confinement</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Confinement_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab-primarycomplaint-tab"
                  data-toggle="pill"
                  href="#content-primarycomplaint"
                  role="tab"
                  aria-controls="tab-primarycomplaint"
                  aria-selected="true"
                  >Primary Complainy / History</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-clinicalexamination-tab"
                  data-toggle="pill"
                  href="#tab-clinicalexamination"
                  role="tab"
                  aria-controls="tab-clinicalexamination"
                  >Clinical Exam.</a
                >
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-laboratoryimages-tab"
                  data-toggle="pill"
                  href="#tab-laboratoryimages"
                  role="tab"
                  aria-controls="tab-laboratoryimages"
                  >Laboratory / Interpretation</a
                >
              </li>

              <li class="nav-item">
                <a
                  *ngIf="!CurrentObject.ID_Patient_Confinement"
                  class="nav-link"
                  id="tab-plan-tab"
                  data-toggle="pill"
                  href="#tab-plan"
                  role="tab"
                  aria-controls="tab-plan"
                  >Plan</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-diagnosis-tab"
                  data-toggle="pill"
                  href="#tab-diagnosis"
                  role="tab"
                  aria-controls="tab-diagnosis"
                  >Diagnosis</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-treatment-tab"
                  data-toggle="pill"
                  href="#tab-treatment"
                  role="tab"
                  aria-controls="tab-treatment"
                  >Treatment</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-prescription-tab"
                  data-toggle="pill"
                  href="#tab-prescription"
                  role="tab"
                  aria-controls="tab-prescription"
                  >Prescription</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-clientcommunication-tab"
                  data-toggle="pill"
                  href="#tab-clientcommunication"
                  role="tab"
                  aria-controls="tab-clientcommunication"
                  >Client Communication</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="tab-primarycomplaint">
              <div
                class="tab-pane fade show active"
                id="content-primarycomplaint"
                role="tabpanel"
                aria-labelledby="content-primarycomplaint"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_History_fields"
                ></ng-container>
              </div>

              <div
                class="tab-pane fade show"
                id="tab-clinicalexamination"
                role="tabpanel"
                aria-labelledby="tab-clinicalexamination"
              >
                <ng-container
                  [ngTemplateOutlet]="
                    contentTemplate_ClinicalExamination_fields
                  "
                ></ng-container>
              </div>

              <div
                class="tab-pane fade show"
                id="tab-laboratoryimages"
                role="tabpanel"
                aria-labelledby="tab-laboratoryimages"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_laboratoryimages_fields"
                ></ng-container>
              </div>

              <div
                *ngIf="!CurrentObject.ID_Patient_Confinement"
                class="tab-pane fade show"
                id="tab-plan"
                role="tabpanel"
                aria-labelledby="tab-plan"
              >
                <soap-plan
                  [soapPlans]="CurrentObject.Patient_SOAP_Plan"
                ></soap-plan>
              </div>
              <div
                class="tab-pane fade show"
                id="tab-diagnosis"
                role="tabpanel"
                aria-labelledby="tab-diagnosis"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_Diagnosis_fields"
                ></ng-container>
              </div>

              <div
                class="tab-pane fade show"
                id="tab-treatment"
                role="tabpanel"
                aria-labelledby="tab-treatment"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_Treatment_fields"
                ></ng-container>
              </div>

              <div
                class="tab-pane fade show"
                id="tab-prescription"
                role="tabpanel"
                aria-labelledby="tab-prescription"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_Prescription_fields"
                ></ng-container>
              </div>

              <div
                class="tab-pane fade show"
                id="tab-clientcommunication"
                role="tabpanel"
                aria-labelledby="tab-clientcommunication"
              >
                <ng-container
                  [ngTemplateOutlet]="
                    contentTemplate_ClientCommunication_fields
                  "
                ></ng-container>
              </div>
            </div>
          </div>
          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    name="Date"
    caption="Date"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="Name_FilingStatus"
    caption="Filing Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_PatientInfo_fields>
  <admin-lte-data-lookupbox
    name="ID_SOAPType"
    displayName="Name_SOAPType"
    caption="Type"
    [initialValue]="CurrentObject.ID_SOAPType"
    [initialDisplayValue]="CurrentObject.Name_SOAPType"
    [option]="ID_SOAPType_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="AttendingPhysician_ID_Employee"
    displayName="AttendingPhysician_Name_Employee"
    caption="Attnd. Veterinarian"
    [initialValue]="CurrentObject.AttendingPhysician_ID_Employee"
    [initialDisplayValue]="CurrentObject.AttendingPhysician_Name_Employee"
    [option]="AttendingPhysician_ID_Employee_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="ID_Client"
    displayName="Name_Client"
    caption="Client"
    [initialValue]="CurrentObject.ID_Client"
    [initialDisplayValue]="CurrentObject.Name_Client"
    [option]="ID_Client_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    #ID_Patient_Lookupbox
    name="ID_Patient"
    displayName="Name_Patient"
    caption="Patient"
    [initialValue]="CurrentObject.ID_Patient"
    [initialDisplayValue]="CurrentObject.Name_Patient"
    [option]="ID_Patient_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-autocompletebox
    name="CaseType"
    caption="Case Type"
    [dataList]="CaseTypeList"
    [initialValue]="CurrentObject.CaseType"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-autocompletebox>
</ng-template>

<ng-template #contentTemplate_Confinement_fields>
  <admin-lte-texbox
    name="Code_Patient_Confinement"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject.Code_Patient_Confinement"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    name="Date_Patient_Confinement"
    caption="Date"
    format="MM/dd/yyyy"
    [readonly]="true"
    [initialValue]="CurrentObject.Date_Patient_Confinement"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="Name_FilingStatus_Patient_Confinement"
    caption="Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_FilingStatus_Patient_Confinement"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    *ngIf="
      CurrentObject.ID_FilingStatus_Patient_Confinement ==
      FILINGSTATUS_DISCHARGE
    "
    name="DateDischarge_Patient_Confinement"
    caption="Date Discharged"
    format="MM/dd/yyyy"
    [readonly]="true"
    [initialValue]="CurrentObject.DateDischarge_Patient_Confinement"
  >
  </admin-lte-datebox>
</ng-template>

<ng-template #contentTemplate_History_fields>
  <admin-lte-textarea
    name="History"
    caption=""
    [initialValue]="CurrentObject.History"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_ClinicalExamination_fields>
  <button
    type="button"
    class="btn btn-default btn-md"
    (click)="btnClinicalExaminationFillTemplate_onClick()"
  >
    <i class="fas fa-th-list"></i>&nbsp;Fill Template
  </button>
  <admin-lte-textarea
    name="ClinicalExamination"
    caption=""
    [initialValue]="CurrentObject.ClinicalExamination"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_laboratoryimages_fields>
  <laboratory-images
    #laboratoryimages
    [CurrentObject]="CurrentObject"
    (onModelChanged)="control_onModelChanged($event)"
  ></laboratory-images>

  <admin-lte-textarea
    name="Interpretation"
    caption="Interpretation"
    [initialValue]="CurrentObject.Interpretation"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_Diagnosis_fields>
  <button
    type="button"
    class="btn btn-default btn-md"
    (click)="btnDiagnosisFillTemplate_onClick()"
  >
    <i class="fas fa-th-list"></i>&nbsp;Fill Template
  </button>
  <admin-lte-textarea
    name="Diagnosis"
    caption=""
    [initialValue]="CurrentObject.Diagnosis"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_Treatment_fields>
  <admin-lte-textarea
    name="Treatment"
    caption=""
    [initialValue]="CurrentObject.Treatment"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_Prescription_fields>
  <soap-prescription
    [SOAPPrescriptions]="CurrentObject.Patient_SOAP_Prescription"
  ></soap-prescription>
  <br />
  <admin-lte-textarea
    name="Prescription"
    caption="Prescription"
    [initialValue]="CurrentObject.Prescription"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_ClientCommunication_fields>
  <admin-lte-textarea
    name="ClientCommunication"
    caption=""
    [initialValue]="CurrentObject.ClientCommunication"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>
