<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Impormasyon</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Infomation_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <div class="row">
    <div class="col-lg-6">
      <admin-lte-datebox
        name="Date"
        caption="Petsa"
        format="MMM. dd, yyyy hh:mm a"
        [initialValue]="CurrentObject.Date"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datebox>
    </div>

    <div class="col-lg-6">
      <admin-lte-data-lookupbox
        name="ID_LawSuitStatus"
        displayName="Name_LawSuitStatus"
        caption="Status"
        [initialValue]="CurrentObject.ID_LawSuitStatus"
        [initialDisplayValue]="CurrentObject.Name_LawSuitStatus"
        [option]="ID_LawSuitStatus_LookupboxOption"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-data-lookupbox>
    </div>

    <div class="col-lg-6">
      <admin-lte-data-lookupbox
        name="Complainant_ID_Resident"
        displayName="Complainant_Name_Resident"
        caption="Complainant"
        [initialValue]="CurrentObject.Complainant_ID_Resident"
        [initialDisplayValue]="CurrentObject.Complainant_Name_Resident"
        [option]="Complainant_ID_Resident_LookupboxOption"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-data-lookupbox>

      <admin-lte-texbox
        name="ComplainantSMSNumber"
        caption="Numero para sa SMS Reminder"
        [initialValue]="CurrentObject.ComplainantSMSNumber"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>
    </div>

    <div class="col-lg-6">
      <admin-lte-data-lookupbox
        name="Respondent_ID_Resident"
        displayName="Respondent_Name_Resident"
        caption="Respondent"
        [initialValue]="CurrentObject.Respondent_ID_Resident"
        [initialDisplayValue]="CurrentObject.Respondent_Name_Resident"
        [option]="Respondent_ID_Resident_LookupboxOption"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-data-lookupbox>

      <admin-lte-texbox
        name="RespondentSMSNumber"
        caption="Numero para sa SMS Reminder"
        [initialValue]="CurrentObject.RespondentSMSNumber"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>
    </div>
    <div class="col-lg-12">
      <admin-lte-textarea
        name="Comment"
        caption="Reklamo"
        [initialValue]="CurrentObject.Comment"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-textarea>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>
