/deep/ .ui-fileupload-row>div {
    display: block;
    word-break: break-all;
    font-size: 12px;
}

/deep/ .ui-fileupload .ui-fileupload-buttonbar .ui-button  {
    background: #fff;
    color:#000;
    border-color: #c8c8c8;
    font-size: 12px;
}