<custom-dialog-box
  #CustomDialogBox
  size="md"
  title="Watch"
  [closeOnPositiveButton]="false"
  [IsShowBtnNegative]="false"
  [childTemplate]="addItemChildTemplate"
  (onPositiveButtonClick)="onPositiveButtonClick($event)"
>
</custom-dialog-box>

<ng-template #addItemChildTemplate>
  <div class="row">
    <div class="col-lg-12" style="height: 320px">
      <iframe
        class="embed-item"
        allowfullscreen="true"
        width="100%"
        height="100%"
        [src]="this.videoURL"
      ></iframe>
    </div>
  </div>

  <div class="control-separator-bottom"></div>
</ng-template>
