<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">Payables and Expenses &nbsp;</div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-9" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: hidden"
            >
              <div class="p-col-12">

                <ng-template [ngTemplateOutlet]="summary"></ng-template>

                <br/>
                <ng-template [ngTemplateOutlet]="table"></ng-template>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <ng-template [ngTemplateOutlet]="filter"></ng-template>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<payable-payment-dialog-box
  #payablepaymentdialogbox
></payable-payment-dialog-box>
<payable-dialog-box #payabledialogbox></payable-dialog-box>

<loading-screen [isLoading]="isLoading"></loading-screen>

<ng-template #summary>
  <div class="row">
    <div class="col-md-6">
      <app-number-box
        [(ngModel)]="SummaryObject.TotalPayable"
        name="TotalPayable"
        caption="Total Payable"
        labelPosition="left"
        [readOnly]="true"
      ></app-number-box>
      <br />
      <app-number-box
        [(ngModel)]="SummaryObject.TotalRemaning"
        name="TotalRemaning"
        caption="Total Remaining"
        labelPosition="left"
        [readOnly]="true"
      ></app-number-box>
    </div>
    <div class="col-md-6">
      <app-number-box
        [(ngModel)]="SummaryObject.TotalPaid"
        name="TotalPaid"
        caption="Total Paid"
        labelPosition="left"
        [readOnly]="true"
      ></app-number-box>
    </div>
  </div>
</ng-template>
<ng-template #table>
  <p-table
    class="flexcolumn"
    [value]="dataSource"
    selectionMode="single"
    [(selection)]="selectedRecord"
    dataKey="ID"
    [scrollable]="true"
    [responsive]="false"
    sortMode="multiple"
    [(scrollHeight)]="mainboxHeight"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="Date" style="width: 80px">
          <span>Date</span>
        </th>
        <th pSortableColumn="Name_ExpenseCategory" style="width: 120px">
          Category
        </th>
        <th pSortableColumn="Name_Payable_Detail"><span>Name</span></th>

        <th pSortableColumn="TotalAmount" style="width: 100px">
          <span>Payable</span>
        </th>

        <th pSortableColumn="TotalAmount" style="width: 100px">
          <span>Remaining </span>
        </th>
        <th pSortableColumn="PaidAmount" style="width: 100px">
          <span>Paid </span>
        </th>
        <th pSortableColumn="Payment_Name_FilingStatus" style="width: 100px">
          <span>Status</span>
        </th>
        <th style="width: 80px">Pay</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
      <tr
        [pSelectableRow]="record"
        class="row-detail"
        (dblclick)="tableRowDetail_onClick(record)"
      >
        <td style="width: 80px; text-align: center">
          {{ record.Date | date: "M/dd/yyyy" }}
        </td>
        <td style="width: 120px">
          {{ record.Name_ExpenseCategory }}
        </td>
        <td>
          {{ record.Name_Payable_Detail }}
        </td>
        <td style="width: 100px; text-align: right">
          {{ record.TotalAmount | number: "1.2" }}
        </td>
        <td style="width: 100px; text-align: right">
          {{ record.RemaningAmount | number: "1.2" }}
        </td>
        <td style="width: 100px; text-align: right">
          {{ record.PaidAmount | number: "1.2" }}
        </td>
        <td
          style="width: 100px; text-align: center"
          class="PayStatus PayStatus_{{
            record.Payment_Name_FilingStatus == null
              ? 'None'
              : record.Payment_Name_FilingStatus.replace(' ', '')
          }}"
        >
          {{ record.Payment_Name_FilingStatus }}
        </td>
        <td
          style="width: 80px; text-align: center"
          (click)="btnPayment(record)"
        >
          <button
            *ngIf="record.Payment_ID_FilingStatus != 12"
            type="button"
            class="btn btn-sm btn-light"
          >
            <span class="fas fa-money-bill-wave"></span>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<ng-template #filter>
  <app-form
    #appForm
    [CurrentObject]="CurrentObject"
    [style.margin-bottom.px]="50"
  >
    <p-accordion #filterAccordioView [multiple]="true">
      <p-accordionTab id="Date" [transitionOptions]="'0ms'" header="Date">
        <div style="margin-bottom: 5px" class="oid-control">
          <app-date-box
            [(ngModel)]="CurrentObject.Date"
            name="Date"
            caption="Date"
            labelPosition="top"
            [show-time]="false"
            [filterMode]="true"
          ></app-date-box>
        </div>
      </p-accordionTab>
      <p-accordionTab
        id="Name_ExpenseCategory"
        [transitionOptions]="'0ms'"
        header="Category"
      >
        <div style="margin-bottom: 5px" class="oid-control">
          <app-text-box
            [(ngModel)]="CurrentObject.Name_ExpenseCategory"
            name="Name_ExpenseCategory"
            caption="Category"
            labelPosition="top"
            (keyup)="filterOnKeyUp($event)"
          ></app-text-box>
        </div>
      </p-accordionTab>
      <p-accordionTab
        id="Name_Payable_Detail"
        [transitionOptions]="'0ms'"
        header="Name"
      >
        <div style="margin-bottom: 5px" class="oid-control">
          <app-text-box
            [(ngModel)]="CurrentObject.Name_Payable_Detail"
            name="Name_Payable_Detail"
            caption="Name"
            labelPosition="top"
            (keyup)="filterOnKeyUp($event)"
          ></app-text-box>
        </div>
      </p-accordionTab>
    </p-accordion>
  </app-form>
</ng-template>
