<div class="hold-transition login-page" *ngIf="isInit">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <span class="h1"><b>E-Barangay</b>WEB</span>
      </div>
      <div class="card-body">

          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              [(ngModel)]="username"
              placeholder="Username"
              (keyup)="onKeyUp($event)"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              [(ngModel)]="password"
              (keyup)="onKeyUp($event)"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary"></div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button class="btn btn-primary btn-block" (click)="login()">
                Log In
              </button>
            </div>
            <!-- /.col -->
          </div>
        <br />
        <br />
      </div>
      <!-- /.card-body -->

      <div *ngIf="loading" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
