<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-6">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Information</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Infomation_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Status</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Pricing_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab-soaplist-tab"
                  data-toggle="pill"
                  href="#content-soaplist"
                  role="tab"
                  aria-controls="tab-soaplist"
                  aria-selected="true"
                  >SOAP</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-itemsservices-tab"
                  data-toggle="pill"
                  href="#tab-itemsservices"
                  role="tab"
                  aria-controls="tab-itemsservices"
                  >Items & Services</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body p-0">
            <div class="tab-content" id="tab-soaplist">
              <div
                class="tab-pane fade show active"
                id="content-soaplist"
                role="tabpanel"
                aria-labelledby="content-soaplist"
              >
                <ng-container [ngTemplateOutlet]="SOAPList"></ng-container>
              </div>

              <div
                class="tab-pane fade show"
                id="tab-itemsservices"
                role="tabpanel"
                aria-labelledby="tab-itemsservices"
              >
                <ng-container [ngTemplateOutlet]="ItemsServices"></ng-container>
              </div>
            </div>
          </div>
          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
        <br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    name="Date"
    caption="Date"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-data-lookupbox
    name="ID_Client"
    displayName="Name_Client"
    caption="Client"
    [initialValue]="CurrentObject.ID_Client"
    [initialDisplayValue]="CurrentObject.Name_Client"
    [option]="ID_Client_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    #ID_Patient_Lookupbox
    name="ID_Patient"
    displayName="Name_Patient"
    caption="Patient"
    [initialValue]="CurrentObject.ID_Patient"
    [initialDisplayValue]="CurrentObject.Name_Patient"
    [option]="ID_Patient_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplate_Pricing_fields>
  <admin-lte-texbox
    name="Name_FilingStatus"
    caption="Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    *ngIf="CurrentObject.ID_FilingStatus == FILINGSTATUS_DISCHARGE"
    name="DateDischarge"
    caption="Date Discharge"
    format="MM/dd/yyyy"
    [readonly]="true"
    [initialValue]="CurrentObject.DateDischarge"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-datebox
    *ngIf="CurrentObject.ID_FilingStatus == FILINGSTATUS_CANCELLED"
    name="DateCanceled"
    caption="Date Canceled"
    format="MM/dd/yyyy"
    [readonly]="true"
    [initialValue]="CurrentObject.DateCanceled"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>

<ng-template #SOAPList>
  <confinement-soap-list #confinementsoaplist></confinement-soap-list>
</ng-template>

<ng-template #ItemsServices>
  <confinement-items-services-table
    #confinementitemsservicestable
    [itemsServices]="this.CurrentObject.Patient_Confinement_ItemsServices"
    (onModelChanged)="confinementitemsservicestable_onModelChanged()"
    (onMenuItemClick)="confinementitemsservicestable_onMenuItemClick($event)"
  ></confinement-items-services-table>
</ng-template>

<adjust-credit-dialog #adjustcreditdialog></adjust-credit-dialog>
