
.tooth-container-small{
    position: relative;
    width: 45px;
    height: 37px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.tooth-base{

    width: inherit;
    height: inherit;
}

.top:hover,
.left:hover,
.middle:hover,
.bottom:hover,
.right:hover {
    
    background-color: #31ffe342;
    cursor: pointer;
}

.top{

    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    top: 0px;
    clip-path: polygon(86% 15%, 67% 34%, 63% 31%, 58% 29%, 54% 28%, 49% 28%, 42% 29%, 37% 32%, 34% 34%, 33% 33%, 15% 15%, 19% 12%, 24% 8%, 27% 7%, 30% 5%, 33% 4%, 38% 2%, 45% 1%, 50% 1%, 54% 1%, 57% 1%, 61% 2%, 68% 4%, 74% 7%, 79% 9%);
}

.left{

    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    top: 0px;
    left: 0px;
    clip-path: polygon(15% 85%, 34% 69%, 31% 65%, 27% 58%, 26% 54%, 26% 46%, 28% 40%, 31% 36%, 34% 34%, 16% 14%, 13% 17%, 11% 20%, 8% 24%, 6% 28%, 4% 33%, 1% 41%, 0% 54%, 0% 46%, 0% 50%, 1% 58%, 3% 66%, 5% 70%, 7% 75%, 10% 79%);
}

.middle{

    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    top: 0px;
    clip-path: polygon(64% 32%, 71% 37%, 74% 42%, 76% 48%, 76% 53%, 74% 60%, 72% 63%, 69% 66%, 67% 68%, 64% 70%, 64% 70%, 56% 73%, 50% 74%, 45% 73%, 35% 69%, 33% 67%, 29% 63%, 26% 57%, 25% 52%, 25% 48%, 28% 41%, 31% 36%, 34% 33%, 37% 32%, 40% 30%, 44% 29%, 47% 29%, 52% 28%, 54% 29%, 57% 29%, 60% 30%);

}
 
.bottom{

    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    bottom: 0px;
    clip-path: polygon(15% 84%, 34% 68%, 38% 71%, 53% 73%, 61% 71%, 62% 70%, 67% 67%, 72% 72%, 85% 84%, 86% 84%, 79% 90%, 75% 93%, 70% 96%, 54% 100%, 48% 100%, 38% 99%, 38% 98%, 38% 99%, 26% 93%, 19% 89%);
}
 
.right{

    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    top: 0px;
    right: 0px;
    clip-path: polygon(67% 33%, 86% 15%, 91% 21%, 96% 29%, 99% 39%, 101% 51%, 102% 51%, 98% 66%, 96% 71%, 92% 78%, 86% 85%, 67% 69%, 75% 57%, 75% 54%, 75% 45%, 71% 37%);
}