 

<div class="tooth-container">

    <div class="tooth-base"  [ngStyle]="{'background' : 'url(assets/dental/tooth_molar.gif)'}">

    </div>

    
    <div 
        class="top" 
        (click)="topSurface_OnClick()"
    >
    </div> 

    <div 
        class="left" 
        (click)="leftSurface_OnClick()"
    >
    </div> 

    <div 
        class="middle" 
        (click)="middleSurface_OnClick()"
    >
    </div> 
 
    <div 
        class="right" 
        (click)="rightSurface_OnClick()"
    >
    </div> 

    <div 
        class="bottom" 
        (click)="bottomSurface_OnClick()"
    >
    </div>

</div>