<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Information</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Infomation_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Pricing</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Pricing_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Name"
    caption="Name"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-data-lookupbox
    name="ID_ItemCategory"
    displayName="Name_ItemCategory"
    caption="Category"
    [initialValue]="CurrentObject.ID_ItemCategory"
    [initialDisplayValue]="CurrentObject.Name_ItemCategory"
    [option]="ID_ItemCategory_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplate_Pricing_fields>
  <admin-lte-numberbox
    name="UnitPrice"
    caption="Service Fee"
    [initialValue]="CurrentObject.UnitPrice"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>
