<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">&nbsp;</div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCount | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Bilang ng Residente"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCountMale | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Mga Lalake"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCountFemale | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Mga Babae"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>

      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCount4Ps | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="4Ps"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>

      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{
            residentSummary.ResidentCountSeniorCitizen | number: '1.0'
          }}"
          iconClass="fa-users fas"
          subtitle="Senior Citizen"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>

      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentCountScholar | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Scholar"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>

      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.VoterCount | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Mga Botante"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>

      <div class="col-sm-3" style="margin-bottom: 15px">
        <admin-lte-small-box
          title="{{ residentSummary.ResidentNoneWorkerCount | number: '1.0' }}"
          iconClass="fa-users fas"
          subtitle="Mga Walang Trabaho"
          bgClass="small-box-bg-danger"
        ></admin-lte-small-box>
      </div>

      <div class="col-sm-9" style="margin-bottom: 15px">&nbsp;</div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="Programa ng Barangay"
          [customBodyTemplate]="
            contentTemplate_barangayregisteredresidetpiechart_Chart
          "
        >
        </card-container>
      </div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="Relihiyon"
          [customBodyTemplate]="contentTemplate_residentreligionbarchart_Chart"
        >
        </card-container>
      </div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="May mga Trabaho"
          [customBodyTemplate]="
            contentTemplate_residentoccupationstatuspiechart
          "
        >
        </card-container>
      </div>

    </div>
  </div>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>

<ng-template #contentTemplate_registeredresidentbarchart_Chart>
  <registered-resident-bar-chart></registered-resident-bar-chart>
</ng-template>

<ng-template #contentTemplate_barangayregisteredresidetpiechart_Chart>
  <resident-program-pie-chart></resident-program-pie-chart>
</ng-template>

<ng-template #contentTemplate_totalvaccinatedresidentbarchart_Chart>
  <total-vaccinated-resident-bar-chart></total-vaccinated-resident-bar-chart>
</ng-template>

<ng-template #contentTemplate_residentoccupationstatuspiechart>
  <resident-occupation-status-pie-chart></resident-occupation-status-pie-chart>
</ng-template>

<ng-template #contentTemplate_residentreligionbarchart_Chart>
  <resident-religion-bar-chart></resident-religion-bar-chart>
</ng-template>
