/deep/ .ui-listbox  .ui-listbox-header {
    .ui-chkbox {
        margin-right: 0px;
    }

    .ui-listbox-filter-container {
        width:90%;
        margin-left: 5px;
    }
}
/deep/ .ui-listbox  {
    border-radius: 0px!important;
}