<report-viewer
  #reportviewer
  [filterContentTemplate]="filterContentTemplate"
  (onbtnSaveClick)="onbtnSaveClick()"
  (onbtnClearClick)="onbtnClearClick()"
></report-viewer>

<ng-template #filterContentTemplate>

  <admin-lte-data-lookupbox name="ID_Gender" displayName="Name_Gender" caption="Kasarian" [initialValue]="CurrentObject.ID_Gender" [initialDisplayValue]="CurrentObject.Name_PaymentMethod" [option]="ID_Gender_LookupboxOption" (onModelChanged)="control_onModelChanged($event)">
  </admin-lte-data-lookupbox>

  <admin-lte-texbox
    name="ProgramString"
    caption="Programa"
    [initialValue]="CurrentObject.ProgramString"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
  name="AgeStart"
  caption="Starting Age"
  [initialValue]="CurrentObject.AgeStart"
  (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
  name="AgeEnd"
  caption="Ending Age"
  [initialValue]="CurrentObject.AgeEnd"
  (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>

  <div class="custom-slider">
  <ngx-slider [(value)]="CurrentObject.AgeStart" [(highValue)]="CurrentObject.AgeEnd" [options]="options"></ngx-slider>
  </div>

</ng-template>
