<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <menubar [items]="items" (onClick)="menubar_OnClick($event)"> </menubar>
      </div>

      <div
        [ngClass]="{
          'col-md-9': filterContentTemplate != undefined,
          'col-md-12': filterContentTemplate == undefined
        }"
        [ngStyle]="{ height: cardBodyHeight }"
      >
        <form #form method="POST" target="reportviewer"></form>
        <iframe
          #reportView
          (onload)="onLoad($event)"
          name="reportviewer"
          class="expand"
          frameBorder="0"
          style="background-color: dimgray; width: 100%; height: 100%"
        ></iframe>
      </div>

      <div *ngIf="filterContentTemplate" class="col-md-3">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="filterContentTemplate"
            ></ng-container>

            <button class="btn btn-primary" (click)="btnSave_onClick()">Search</button>

            <button class="btn btn-link" (click)="btnClear_onClick()">Clear</button>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
