<div class="form-group">
  <label *ngIf="caption" for="name">{{ caption }}</label>
  <div class="image-container">
    <span
      (click)="btnClose_onClick()"
      *ngIf="value && value != ''"
      class="fa fa-times close-button"
    ></span>
    <img
      *ngIf="value && value != ''"
      style="cursor: pointer;"
      [src]="imagelocation"
      (click)="Image_onClick($event)"
    />

    <img
      *ngIf="value == null || value == ''"
      src="assets/admin-lte/dist/img/boxed-bg.png"
    />
  </div>
  <div class="input-group">
    <div class="custom-file">
      <input
        type="file"
        class="custom-file-input"
        id="customFile"
        (change)="readURL($event)"
        accept="image/*"
      />
      <label class="custom-file-label" for="customFile">{{ value }}</label>
    </div>
  </div>
</div>
