<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img
      src="assets/admin-lte/dist/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">E-Barangay Web</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/admin-lte/dist/img/boxed-bg.png"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ currentUser.Name_Employee }}</a>
        <a href="#" class="d-block" routerLink="CompanyDetail">{{
          companyName
        }}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
      >
        <li *ngFor="let menuItem of MenuItems" class="nav-item menu-open">
          <a
            style="cursor: pointer"
            class="nav-link"
            [routerLink]="menuItem.routerLink"
            style="border-top: #616e82 1px solid;"
          >
            <i
              class="{{
                menuItem.icon == '' ||
                menuItem.icon == null ||
                menuItem.icon == undefined
                  ? 'far fa-circle'
                  : menuItem.icon
              }} nav-icon"
            ></i>
            <p>
              {{ menuItem.label }}

              <!-- <i *ngIf="menuItem.items" class="right fas fa-angle-left"></i> -->
              <span
                *ngIf="menuItem.badge"
                class="right badge badge-{{
                  menuItem.badge.color == '' ||
                  menuItem.badge.color == null ||
                  menuItem.badge.color == undefined
                    ? 'danger'
                    : menuItem.badge.color
                }} "
                >{{ menuItem.badge.caption }}</span
              >
            </p>
          </a>
          <ul *ngIf="menuItem.items" class="nav nav-treeview" style="padding-left: 15px;">
            <li *ngFor="let subItem of menuItem.items" class="nav-item">
              <a [routerLink]="subItem.routerLink" class="nav-link">
                <i
                  class="{{
                    subItem.icon == '' ||
                    subItem.icon == null ||
                    subItem.icon == undefined
                      ? 'far fa-circle'
                      : subItem.icon
                  }} nav-icon"
                ></i>
                <p>
                  {{ subItem.label }}

                  <i *ngIf="subItem.items" class="right fas fa-angle-left"></i>
                  <span
                    *ngIf="subItem.badge"
                    class="right badge badge-danger"
                    >{{ subItem.badge.caption }}</span
                  >
                </p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
