<div class="row">
  <div class="col-lg-4">
    <admin-lte-texbox
      name="Lastname"
      caption="Lastname"
      [initialValue]="Record.Lastname"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-texbox>
  </div>

  <div class="col-lg-4">
    <admin-lte-texbox
      name="Middlename"
      caption="Middlename"
      [initialValue]="Record.Middlename"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-texbox>
  </div>

  <div class="col-lg-4">
    <admin-lte-texbox
      name="Firstname"
      caption="Firstname"
      [initialValue]="Record.Firstname"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-texbox>
  </div>

  <div class="col-lg-12">
    <admin-lte-textarea
      name="Address"
      caption="Address"
      [initialValue]="Record.Address"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-textarea>
    <admin-lte-texbox
      name="Address"
      caption="Status of Residence"
      [initialValue]="Record.Address"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-texbox>
  </div>
</div>
