th {
  text-align: center;
}

.btn-filter {
  cursor: pointer;
}

tr {
  cursor: pointer;
}

.show-filter {
  visibility: visible;
}

.btn-filter {
  width: 40px;
  position: absolute;
  right: 5px;
  top: 6px;
}

.action-text {
  font-size: 11px;
  font-weight: bold;
  height: 4px;
}
