<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">Patient &nbsp;</div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-9" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: hidden"
            >
              <div class="p-col-12">
                <p-table
                  class="flexcolumn"
                  [value]="dataSource"
                  selectionMode="single"
                  [(selection)]="selectedRecord"
                  dataKey="ID"
                  [scrollable]="true"
                  [responsive]="false"
                  sortMode="multiple"
                  [(scrollHeight)]="mainboxHeight"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        class="col-id"
                        style="display: none"
                        pSortableColumn="ID"
                      >
                        <span>ID</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Name')"
                        style="width: 100px"
                      ></th>
                      <th
                        (click)="tableHeader_onClick('Code')"
                        style="width: 100px"
                      >
                        <span>Code</span>
                      </th>
                      <th (click)="tableHeader_onClick('Name_Client')">
                        <span>Owner's Name</span>
                      </th>
                      <th (click)="tableHeader_onClick('Name')">
                        <span>Pet's Name</span>
                      </th>
                      <th (click)="tableHeader_onClick('Species')">
                        <span>Species</span>
                      </th>
                      <th (click)="tableHeader_onClick('Name_Gender')">
                        <span>Gender</span>
                      </th>
                      <th (click)="tableHeader_onClick('DateLastVisited')">
                        <span>Last Date Visited</span>
                      </th>
                      <th style="width: 150px">Action</th>
                      <th style="width: 80px">Open Tab</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record>
                    <tr
                      [pSelectableRow]="record"
                      class="row-detail"
                      (dblclick)="tableRowDetail_onClick(record)"
                    >
                      <td class="col-id" style="display: none">
                        {{ record.ID }}
                      </td>
                      <td style="width: 100px; text-align: center">
                        <img
                          style="height: 80px"
                          src="{{ record.ProfileImageThumbnailLocationFile }}"
                        />
                      </td>
                      <td style="width: 100px; text-align: center">
                        {{ record.Code }}
                      </td>
                      <td>{{ record.Name_Client }}</td>
                      <td>
                        {{ record.Name }}&nbsp;<span
                          *ngIf="record.IsDeceased == true"
                          style="color: red"
                          >(Deceased)</span
                        >
                      </td>
                      <td>{{ record.Species }}</td>
                      <td>{{ record.Name_Gender }}</td>
                      <td style="text-align: center">
                        {{ record.DateLastVisited | date: "MM/dd/y" }}
                      </td>
                      <td style="width: 150px">
                        <p
                          class="text-success action-text"
                          (click)="colAction_CreateAppointment_onClick(record)"
                        >
                          <i class="fas fa-plus"></i> Create Appointment
                        </p>
                        <p
                          class="text-success action-text"
                          (click)="colAction_CreateSOAP_onClick(record)"
                        >
                          <i class="fas fa-plus"></i> Create Medical Record
                        </p>
                      </td>
                      <td
                        style="width: 80px; text-align: center"
                        (click)="btnNewTab_OnClick(record)"
                      >
                        <button type="button" class="btn btn-sm btn-light">
                          <span class="pi pi-sign-in"></span>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <app-form
                  #appForm
                  [CurrentObject]="CurrentObject"
                  [style.margin-bottom.px]="50"
                >
                  <p-accordion #filterAccordioView [multiple]="true">
                    <p-accordionTab
                      id="Code"
                      [transitionOptions]="'0ms'"
                      header="Code"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Code"
                          name="Code"
                          caption="Code"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>

                    <p-accordionTab
                      id="Name_Client"
                      [transitionOptions]="'0ms'"
                      header="Owner Name"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Name_Client"
                          name="Name_Client"
                          caption="Owner's Name"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Name"
                      [transitionOptions]="'0ms'"
                      header="Name"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Name"
                          name="Name"
                          caption="Pet's Name"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Species"
                      [transitionOptions]="'0ms'"
                      header="Species"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Species"
                          name="Species"
                          caption="Species"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>

                    <p-accordionTab
                      id="ID_Gender"
                      [transitionOptions]="'0ms'"
                      header="Gender"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-select-box
                          #ID_Gender_SelectBox
                          [(ngModel)]="CurrentObject.ID_Gender"
                          name="ID_Gender"
                          caption="Gender"
                          [option]="ID_Gender_SelectBoxOption"
                          labelPosition="top"
                          [filterMode]="true"
                          (onValueChanged)="filterOnChange($event)"
                        >
                        </app-select-box>
                      </div>
                    </p-accordionTab>

                    <p-accordionTab
                      id="IsActive"
                      [transitionOptions]="'0ms'"
                      header="Deleted"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-select-box
                          #IsActive_SelectBox
                          [(ngModel)]="CurrentObject.IsActive"
                          name="IsActive"
                          caption="Deleted"
                          [option]="IsActive_SelectBoxOption"
                          labelPosition="top"
                          [filterMode]="true"
                          (onValueChanged)="filterOnChange($event)"
                        >
                        </app-select-box>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </app-form>
             
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>
