<div class="d-flex flex-column expand" style="background-color: white;">
    <div class="module-header" style="height: auto;">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <div class="title">
                    Appointment Schedule
                </div>
            </div>
            <div class="ui-toolbar-group-right">
            </div>

        </p-toolbar>

        <div class="p-fluid" style="padding-left: 4px; padding-top: 10px;">
            <div class="p-field p-grid">
                <div class="p-col-12">
                    <p-button #btnRefresh label="Refresh" (onClick)="btnRefresh_onClick($event)"></p-button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-fill module-content" style="height:1px; background-color: white;">
        <div class="expand" style="overflow-y: auto;overflow-x: hidden;padding:3px">

            <full-calendar #fullCalendar [options]='calendarOptions'></full-calendar>
<!-- 
            <div id="calendar"></div> -->
        </div>
    </div>
</div>

<appointment-schedule-dialog #appointmentscheduledialog></appointment-schedule-dialog>