<div class="d-flex flex-column expand" [ngClass]="{ 'hide-filter': false }">
  <div class="module-header" style="height: auto">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <div class="title">Document Series</div>
      </div>
      <div class="ui-toolbar-group-right"></div>
    </p-toolbar>
    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" style="height: 1px">
    <div class="expand" style="overflow-y: auto; overflow-x: hidden">
      <div class="p-grid expand" style="margin: 0px; padding: 0px">
        <div class="main-box p-col-12" style="margin: 0px; padding: 0px">
          <p-table
            class="flexcolumn"
            [value]="dataSource"
            selectionMode="single"
            [(selection)]="selectedRecord"
            dataKey="ID"
            [scrollable]="true"
            [responsive]="false"
            sortMode="multiple"
          >
            <ng-template pTemplate="header">
              <tr>
                <th class="col-id" pSortableColumn="ID"><span>ID</span></th>
                <th pSortableColumn="Name">
                  <span>Name</span>
                </th>
                <th style="width: 150px" pSortableColumn="Prefix">
                  <span>Prefix</span>
                </th>
                <th style="width: 150px" pSortableColumn="Counter">
                  <span>Counter</span>
                </th>
                <th style="width: 150px" pSortableColumn="IsAppendCurrentDate">
                  <span>Is Append Current Date</span>
                </th>
                <th style="width: 150px" pSortableColumn="DigitCount">
                  <span>Digit Count</span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record>
              <tr
                [pSelectableRow]="record"
                class="row-detail"
                (click)="tableRowDetail_onClick(record)"
              >
                <td class="col-id">{{ record.ID }}</td>
                <td>{{ record.Name }}</td>
                <td style="width: 150px">{{ record.Prefix }}</td>
                <td style="width: 150px">{{ record.Counter }}</td>
                <td style="width: 150px">{{ record.IsAppendCurrentDate }}</td>
                <td style="width: 150px">{{ record.DigitCount }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>

  <div class="module-footer footer-text" style="height: auto">
    <p class="footer-text">Total Record: {{ dataSource.length }}</p>
  </div>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>
