<div class="card">
  <div class="card-body p-0">
    <menubar
      *ngIf="this.ID_Client > 0"
      [items]="items"
      (onClick)="menubar_OnClick($event)"
    >
    </menubar>
    <table
      class="table table-striped table-bordered table-hover"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th>Patient</th>
          <th style="width: 90px">Status</th>
          <th style="width: 60px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rowData of dataSource; index as i"
          style="cursor: pointer"
        >
          <td class="text-left" (click)="onRowClick(rowData)">
            {{ rowData.Name }} {{ rowData.Species }}
          </td>
          <td class="text-center">
            <span class="text-blue">{{
              rowData.WaitingStatus_ID_FilingStatus != FILINGSTATUS_CANCELLED
                ? rowData.Code_PatientWaitingList
                : ""
            }}</span>
            {{
              rowData.WaitingStatus_ID_FilingStatus != FILINGSTATUS_CANCELLED
                ? rowData.WaitingStatus_Name_FilingStatus
                : ""
            }}
          </td>
          <td>
            <button
              *ngIf="
                rowData.WaitingStatus_ID_FilingStatus == null ||
                rowData.WaitingStatus_ID_FilingStatus ==
                  FILINGSTATUS_CANCELLED ||
                rowData.WaitingStatus_ID_FilingStatus == FILINGSTATUS_DONE
              "
              type="button"
              class="btn btn-sm btn-info"
              (click)="Queue_onRowClick(rowData)"
            >
              <i class="fas fa-list"></i> Queue
            </button>

            <button
              *ngIf="
                rowData.WaitingStatus_ID_FilingStatus == FILINGSTATUS_WAITING
              "
              type="button"
              class="btn btn-sm btn-danger"
              (click)="Cancel_onRowClick(rowData)"
            >
              <i class="fas fa-list"></i> Cancel
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br /><br /><br /><br /><br /><br /><br />
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
