<report-viewer
  #reportviewer
  [filterContentTemplate]="filterContentTemplate"
  (onbtnSaveClick)="onbtnSaveClick()"
  (onbtnClearClick)="onbtnClearClick()"
></report-viewer>

<ng-template #filterContentTemplate>
  <admin-lte-texbox
    name="Name_Item"
    caption="Item"
    [initialValue]="CurrentObject.Name_Item"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>
