<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      Patient Medical Record&nbsp;<span style="font-size: 12px">{{ label }}</span>
    </div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-9" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: hidden"
            >
              <div class="p-col-12">
                <p-table
                  class="flexcolumn"
                  [value]="dataSource"
                  selectionMode="single"
                  [(selection)]="selectedRecord"
                  dataKey="ID"
                  [scrollable]="true"
                  [responsive]="false"
                  sortMode="multiple"
                  [(scrollHeight)]="mainboxHeight"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        class="col-id"
                        pSortableColumn="ID"
                        style="display: none"
                      >
                        <span>ID</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Date')"
                        style="text-align: center; width: 80px"
                      >
                        <span>Date</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Code')"
                        style="text-align: center; width: 90px"
                      >
                        <span>Code</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Name_SOAPType')"
                        style="text-align: center; width: 100px"
                      >
                        <span>Type</span>
                      </th>
                      <th
                        (click)="
                          tableHeader_onClick(
                            'AttendingPhysician_Name_Employee'
                          )
                        "
                        style="text-align: center; width: 150px"
                      >
                        <span>Attnd. Personnel</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Name_Client')"
                        style="text-align: center; width: 200px"
                      >
                        <span>Owner's Name</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Name_Patient')"
                        style="text-align: center; width: 100px"
                      >
                        <span>Pet's Name</span>
                      </th>
                      <th
                        pSortableColumn="History"
                        style="text-align: center; width: 200px"
                      >
                        <span>Records</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Name_FilingStatus')"
                        style="text-align: center; width: 80px"
                      >
                        <span>Status</span>
                      </th>
                      <th style="width: 80px">Open Tab</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record>
                    <tr
                      [pSelectableRow]="record"
                      class="row-detail"
                      (dblclick)="tableRowDetail_onClick(record)"
                      [title]="record.TooltipText"
                    >
                      <td class="col-id" style="display: none">
                        {{ record.ID }}
                      </td>
                      <td style="text-align: center; width: 80px">
                        {{ record.Date | date: "MM/dd/yyyy" }}
                      </td>
                      <td style="text-align: center; width: 90px">
                        {{ record.Code }}
                      </td>
                      <td style="text-align: center; width: 100px">
                        {{ record.Name_SOAPType }}
                      </td>
                      <td style="width: 150px">
                        {{ record.AttendingPhysician_Name_Employee }}
                      </td>
                      <td style="width: 200px">
                        {{ record.Name_Client }}
                      </td>
                      <td style="width: 100px">
                        {{ record.Name_Patient }}
                      </td>
                      <td style="width: 200px">
                        <p
                          *ngFor="let SOAPRecord of record.SOAPRecords"
                          class="Record-Info"
                          [title]="SOAPRecord.value"
                          [ngClass]="{
                            'text-success': SOAPRecord.hasValue,
                            'text-danger': !SOAPRecord.hasValue
                          }"
                        >
                          <i
                            class="fa"
                            [ngClass]="{
                              'fa-check': SOAPRecord.hasValue
                            }"
                          ></i>
                           {{ SOAPRecord.label }}
                        </p>

                      </td>
                      <td
                        style="width: 80px; text-align: center"
                        class="FilingStatus FS_{{
                          record.Name_FilingStatus == null
                            ? ''
                            : record.Name_FilingStatus.replace(' ', '')
                        }}"
                      >
                        {{ record.Name_FilingStatus }}
                      </td>
                      <td
                        style="width: 80px; text-align: center"
                        (click)="btnNewTab_OnClick(record)"
                      >
                        <button type="button" class="btn btn-sm btn-light">
                          <span class="pi pi-sign-in"></span>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <app-form
                  #appForm
                  [CurrentObject]="CurrentObject"
                  [style.margin-bottom.px]="50"
                >
                  <p-accordion #filterAccordioView [multiple]="true">
                    <p-accordionTab
                      id="Date"
                      [transitionOptions]="'0ms'"
                      header="Date"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-date-box
                          [(ngModel)]="CurrentObject.Date"
                          name="Date"
                          caption="Date"
                          labelPosition="top"
                          [show-time]="false"
                          [filterMode]="true"
                        ></app-date-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Code"
                      [transitionOptions]="'0ms'"
                      header="Code"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Code"
                          name="Code"
                          caption="Code"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="ID_SOAPType"
                      [transitionOptions]="'0ms'"
                      header="Type"
                      [selected]="AccordionFieldTabs['ID_SOAPType']"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-select-box
                          [(ngModel)]="CurrentObject.ID_SOAPType"
                          name="ID_SOAPType"
                          caption="Type"
                          [option]="ID_SOAPType_SelectBoxOption"
                          labelPosition="top"
                          [filterMode]="true"
                          (onValueChanged)="filterOnChange($event)"
                        >
                        </app-select-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Name_Client"
                      [transitionOptions]="'0ms'"
                      header="Owner"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Name_Client"
                          name="Name_Client"
                          caption="Owner"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Name_Patient"
                      [transitionOptions]="'0ms'"
                      header="Patient"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Name_Patient"
                          name="Name_Patient"
                          caption="Patient"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="ID_FilingStatus"
                      [transitionOptions]="'0ms'"
                      header="Status"
                      [selected]="AccordionFieldTabs['ID_FilingStatus']"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-select-box
                          [(ngModel)]="CurrentObject.ID_FilingStatus"
                          name="ID_FilingStatus"
                          caption="Status"
                          [option]="ID_FilingStatus_SelectBoxOption"
                          labelPosition="top"
                          [filterMode]="true"
                          (onValueChanged)="filterOnChange($event)"
                        >
                        </app-select-box>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </app-form>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>

