tr {
    height: 50px;
  }
  
  th {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
  
  td {
    word-wrap: break-word;
    font-size: 11px;
  }
  
  .row-detail {
    cursor: pointer;
  }
  
  .col-id {
    width: 100px;
    text-align: center;
  }
  
  .footer-text {
    padding-left: 3px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: bold;
  }
  
  .filter-buttons {
    button {
      margin-left: 3px;
    }
  }
  
  .hide-filter {
    .main-box {
      width: 100% !important;
      height: 100% !important;
    }
    .filter-box {
      display: none;
    }
  }
  
  .action-text {
    font-size: 11px;
    font-weight: bold;
    height: 4px;
  }
  
  .Waiting-Status:hover {
    cursor: pointer;
    color: mediumblue;
  }
  