<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">For Billing &nbsp;</div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-9" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: hidden"
            >
              <div class="p-col-12">
                <p-table
                  class="flexcolumn"
                  [value]="dataSource"
                  selectionMode="single"
                  [(selection)]="selectedRecord"
                  dataKey="ID"
                  [scrollable]="true"
                  [responsive]="false"
                  sortMode="multiple"
                  [(scrollHeight)]="mainboxHeight"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 120px">Date</th>
                      <th style="width: 120px">Reference No</th>
                      <th (click)="tableHeader_onClick('Name_Client')">
                        <span>Owner's Name</span>
                      </th>
                      <th (click)="tableHeader_onClick('Name_Patient')">
                        <span>Pet's Name</span>
                      </th>
                      <th
                        (click)="
                          tableHeader_onClick(
                            'BillingInvoice_Name_FilingStatus'
                          )
                        "
                        style="width: 120px"
                      >
                        <span>Bill. Status</span>
                      </th>
                      <th
                        (click)="
                          tableHeader_onClick(
                            'BillingInvoice_Name_FilingStatus'
                          )
                        "
                        style="width: 170px"
                      >
                        <span>Record</span>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record>
                    <tr [pSelectableRow]="record" class="row-detail">
                      <td
                        style="width: 120px"
                        class="text-center"
                        (dblclick)="tableRowDetail_onClick(record)"
                      >
                        {{ record.Date | date: "MM/dd/yyyy" }}
                      </td>
                      <td
                        style="width: 120px"
                        class="text-center"
                        (dblclick)="tableRowDetail_onClick(record)"
                      >
                        {{ record.RefNo }}
                      </td>
                      <td (dblclick)="tableRowDetail_onClick(record)">
                        {{ record.Name_Client }}
                      </td>
                      <td (dblclick)="tableRowDetail_onClick(record)">
                        {{ record.Name_Patient }}
                      </td>
                      <td
                        style="width: 120px"
                        class="text-center text-success  action-text FilingStatus FS_{{
                          record.BillingInvoice_Name_FilingStatus == null
                            ? ''
                            : record.BillingInvoice_Name_FilingStatus.replace(
                                ' ',
                                ''
                              )
                        }}"
                      >
                        {{ record.BillingInvoice_Name_FilingStatus }}
                      </td>

                      <td style="width: 170px" class="text-center">
                        <p
                          *ngIf="
                            record.BillingInvoice_ID_FilingStatus ==
                            FILINGSTATUS_FORBILLING
                          "
                          class="text-success  action-text FilingStatus FS_{{
                            record.BillingInvoice_Name_FilingStatus == null
                              ? ''
                              : record.BillingInvoice_Name_FilingStatus.replace(
                                  ' ',
                                  ''
                                )
                          }}"
                          (click)="
                            colAction_CreateBillingInvoice_onClick(record)
                          "
                        >
                          <i class="fas fa-plus"></i> Create Billing Invoice
                        </p>
                        <p
                          *ngFor="let bi of record.BillingInvoices"
                          class="action-text FilingStatus FS_{{
                            bi.Status == null ? '' : bi.Status.replace(' ', '')
                          }}"
                          (click)="colAction_ViewBillingInvoice_onClick(bi)"
                        >
                          {{ bi.Code }} - {{ bi.Status }}
                        </p>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <app-form
                  #appForm
                  [CurrentObject]="CurrentObject"
                  [style.margin-bottom.px]="50"
                >
                  <p-accordion #filterAccordioView [multiple]="true">
                  </p-accordion>
                </app-form>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>

<change-waiting-status-patient-waiting-list-dialog
  #changewaitingstatuspatientwaitinglistdialog
></change-waiting-status-patient-waiting-list-dialog>
