<menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>

<table class="table table-head-fixed text-nowrap">
  <thead>
    <tr>
      <th style="width: 30%">Pangalan</th>
      <th style="width: 150px">Assigned BHW</th>
      <th style="width: 170px">Contact Number</th>
      <th>Address</th>
      <th style="width: 80px">New Tab</th>
      <th style="width: 80px">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rowData of dataSource; index as i">
      <td (click)="Row_OnClick(rowData)">{{ rowData.Name }}</td>
      <td (click)="Row_OnClick(rowData)" class="text-center">
        {{ rowData.AssignedBHW_Name_Employee }}
      </td>
      <td (click)="Row_OnClick(rowData)" class="text-center">
        {{ rowData.ContactNumber }}
      </td>
      <td (click)="Row_OnClick(rowData)">{{ rowData.Address }}</td>
      <td class="text-center">
        <button class="btn btn-default" (click)="goToLink(rowData)">
          <i class="fas fa-external-link-alt"></i>
        </button>
      </td>
      <td class="text-center">
        <button
          class="btn btn-danger"
          (click)="goToRemoveOnHouseholdNumber(rowData)"
        >
          <i class="fas fa-times"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
