<ng-template #modalComponent let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Tooth Status</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="margin-bottom: 13px;">

    <app-tooth-info [toothInfo]="toothInfo"></app-tooth-info>

  </div>

  <div class="modal-footer" *ngIf="!IsHideButton">
    <button type="button" class="btn btn-primary" (click)="modal.close(true)">OK</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close(false)">Cancel</button>
  </div>
</ng-template>
