<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">Import Record</div>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <form #form>
        <div class="row">
          <div class="col-lg-3">
            <p-fieldset legend="From MySQL Database Export" class="with-caption">
              <div class="form-group">
                <label for="exampleInputEmail1">Client Table</label>
                <input
                  type="file"
                  class="form-control"
                  placeholder="Enter email"
                  (change)="btnImportClient_OnClick($event)"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >Record From Old Vet Cloud System</small
                >
              </div>
  
              <div class="control-separator-bottom"></div>

              <div class="form-group">
                <label for="exampleInputEmail1">Patient Table</label>
                <input
                  type="file"
                  class="form-control"
                  placeholder="Enter email"
                  (change)="btnImportPatient_OnClick($event)"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >Record From Old Vet Cloud System</small
                >
              </div>

              <div class="control-separator-bottom"></div>

              <div class="form-group">
                <label for="exampleInputEmail1">Item Table</label>
                <input
                  type="file"
                  class="form-control"
                  placeholder="Enter email"
                  (change)="btnImportItem_OnClick($event)"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >Record From Old Vet Cloud System</small
                >
              </div>

              <div class="control-separator-bottom"></div>

              <div class="form-group">
                <label for="exampleInputEmail1">Service Table</label>
                <input
                  type="file"
                  class="form-control"
                  placeholder="Enter email"
                  (change)="btnImportItemService_OnClick($event)"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >Record From Old Vet Cloud System</small
                >
              </div>

              <div class="control-separator-bottom"></div>

              <div class="form-group">
                <label for="exampleInputEmail1">SOAP From SQL</label>
                <input
                  type="file"
                  class="form-control"
                  placeholder="Enter email"
                  (change)="btnImportPatientSOAP_OnClick($event)"
                />
                <small id="emailHelp" class="form-text text-muted"
                  >Record From Old Vet Cloud System</small
                >
              </div>

              <div class="control-separator-bottom"></div>

            </p-fieldset>

          </div>

          <div class="col-lg-12">
            <button class="btn btn-primary" type="reset">Reset</button>
          </div>
        </div>
      </form>
    </perfect-scrollbar>
  </div>
</div>
