.required-color{

    color: red;
    font-weight: bold;
  }
  
  .editable-color{
  
    color: #007ad9;
    font-weight: bold;
    cursor: pointer;
  }
  
  th{
  
    text-align: center;
  }
  
  td, th{
  
    font-size: 13px;
  }
  
  