<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      {{ ModelDisplayName }} &nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px;"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-3">
                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.Name"
                  name="Name"
                  caption="Name"
                  [readOnly]="false"
                  [required]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>

                <div class="control-separator-bottom"></div>

                <app-check-box
                  [(ngModel)]="CurrentObject.IsFullAccess"
                  name="IsFullAccess"
                  caption="Full Access"
                  oid_Control="e67608b4-ce46-4a4a-aacb-f88b891d926c"
                  labelPosition="top"
                >
                </app-check-box>

                <div class="control-separator-bottom"></div>

                <app-check-box
                  [(ngModel)]="CurrentObject.IsActive"
                  name="IsActive"
                  caption="Active"
                  oid_Control="e67608b4-ce46-4a4a-aacb-f88b891d926c"
                  labelPosition="top"
                >
                </app-check-box>

                <div class="control-separator-bottom"></div>
              </div>

              <div class="col-lg-9">
                <p-tabView>
                  <p-tabPanel
                    header="Modules"
                    class="oid-control tab-panel-custom"
                  >
                    <p-menubar [model]="userRoleDetailMenu"></p-menubar>
                    <p-table
                      [value]="CurrentObject.UserRole_Detail"
                      selectionMode="single"
                      styleClass="p-datatable-sm"
                      [selection]="selUserRoleDetail"
                      dataKey="ID_Model"
                      [scrollable]="true"
                      rowHover="true"
                      scrollHeight="280px"
                      [style]="{
                        'background-color': 'gray'
                      }"
                    >
                      <ng-template pTemplate="header">
                        <tr style="text-align: center">
                          <th pSortableColumn="Name_Model">Module Name</th>
                          <th style="width: 70px">View</th>
                          <th style="width: 70px">Delete</th>
                          <th style="width: 70px">Create</th>
                          <th style="width: 70px">Edit</th>
                          <th style="width: 70px"></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-userRoleDetail>
                        <tr [pSelectableRow]="userRoleDetail">
                          <td>{{ userRoleDetail.Name_Model }}</td>
                          <td style="width: 70px; text-align: center">
                            <app-check-box
                              [(ngModel)]="userRoleDetail.IsView"
                              name="IsView"
                              caption=""
                              labelPosition="top"
                            >
                            </app-check-box>
                          </td>
                          <td style="width: 70px; text-align: center">
                            <app-check-box
                              [(ngModel)]="userRoleDetail.IsCreate"
                              name="IsCreate"
                              caption=""
                              labelPosition="top"
                            >
                            </app-check-box>
                          </td>
                          <td style="width: 70px; text-align: center">
                            <app-check-box
                              [(ngModel)]="userRoleDetail.IsEdit"
                              name="IsEdit"
                              caption=""
                              labelPosition="top"
                            >
                            </app-check-box>
                          </td>
                          <td style="width: 70px; text-align: center">
                            <app-check-box
                              [(ngModel)]="userRoleDetail.IsDelete"
                              name="IsDelete"
                              caption=""
                              labelPosition="top"
                            >
                            </app-check-box>
                          </td>
                          <td style="width: 70px; text-align: center">
                            <button
                              class="btn btn-danger"
                              (click)="
                                btnDeleteUserRoleDetail_onClick(userRoleDetail)
                              "
                            >
                              <span class="fa fa-trash"></span>
                            </button>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </p-tabPanel>

                  <p-tabPanel
                    header="Report"
                    class="oid-control tab-panel-custom"
                  >
                    <p-menubar [model]="userRoleReportMenu"></p-menubar>
                    <p-table
                      [value]="CurrentObject.UserRole_Reports"
                      selectionMode="single"
                      styleClass="p-datatable-sm"
                      [selection]="selUserRoleReport"
                      dataKey="ID_Report"
                      [scrollable]="true"
                      rowHover="true"
                      scrollHeight="280px"
                      [style]="{
                        'background-color': 'gray'
                      }"
                    >
                      <ng-template pTemplate="header">
                        <tr style="text-align: center">
                          <th>Report</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-userRoleReport>
                        <tr [pSelectableRow]="userRoleReport">
                          <td>{{ userRoleReport.Name_Report }}</td>
                          <td style="width: 70px; text-align: center">
                            <button
                              class="btn btn-danger"
                              (click)="
                                btnDeleteUserRoleReport_onClick(userRoleReport)
                              "
                            >
                              <span class="fa fa-trash"></span>
                            </button>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </p-tabPanel>
                </p-tabView>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Comment" class="oid-control tab-panel-custom">
            <div class="p-grid" [style.padding.px]="10">
              <div style="margin-bottom: 5px" class="ui-g-12 oid-control">
                <app-text-area
                  [(ngModel)]="CurrentObject.Comment"
                  name="Comment"
                  caption="Comment"
                  labelPosition="top"
                ></app-text-area>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>

<look-up-dialog-box #lookUpDialogBox></look-up-dialog-box>
