<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-12">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <div class="row">
    <div class="col-lg-6">
      <admin-lte-datebox
        name="Date"
        caption="Petsa"
        format="MMM. dd, yyyy hh:mm a"
        [initialValue]="CurrentObject.Date"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datebox>

      <admin-lte-texbox
        name="Name_FilingStatus"
        caption="Status"
        [readonly]="true"
        [initialValue]="CurrentObject.Name_FilingStatus"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>
    </div>

    <div class="col-lg-6">
      <admin-lte-texbox
        name="Name"
        caption="Name"
        [initialValue]="CurrentObject.Name"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-texbox
        name="CompanyName"
        caption="Company"
        [initialValue]="
          currentResidentRequest_CommunityTaxCertificate.CompanyName
        "
        (onModelChanged)="
          currentResidentRequest_CommunityTaxCertificate_onModelChanged($event)
        "
      >
      </admin-lte-texbox>
      <admin-lte-texbox
        name="PositionName"
        caption="Position"
        [initialValue]="
          currentResidentRequest_CommunityTaxCertificate.PositionName
        "
        (onModelChanged)="
          currentResidentRequest_CommunityTaxCertificate_onModelChanged($event)
        "
      >
      </admin-lte-texbox>
    </div>

    <div class="col-lg-6"></div>

    <div class="col-lg-6">
      <admin-lte-numberbox
        name="AnnualIncomeAmount"
        caption="Annual Income"
        [initialValue]="
          currentResidentRequest_CommunityTaxCertificate.AnnualIncomeAmount
        "
        (onModelChanged)="
          currentResidentRequest_CommunityTaxCertificate_onModelChanged($event)
        "
      >
      </admin-lte-numberbox>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>
