<div class="card">
  <menubar
    *ngIf="loading != true"
    [items]="menuItems"
    (onClick)="initmenubar_OnClick($event)"
  >
  </menubar>

  <div class="card-body p-0">
    <table class="table table-head-fixed text-nowrap">
      <thead>
        <tr>
          <th style="width: 100px">Petsa</th>
          <th>Pangalan ng Residente</th>
          <th style="width: 100px">Petsa ng Kapanganakan</th>
          <th style="width: 200px">Kasarian</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rowData of dataSource; index as i"
          (click)="onRowClick(rowData)"
        >
          <td class="text-center">
            {{ rowData.DateCreated | date: "MM/dd/yyyy hh:mm a" }}
          </td>
          <td>{{ rowData.Name }}</td>
          <td class="text-center">
            {{ rowData.DateBirth | date: "MM/dd/yyyy" }}
          </td>
          <td class="text-center">{{ rowData.Name_Gender }}</td>
        </tr>
      </tbody>
    </table>
    <br /><br /><br /><br /><br /><br /><br />
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
