<custom-dialog-box
  #CustomDialogBox
  size="md"
  title="Change Status"
  [closeOnPositiveButton]="false"
  [childTemplate]="addItemChildTemplate"
  (onPositiveButtonClick)="onPositiveButtonClick($event)"
>
</custom-dialog-box>

<ng-template #addItemChildTemplate>
  <div class="row">
    <div class="col-12">
      <app-select-box
        #WaitingStatus_ID_FilingStatus_SelectBox
        [(ngModel)]="CurrentObject.WaitingStatus_ID_FilingStatus"
        name="WaitingStatus_ID_FilingStatus"
        caption="Waiting List Status"
        [required]="true"
        [option]="WaitingStatus_ID_FilingStatus_SelectBoxOption"
        labelPosition="top"
        (onValueChanged)="WaitingStatus_ID_FilingStatus_SelectBox_ValueChanged($event)"
      >
      </app-select-box>
    </div>
  </div>
</ng-template>
