<custom-dialog-box
  #CustomDialogBox
  size="md"
  title="Edit User Account"
  [closeOnPositiveButton]="false"
  [childTemplate]="addItemChildTemplate"
  (onPositiveButtonClick)="onPositiveButtonClick($event)"
>
</custom-dialog-box>

<ng-template #addItemChildTemplate>
  <app-form #appForm [CurrentObject]="CurrentObject">
    <p-tabView>
      <p-tabPanel header="User Account" class="oid-control tab-panel-custom">
        <app-text-box
          [(ngModel)]="CurrentObject.Username"
          name="Username"
          caption="Username"
          labelPosition="top"
          [required]="true"
        ></app-text-box>

        <div class="control-separator-bottom"></div>

        <app-text-box
          [(ngModel)]="CurrentObject.Password"
          name="Password"
          caption="Password"
          labelPosition="top"
          [required]="true"
        ></app-text-box>

        <div class="control-separator-bottom"></div>
      </p-tabPanel>
    </p-tabView>
  </app-form>
</ng-template>
