<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="../../index3.html" class="navbar-brand text-white">
        <img
          src="assets/admin-lte/dist/img/AdminLTELogo.png"
          alt="AdminLTE Logo"
          class="brand-image img-circle elevation-3"
          style="opacity: 0.8"
        />
        <span class="brand-text font-weight-light">&nbsp;&nbsp;E-Barangay</span>
      </a>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse"></div>
    </div>
  </nav>
  <!-- /.navbar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 553px">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>
  <!-- /.content-wrapper -->
</div>
