<div class="form-group">
  <div class="custom-control custom-checkbox">
    <input
      class="custom-control-input"
      [name]="name"
      [readonly]="readonly"
      type="checkbox"
      id="{{ name }}"
      [(ngModel)]="value"
      (ngModelChange)="_onModelChanged($event)"
    />
    <label for="{{ name }}" class="custom-control-label"
      >{{ caption }}</label
    >
  </div>
</div>
