tr{

    height: 20px;
}

th{

    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

td{
    word-wrap:break-word;
    font-size: 11px;
}

.row-detail{

    cursor: pointer;
}

.col-id{

    width: 100px;
    text-align: center;
}

.footer-text{

    padding-left: 3px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: bold;
}

.filter-buttons {
    button {
        margin-left: 3px;
    }
}

.hide-filter {
    .main-box {
        width: 100%!important;
        height: 100%!important;
    }
    .filter-box {
        display: none;
    }
}