<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      {{ ModelDisplayName }} &nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="ui-g">
              <div class="ui-g-4">
                <p-fieldset legend="Information" class="with-caption">
                  <app-text-box
                    [(ngModel)]="CurrentObject.Code"
                    name="Code"
                    caption="Code"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-date-box
                    [(ngModel)]="CurrentObject.Date"
                    name="Date"
                    caption="Date"
                    [required]="true"
                    labelPosition="top"
                    [show-time]="false"
                  >
                  </app-date-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Name_FilingStatus"
                    name="Name_FilingStatus"
                    caption="Filing Status"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>

              <div class="ui-g-4">
                <p-fieldset legend="Purchase Order" class="with-caption">
                  <app-lookup-box
                    #ID_Patient_LookUpBox
                    [(ngModel)]="CurrentObject.ID_PurchaseOrder"
                    name="ID_PurchaseOrder"
                    caption="Purchase Order #"
                    [required]="true"
                    [option]="ID_PurchaseOrder_LookupBoxOption"
                    (onSelectedItem)="
                      ID_PurchaseOrder_LookUpBox_onSelectedItem($event)
                    "
                    labelPosition="top"
                  >
                  </app-lookup-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Name_Supplier"
                    name="Name_Supplier"
                    caption="Supplier"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Comment" class="oid-control tab-panel-custom">
            <div class="p-grid" [style.padding.px]="10">
              <div style="margin-bottom: 5px" class="ui-g-12 oid-control">
                <app-text-area
                  [(ngModel)]="CurrentObject.Comment"
                  name="Comment"
                  caption="Comment"
                  labelPosition="top"
                ></app-text-area>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Others" class="oid-control tab-panel-custom">
            <div class="p-grid" [style.padding.px]="10">
              <div style="margin-bottom: 5px" class="ui-g-4">
                <app-date-box
                  [(ngModel)]="CurrentObject.DateCreated"
                  name="DateCreated"
                  caption="Date Created"
                  [readOnly]="true"
                  labelPosition="top"
                  [show-time]="true"
                >
                </app-date-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.CreatedBy_Name_User"
                  name="CreatedBy_Name_User"
                  caption="Created By"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>

                <div class="control-separator-bottom"></div>

                <app-date-box
                  [(ngModel)]="CurrentObject.DateModified"
                  name="DateModified"
                  caption="Date Modified"
                  [readOnly]="true"
                  labelPosition="top"
                  [show-time]="true"
                >
                </app-date-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.LastModifiedBy_Name_User"
                  name="LastModifiedBy_Name_User"
                  caption="Last Modified By"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>
              </div>

              <div style="margin-bottom: 5px" class="ui-g-4">
                <app-date-box
                  [(ngModel)]="CurrentObject.DateApproved"
                  name="DateApproved"
                  caption="Date Approved"
                  [readOnly]="true"
                  labelPosition="top"
                  [show-time]="true"
                >
                </app-date-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.ApprovedBy_Name_User"
                  name="ApprovedBy_Name_User"
                  caption="Approved By"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>

                <div class="control-separator-bottom"></div>

                <app-date-box
                  [(ngModel)]="CurrentObject.DateCanceled"
                  name="DateCanceled"
                  caption="Date Canceled"
                  [readOnly]="true"
                  labelPosition="top"
                  [show-time]="true"
                >
                </app-date-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.CanceledBy_Name_User"
                  name="CanceledBy_Name_User"
                  caption="Canceled By"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>

        <p-tabView>
          <p-tabPanel header="Detail" class="oid-control tab-panel-custom">
            <p-menubar
              [model]="detailMenu"
              *ngIf="detailMenu.length > 0"
              styleClass="d-flex justify-content-end"
            >
            </p-menubar>

            <p-table
              [value]="CurrentObject.ReceivingReport_Detail"
              dataKey="ID"
              editMode="row"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="text-align: center">Item / Service</th>
                  <th style="width: 80px; text-align: center">Qty</th>
                  <th style="width: 150px; text-align: center">Price</th>
                  <th style="width: 150px; text-align: center">Amount</th>
                  <th style="width: 80px"></th>
                </tr>
              </ng-template>

              <ng-template
                pTemplate="body"
                let-ReceivingReport_Detail
                let-editing=""
                let-ri="rowIndex"
              >
                <tr [pEditableRow]="ReceivingReport_Detail">
                  <td pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <div class="ui-inputgroup">
                          <input
                            pInputText
                            readonly
                            type="text"
                            placeholder="Select Item"
                            [(ngModel)]="ReceivingReport_Detail.Name_Item"
                          />

                          <span
                            class="ui-inputgroup-addon"
                            (click)="
                              CellItemIcon_onClick(ReceivingReport_Detail)
                            "
                          >
                            <i class="fa fa-fw fa-list"></i>
                          </span>
                        </div>
                      </ng-template>

                      <ng-template pTemplate="output">
                        <span class="editable-color">{{
                          ReceivingReport_Detail.Name_Item
                        }}</span>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td pEditableColumn class="text-center">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input
                          type="number"
                          min="0"
                          [(ngModel)]="ReceivingReport_Detail.Quantity"
                          [readonly]="appForm.isDisabled"
                          class="text-center"
                          (change)="
                            CellQuantity_onChanged(ReceivingReport_Detail)
                          "
                        />
                      </ng-template>

                      <ng-template pTemplate="output">
                        <span
                          [ngClass]="
                            ReceivingReport_Detail.Quantity == 0
                              ? 'required-color'
                              : 'editable-color'
                          "
                          >{{ ReceivingReport_Detail.Quantity }}</span
                        >
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td pEditableColumn class="text-right">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input
                          pInputText
                          type="number"
                          class="text-right"
                          mask="separator.2"
                          thousandSeparator=","
                          [readonly]="appForm.isDisabled"
                          [(ngModel)]="ReceivingReport_Detail.UnitPrice"
                          (change)="
                            CellUnitPrice_onChanged(ReceivingReport_Detail)
                          "
                        />
                      </ng-template>

                      <ng-template pTemplate="output">
                        <span class="editable-color">
                          {{
                            ReceivingReport_Detail.UnitPrice
                              | currency: "PHP":"symbol-narrow":"1.2"
                          }}
                        </span>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td class="text-right">
                    {{
                      ReceivingReport_Detail.Amount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td style="text-align: center">
                    <button
                      pButton
                      type="button"
                      icon="pi pi-times"
                      (click)="onRowDeleting(ReceivingReport_Detail)"
                      class="p-button-rounded p-button-text"
                    ></button>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="footer">
                <tr *ngIf="CurrentObject.ReceivingReport_Detail.length == 0">
                  <td
                    colspan="5"
                    style="text-align: center; color: red; font-weight: bold"
                  >
                    <span style="cursor: pointer" (click)="doAddItem()">
                      ( No Detail )
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" style="text-align: right">SubTotal</td>

                  <td style="text-align: right">
                    {{
                      CurrentObject.SubTotal
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td></td>
                </tr>
                <tr *ngIf="true">
                  <td colspan="3" style="text-align: right">Discount Rate</td>
                  <td pEditableColumn style="padding: 0px">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <app-number-box
                          [(ngModel)]="CurrentObject.DiscountRate"
                          name="DiscountRate"
                          caption=""
                          labelPosition="top"
                          [ngStyle]="{
                            'margin-bottom': '5px'
                          }"
                          [readOnly]="appForm.isDisabled"
                          (onChange)="
                            DiscountRate_onControlValue_Changed($event)
                          "
                        >
                        </app-number-box>
                      </ng-template>

                      <ng-template pTemplate="output">
                        <div
                          class="editable-color"
                          style="
                            width: auto;
                            text-align: right;
                            padding-right: 11px;
                          "
                        >
                          {{ CurrentObject.DiscountRate }} %
                        </div>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td style="width: 80px"></td>
                </tr>
                <tr *ngIf="true">
                  <td colspan="3" style="text-align: right">Discount Amount</td>
                  <td pEditableColumn style="padding: 0px">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <app-number-box
                          [(ngModel)]="CurrentObject.DiscountAmount"
                          name="DiscountAmount"
                          caption=""
                          labelPosition="top"
                          [ngStyle]="{
                            'margin-bottom': '5px'
                          }"
                          [readOnly]="appForm.isDisabled"
                          (onChange)="
                            DiscountAmount_onControlValue_Changed($event)
                          "
                        >
                        </app-number-box>
                      </ng-template>

                      <ng-template pTemplate="output">
                        <div
                          class="editable-color"
                          style="
                            width: auto;
                            text-align: right;
                            padding-right: 11px;
                          "
                        >
                          {{
                            CurrentObject.DiscountAmount
                              | currency: "PHP":"symbol-narrow":"1.2"
                          }}
                        </div>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td style="width: 80px"></td>
                </tr>
                <tr>
                  <td colspan="3" style="text-align: right">Total Amount</td>

                  <td style="text-align: right">
                    {{
                      CurrentObject.TotalAmount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td></td>
                </tr>
                <tr *ngIf="IsShowTaxScheme">
                  <td colspan="3" style="text-align: right">Tax Scheme</td>
                  <td pEditableColumn style="padding: 0px">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <app-select-box
                          #ID_TaxScheme_SelectBox
                          [(ngModel)]="CurrentObject.ID_TaxScheme"
                          name="ID_TaxScheme"
                          caption=""
                          [readOnly]="appForm.isDisabled"
                          [option]="ID_TaxScheme_SelectBoxOption"
                          labelPosition="top"
                          (onValueChanged)="
                            ID_TaxScheme_SelectBox_ValueChanged($event)
                          "
                        >
                        </app-select-box>
                      </ng-template>

                      <ng-template pTemplate="output">
                        <div
                          class="editable-color"
                          style="
                            width: auto;
                            text-align: right;
                            padding-right: 11px;
                          "
                        >
                          ( {{ CurrentObject.Name_TaxScheme }} )
                        </div>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td style="width: 80px"></td>
                </tr>
                <tr *ngIf="IsShowTaxScheme">
                  <td colspan="3" style="text-align: right">VAT Amount</td>

                  <td style="text-align: right">
                    {{
                      CurrentObject.VatAmount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td></td>
                </tr>
                <tr *ngIf="IsShowTaxScheme">
                  <td colspan="3" style="text-align: right">Net Amount</td>

                  <td style="text-align: right">
                    {{
                      CurrentObject.NetAmount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>

                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>

<look-up-dialog-box #purchaseOrderLookUpDialog></look-up-dialog-box>
