<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [ngTemplateOutlet]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Impormasyon</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_Infomation_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Karagdagan na Impormasyon</h3>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplate_PersonalInfomation_fields"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Name"
    caption="Pangalan ng Negosyo"
    [readonly]="false"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    name="DateValid"
    caption="Valid Until"
    format="MMM. dd, yyyy hh:mm a"
    [initialValue]="CurrentObject.DateValid"
    (onModelChanged)="control_onModelChanged($event)"
>
</admin-lte-datebox>
</ng-template>

<ng-template #contentTemplate_PersonalInfomation_fields>
  <admin-lte-texbox
    name="Resident_BusinessOwner"
    caption="Owner Name"
    [initialValue]="CurrentObject.Resident_BusinessOwner"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <!-- <admin-lte-texbox
    name="BusinessName"
    caption="Business Name"
    [initialValue]="CurrentObject.BusinessName"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox> -->

  <admin-lte-texbox
    name="RequestedBy"
    caption="Requested By"
    [initialValue]="CurrentObject.RequestedBy"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="ContactNumber"
    caption="Contact Number"
    [initialValue]="CurrentObject.ContactNumber"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-textarea
    name="Address"
    caption="Address"
    [initialValue]="CurrentObject.Address"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>


<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="rightDropDown_onMainButtonClick()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>
