<div class="modal-header">
    <b><h5 class="modal-title">{{title}}</h5></b>
    <button type="button" class="close" aria-label="Close" (click)="Close()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [style.height.px]="height">
    <app-detail-view #detailView [isModal]="true" 
    [dvParams]="dvParams" [ID_CurrentObject]="ID_CurrentObject"
    [ID_DetailView]="ID_DetailView" [showTitle]="false" [isHideNewButton]="isHideNewButton"></app-detail-view>
</div>
<div class="modal-footer">
    <div>
        <p-button label="Save & Close" icon="mdi mdi-content-save-move" styleClass="ui-button-info" (click)="SaveAndClose()"></p-button>
        <p-button label="Close" styleClass="ui-button-secondary" [style.margin-left.px]="5" (click)="Close()"></p-button>
    </div>
</div>