<div class="row">
  <div class="col-lg-12">
    <admin-lte-texbox
      name="Name"
      caption="Pangalan ng Residente"
      [initialValue]="Record.Name"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-texbox>
  </div>

  <div class="col-lg-6">
    <admin-lte-datebox
      name="Petsa ng Kapanganakan"
      caption="Date Birth"
      format="MMM. dd, yyyy"
      [initialValue]="Record.DateBirth"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-datebox>
  </div>

  <div class="col-lg-6">
    <admin-lte-data-lookupbox
      name="ID_Gender"
      displayName="Kasarian"
      caption="Gender"
      [initialValue]="Record.ID_Gender"
      [initialDisplayValue]="Record.Name_Gender"
      [option]="ID_Gender_LookupboxOption"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-data-lookupbox>
  </div>
</div>
