<nav class="navbar navbar-expand navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="../../index3.html" class="nav-link">
        <i class="fas fa-file"></i>&nbsp;&nbsp;New
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fas fa-sync"></i>&nbsp;&nbsp;Refresh
      </a>
    </li>
  </ul>
  <!-- <ul class="navbar-nav ml-auto">
    <li (click)="btnHideFilter_OnClick()" class="nav-item">
      <span class="btn-filter nav-link">
        <i class="fas fa-filter"></i>
      </span>
    </li>
  </ul> -->
</nav>
