<div class="d-flex flex-column expand">
    <div class="module-header" style="height: auto;">
        <p-toolbar>
            <div class="ui-toolbar-group-left">
                <div class="title">
                    Calendar View
                </div>
            </div>
            <div class="ui-toolbar-group-right">
            </div>
        </p-toolbar>
        <p-menubar [model]="menuItems">
        </p-menubar>
    </div>
    <div class="d-flex flex-fill module-content" style="height:1px;">
        <div class="expand" style="overflow-y: auto;overflow-x: hidden;padding:3px">
            <full-calendar #fullCalendar *ngIf='calendarVisible' [options]='calendarOptions'></full-calendar>
        </div>
    </div>
</div>