<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      {{ ModelDisplayName }} &nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-4">
                <p-fieldset legend="Information" class="with-caption">
                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Code"
                    name="Code"
                    caption="Code"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-date-box
                    [(ngModel)]="CurrentObject.Date"
                    name="Date"
                    caption="Date"
                    [required]="true"
                    labelPosition="top"
                    [show-time]="false"
                  >
                  </app-date-box>

                  <div class="control-separator-bottom"></div>

                  <app-lookup-box
                    #ID_Client_LookUpBox
                    [(ngModel)]="CurrentObject.ID_Client"
                    name="ID_Client"
                    caption="Client"
                    [required]="true"
                    [option]="ID_Client_LookupBoxOption"
                    labelPosition="top"
                    (onSelectedItem)="
                      ID_Client_LookUpBox_onSelectedItem($event)
                    "
                    (onRemoveSelectedItem)="
                      ID_Client_LookUpBox_onRemoveSelectedItem($event)
                    "
                  >
                  </app-lookup-box>

                  <!-- <div class="control-separator-bottom"></div>

                  <app-lookup-box
                    #ID_Patient_LookUpBox
                    [(ngModel)]="CurrentObject.ID_Patient"
                    name="ID_Patient"
                    caption="Patient"
                    [required]="true"
                    [option]="ID_Patient_LookupBoxOption"
                    labelPosition="top"
                  >
                  </app-lookup-box> -->

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
              <div class="col-lg-4">
                <p-fieldset legend="Patient" class="with-caption">
                  <div class="control-separator-bottom"></div>
                  <patient-table
                    [IsDisabled]="appForm.isDisabled"
                    [ID_Client]="CurrentObject.ID_Client"
                    [CurrentObject]="CurrentObject"
                    [ItemsServices]="
                      CurrentObject.Patient_Confinement_ItemsServices
                    "
                    [Patients]="CurrentObject.Patient_Confinement_Patient"
                    (onChanged)="PatientTable_onChange($event)"
                  ></patient-table>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
              <div class="col-lg-4">
                <p-fieldset legend="Status" class="with-caption">
                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Name_FilingStatus"
                    name="Name_FilingStatus"
                    caption="Status"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-date-box
                    *ngIf="
                      CurrentObject.ID_FilingStatus == FILINGSTATUS_CANCELLED
                    "
                    [(ngModel)]="CurrentObject.DateCanceled"
                    name="DateCanceled"
                    caption="Date Canceled"
                    [readOnly]="true"
                    labelPosition="top"
                    [show-time]="false"
                  >
                  </app-date-box>

                  <app-date-box
                    *ngIf="
                      CurrentObject.ID_FilingStatus == FILINGSTATUS_DISCHARGE
                    "
                    [(ngModel)]="CurrentObject.DateDischarge"
                    name="DateDischarge"
                    caption="Date Discharged"
                    [readOnly]="true"
                    labelPosition="top"
                    [show-time]="false"
                  >
                  </app-date-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.BillingInvoice_Name_FilingStatus"
                    name="BillingInvoice_Name_FilingStatus"
                    caption="Bill Status"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>

                <p-fieldset legend="Billing Information" class="with-caption">
                  <app-text-box
                    *ngIf="CurrentObject.ID_BillingInvoice"
                    [(ngModel)]="CurrentObject.Code_BillingInvoice"
                    name="Code_BillingInvoice#"
                    caption="Bi #"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    *ngIf="CurrentObject.ID_BillingInvoice"
                    [(ngModel)]="CurrentObject.Status_BillingInvoice"
                    name="Status_BillingInvoice"
                    caption="Status"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    [(ngModel)]="CurrentObject.SubTotal"
                    name="SubTotal"
                    caption="Total Conf. Amount"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '15px'
                    }"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    *ngIf="CurrentObject.ID_BillingInvoice"
                    [(ngModel)]="CurrentObject.SubTotal"
                    name="SubTotal"
                    caption="Initial Billing Amount"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    *ngIf="CurrentObject.ID_BillingInvoice"
                    [(ngModel)]="CurrentObject.TotalAmount_BillingInvoice"
                    name="TotalAmount_BillingInvoice"
                    caption="Final Billing Amount"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
            </div>
          </p-tabPanel>

          <div class="control-separator-bottom"></div>
        </p-tabView>

        <p-tabView>
          <p-tabPanel header="Deposit" class="oid-control tab-panel-custom">
            <div class="control-separator-bottom"></div>

            <confinement-client-deposit-list
              #confinementclientdepositlist
            ></confinement-client-deposit-list>

            <div class="control-separator-bottom"></div>
          </p-tabPanel>
        </p-tabView>
        <p-tabView>
          <div class="control-separator-bottom"></div>
          <p-tabPanel header="SOAP" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-12">
                <ng-template [ngTemplateOutlet]="SOAPTable"></ng-template>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Medications" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-12">
                <ng-template [ngTemplateOutlet]="Items"></ng-template>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Services" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-12">
                <ng-template [ngTemplateOutlet]="Services"></ng-template>
              </div>
            </div>
          </p-tabPanel>

          <div class="control-separator-bottom"></div>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>

<ng-template #InformationField> </ng-template>
<ng-template #StatusField> </ng-template>

<ng-template #SOAPTable>
  <confinement-soap-table
    #confinementsoaptable
    [ID_FilingStatus]="CurrentObject.ID_FilingStatus"
    [configOptions]="configOptions"
  ></confinement-soap-table>
</ng-template>

<ng-template #Items>
  <confinement-items-services
    [ItemServiceMode]="ConfimentItemServiceModeEnum_Item"
    [patients]="CurrentObject.Patient_Confinement_Patient"
    [itemsandservices]="CurrentObject.Patient_Confinement_ItemsServices"
    [IsDisabled]="appForm.isDisabled"
    (onChanged)="ConfinementItem_onChanged()"
  ></confinement-items-services>
</ng-template>

<ng-template #Services>
  <confinement-items-services
    [ItemServiceMode]="ConfimentItemServiceModeEnum_Service"
    [itemsandservices]="CurrentObject.Patient_Confinement_ItemsServices"
    [patients]="CurrentObject.Patient_Confinement_Patient"
    [IsDisabled]="appForm.isDisabled"
    (onChanged)="ConfinementService_onChanged()"
  ></confinement-items-services>
</ng-template>

<confinement-items-services-dialog></confinement-items-services-dialog>

<look-up-dialog-box #itemServiceDialog></look-up-dialog-box>

<client-credit-adjustment-dialogbox
  #clientcreditadjustmentdialogbox
></client-credit-adjustment-dialogbox>

<loading-screen [isLoading]="isLoading"></loading-screen>
