<report-viewer
  #reportviewer
  [filterContentTemplate]="filterContentTemplate"
  (onbtnSaveClick)="onbtnSaveClick()"
  (onbtnClearClick)="onbtnClearClick()"
></report-viewer>


<ng-template #filterContentTemplate>
  <admin-lte-datebox
    name="DateStart_BillingInvoice"
    caption="Date Start"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateStart_BillingInvoice"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-datebox
    *ngIf="CurrentObject['DateStart_BillingInvoice']"
    name="DateEnd_BillingInvoice"
    caption="Date End"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateEnd_BillingInvoice"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

</ng-template>
