<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      {{ ModelDisplayName }} &nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-3">
                <div class="control-separator-bottom"></div>

                <app-number-box
                  [(ngModel)]="CurrentObject.ID"
                  name="ID"
                  caption="ID"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-number-box>

                <div class="control-separator-bottom"></div>

                <app-lookup-box
                  [(ngModel)]="CurrentObject.ID_Employee"
                  name="ID_Employee"
                  caption="Employee"
                  [required]="true"
                  [option]="ID_Employee_LookupBoxOption"
                  labelPosition="top"
                >
                </app-lookup-box>

                <div class="control-separator-bottom"></div>

                <app-text-box
                  [(ngModel)]="CurrentObject.Username"
                  name="Username"
                  caption="Username"
                  [readOnly]="false"
                  [required]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-box>

                <div class="control-separator-bottom"></div>

                <app-check-box
                  [(ngModel)]="CurrentObject.IsRequiredPasswordChangedOnLogin"
                  name="IsRequiredPasswordChangedOnLogin"
                  caption="Required Password Changed on Login"
                  labelPosition="top"
                >
                </app-check-box>

                <div class="control-separator-bottom"></div>

                <app-check-box
                  [(ngModel)]="CurrentObject.IsActive"
                  name="IsActive"
                  caption="Active"
                  oid_Control="e67608b4-ce46-4a4a-aacb-f88b891d926c"
                  labelPosition="top"
                >
                </app-check-box>

                <div class="control-separator-bottom"></div>
              </div>

              <div class="col-lg-9">
                <p-tabView>
                  <p-tabPanel
                    header="Role"
                    class="oid-control tab-panel-custom"
                  >
                    <p-menubar [model]="user_RoleMenu"></p-menubar>
                    <p-table
                      [value]="CurrentObject.User_Roles"
                      selectionMode="single"
                      styleClass="p-datatable-sm"
                      [selection]="selUser_Role"
                      dataKey="ID"
                      [scrollable]="true"
                      rowHover="true"
                      scrollHeight="300px"
                      [style]="{
                        height: '300px',
                        'background-color': 'gray'
                      }"
                    >
                      <ng-template pTemplate="header">
                        <tr style="text-align: center">
                          <th pSortableColumn="Name_UserRole">User Role</th>
                          <th style="width: 70px">Active</th>
                          <th style="width: 70px"></th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-user_Role>
                        <tr [pSelectableRow]="user_Role">
                          <td>{{ user_Role.Name_UserRole }}</td>
                          <td style="width: 70px; text-align: center">
                            <app-check-box
                              [(ngModel)]="user_Role.IsActive"
                              name="IsActive"
                              caption=""
                              labelPosition="top"
                            >
                            </app-check-box>
                          </td>
                          <td style="width: 70px; text-align: center">
                            <button
                              class="btn btn-danger"
                              (click)="btnDeleteUser_Role_onClick(user_Role)"
                            >
                              <span class="fa fa-trash"></span>
                            </button>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </p-tabPanel>
                </p-tabView>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Comment" class="oid-control tab-panel-custom">
            <div class="p-grid" [style.padding.px]="10">
              <div style="margin-bottom: 5px" class="ui-g-12 oid-control">
                <app-text-area
                  [(ngModel)]="CurrentObject.Comment"
                  name="Comment"
                  caption="Comment"
                  labelPosition="top"
                ></app-text-area>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>

<look-up-dialog-box #lookUpDialogBox></look-up-dialog-box>
